<link rel="stylesheet" type="text/css" href="AngularJS/Cotizacion/Styles/cotizacion.css">
<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link type="text/css" href="Libraries/css/ladda/ladda-themeless.min.css" rel="stylesheet">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title title-xs">Cotizaciones</span>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div align="right">
                <p>
                    <label>Descripción de la Orden:</label>
                    <span>{{numeroOrden}}</span>
                </p>
                <p>
                    <label>Número Economico: </label>
                    <span>{{detalleOrden.numeroEconomico}}</span>
                </p>
                <p>
                    <label>Placas:</label>
                    <span>{{detalleOrden.placas}}</span>
                </p>
                <p>
                    <label>VIN:</label>
                    <span>{{detalleOrden.vin}}</span>
                </p>
                <p>
                    <label>Marca-Modelo: </label>
                    <span>{{detalleOrden.marca}} {{detalleOrden.submarca}} - {{detalleOrden.modelo}}</span>
                </p>
                <p>
                    <label>Versión: </label>
                    <span>{{detalleOrden.version}}</span>
                </p>
                <p>
                    <label>Tipo de Unidad:</label>
                    <span>{{detalleOrden.tipoUnidad}}</span>
                </p>
                <p>
                    <label>Zona:</label>
                    <span>{{detalleOrden.zona}}</span>
                </p>
                <p ng-show="userData.geolocalizacion == 1">
                    <label>Ubicación:</label>
                    <span>{{detalleOrden.gps}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                            <br/>
                            <br/>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="show_nuevaCotizacion">
                                <select class="form-control" ng-model="tipoDeCita" ng-options="tipoCita.tipoCita for tipoCita in tipoCita track by tipoCita.tipoCita">
                                    <option value=''>Selecionar Tipo de Cotización</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="show_nuevaCotizacion">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar taller"> <span class="input-group-btn"> <button type="button" class="btn btn-primary" ng-click="seleccionarTipoCotizacion(tipoDeCita)"><i class="fa fa-search"></i>
                                        </button> </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <br/>
                            <div align="left">
                                <label>Taller:</label>
                                <span>{{datosTaller.razonSocial}}</span>
                                <br/>
                                <label>Dirección: </label>
                                <span>{{datosTaller.direccion}}</span>
                                <br/>
                                <label>Zona: </label>
                                <span>{{modeloMarca}}</span>
                            </div>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="mostrarTalleres">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTableTalleres">
                                    <thead>
                                        <tr>
                                            <th>Taller</th>
                                            <th>Dirección</th>
                                            <th>Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="taller in totalOrdenes" ng-class="">
                                            <td>{{ taller.razonSocial }}</td>
                                            <td>{{ taller.direccion }}</td>
                                            <td align="center">
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio3" value="taller.idTaller" name="radioInline3" checked="" ng-model="grua" ng-click="seleccionarTaller(taller)">
                                                    <label for="inlineRadio3"> </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-show="mostrarPartida">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="input-group" ng-show="false">
                                    <input type="text" class="form-control" placeholder="Introduzca servicio o refacción"> <span class="input-group-btn"> <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>
                                        </button> </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7" ng-show="mostrarPartida">
                            <div class="table-responsive ">
                                <table class="table table-bordered dataTablePartidasTalleres ">
                                    <thead>
                                        <tr>
                                            <th>No.Partida</th>
                                            <th>No.Parte</th>
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="partidasTaller in partidasTaller" ng-class="">
                                            <td>{{ partidasTaller.partida }}</td>
                                            <td>{{ partidasTaller.noParte }}</td>
                                            <td>{{ partidasTaller.descripcion }}</td>
                                            <td>{{ partidasTaller.costo | currency}}</td>
                                            <td>
                                                <button class="btn btn-success btn-sm" type="button" id="btnCotizar" ng-click="partidaSeleccionada(partidasTaller)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br/>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" ng-show="mostrarPartida">
                            <!--                             <div class="table-responsive scroll_content">
                                <table class="table table-bordered dataTableItem dataTablePartidasSeleccionadas">
                                    <thead>
                                        <tr>
                                            <th>No.Partida</th>
                                            <th>Cantidad</th>
                                            <th>Precio Unitario</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="lstPartidaSeleccionada in lstPartidaSeleccionada">
                                            <td><a title='<img alt="image" class="img-circle" src="image/profile/man2.jpg"> {{lstPartidaSeleccionada.idPartida}}' data-toggle="popover" data-placement="top" data-trigger="hover" data-content='Descripcion: {{lstPartidaSeleccionada.descripcion}}'>{{ lstPartidaSeleccionada.idPartida }} </a></td>
                                            <td>{{ lstPartidaSeleccionada.cantidad }}</td>
                                            <td>{{ lstPartidaSeleccionada.precioUnitario | currency}}</td>
                                            <td>
                                                <button class="btn btn-success btn-xs" type="button" id="btnCotizar" ng-click="agregarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                                <button class="btn btn-danger btn-xs" type="button" id="btnCotizar" ng-click="quitarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Quitar">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table class="table invoice-total">
                                <tbody>
                                    <tr>
                                        <td><strong>SUBTOTAL :</strong></td>
                                        <td>{{ subTotal | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>I.V.A :</strong></td>
                                        <td>{{ ivaSubTotal | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>TOTAL :</strong></td>
                                        <td>{{ total | currency}}</td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" ng-show="show_nuevaCotizacion">
                                <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="nuevaCotizacion()" data-toggle="tooltip" tooltip="Buscar" id="btnCotizar" tooltip-placement="right">Guardar Cotización</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" ng-show="!show_nuevaCotizacion">
                                <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="actulizacionDetalle()" data-toggle="tooltip" tooltip="Buscar" id="btnCotizar" tooltip-placement="right">Actualizar Cotización</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 partidasSel">
                                <div class="table-responsive scroll_content">
                                    <table class="table dataTableItem">
                                        <thead>
                                            <tr>
                                                <th>No. Partida</th>
                                                <th>Cantidad</th>
                                                <th>Costo Unitario</th>
                                                <th>Precio Unitario</th>
                                                <th class="ancho text-center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="lstPartidaSeleccionada in lstPartidaSeleccionada">
                                                <td><a title='<img alt="image" class="img-circle" src="image/profile/man2.jpg"> {{lstPartidaSeleccionada.idPartida}}' data-toggle="popover" data-placement="top" data-trigger="hover" data-content='Descripcion: {{lstPartidaSeleccionada.descripcion}}'>{{ lstPartidaSeleccionada.numPartida }} </a></td>
                                                <td>{{ lstPartidaSeleccionada.cantidad }}</td>
                                                <td class="text-right">{{ lstPartidaSeleccionada.costoUnitario | currency}}</td>
                                                <td class="text-right">{{ lstPartidaSeleccionada.precioUnitario | currency}}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn-success btn btn-xs" type="button" ng-click="agregarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
                                                        <button class="btn-danger btn btn-xs" ng-click="quitarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Quitar"><span class="glyphicon glyphicon-minus"></span></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="pietabla">
                                            <tr class="text-right">
                                                <td colspan="2">
                                                    <strong>SUBTOTAL :</strong>
                                                </td>
                                                <td>{{ subTotalCosto | currency}}</td>
                                                <td>{{ subTotalPrecio | currency}}</td>
                                                <td> </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td colspan="2">
                                                    <strong>I.V.A :</strong>
                                                </td>
                                                <td>{{ ivaSubTotalCosto | currency}}</td>
                                                <td>{{ ivaSubTotalPrecio | currency}}</td>
                                                <td> </td>
                                            </tr>
                                            <tr class="text-right">
                                                <td colspan="2">
                                                    <strong>TOTAL :</strong>
                                                </td>
                                                <td>{{ totalCosto | currency}}</td>
                                                <td>{{ totalPrecio | currency}}</td>
                                                <td> </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="spiner-example" style="margin-top: 35%">
            <div class="sk-spinner sk-spinner-wandering-cubes">
                <div class="sk-cube1"></div>
                <div class="sk-cube2"></div>
            </div>
            <div style="color:white;margin-left: 46%; margin-top:20px">Cargando...</div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.scroll_content').slimscroll({
        color: '#00f',
        size: '4px',
        height: '400px',
        alwaysVisible: true
    });
    setTimeout(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    }, 500);
});
</script>
<!-- hola -->
