<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link href="AngularJS/Cotizacion/Styles/cotizacionConsulta.css" rel="stylesheet">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Aprobaciones<span class="subtitle">Call Center / Taller</span></span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <label class="font-noraml">Zona</label>
                    <select class="form-control m-b" id="zona1" ng-model="zonaSelected" ng-change="SeleccionoZona(1)"
                    ng-options="zona.idZona as zona.nombre for zona in zonas">
                        <option value="">Seleccione una Zona</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-show='TieneZona2'>
                    <label class="font-noraml">Zona</label>
                    <select class="form-control m-b" id="zona2" ng-model="zonaSelected" ng-change="SeleccionoZona(2)"
                    ng-options="zona.idZona as zona.nombre for zona in zonas2">
                        <option value="">Seleccione una Zona</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-show='TieneZona3'>
                    <label class="font-noraml">Zona</label>
                    <select class="form-control m-b" id="zona3" ng-model="zonaSelected" ng-change="SeleccionoZona(3)"
                    ng-options="zona.idZona as zona.nombre for zona in zonas3">
                        <option value="">Seleccione una Zona</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-show='TieneZona4'>
                    <label class="font-noraml">Zona</label>
                    <select class="form-control m-b" id="zona4" ng-model="zonaSelected" ng-change="SeleccionoZona(4)"
                    ng-options="zona.idZona as zona.nombre for zona in zonas4">
                        <option value="">Seleccione una Zona</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
                    <label class="font-noraml">Ejecutivo</label>
                    <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected"
                    ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                        <option value="">Seleccione un Ejecutivo</option>
                    </select>
                </div>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="divfechaMes">
                  <label class="font-noraml">Mes</label>
                  <div class="input-group date">
                      <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
              </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                    <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                        <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                        <span class="input-group-addon"> a </span>
                        <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="calendar">
                    <label class="font-noraml">Fecha</label>
                    <div class="input-group date">
                        <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control" ng-model="fecha" ng-change="FechaChange()" calendar>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                    <label class="font-noraml">Buscar</label>
                    <br>
                    <button id="btnBuscar" busy="Buscando.." type="button"
                        class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1);consultaCotizacionesFiltros(0,0)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label class="font-noraml">Número de Orden</label>
                    <input type="text" placeholder="Buscar Orden" class="form-control" id="numeroTrabajo" ng-model="numeroTrabajo" ng-enter="">
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                    <label class="font-noraml">Buscar</label>
                    <br>
                    <button id="btnBuscar" busy="Buscando.." type="button"
                        class="btn btn-primary" ng-click="consultaCotizacionesFiltros(1,1);consultaCotizacionesFiltros(1,0)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 radio radio-warning">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><input type="radio" value="" id="rdTodas" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdTodas"> Todos </label></div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input type="radio" value="1" id="rdPendientes" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdPendientes"> Pendientes </label></div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input type="radio" value="2" id="rdEnProceso" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdEnProceso"> En Proceso </label></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <br/>
                        <tabset>
                            <tab heading="Con Presupuesto" index="0">
                                <br>
                                <div class="table-responsive">
                                  <table class="table table-striped table-bordered table-hover" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}">
                                      <thead>
                                          <tr>
                                              <th>Cliente</th>
                                              <th>Consecutivo</th>
                                              <th>Número de la Orden</th>
                                              <th>Número Económico</th>
                                              <th>Zona</th>
                                              <th>Taller</th>
                                              <th>Tipo Orden</th>
                                              <th>Fecha</th>
                                              <th>No. de Aprobación</th>
                                              <th>Marca - Modelo</th>
                                              <th>Estatus</th>
                                              <th>Cotizó</th>
                                              <th>Porcentaje de Aprobación</th>
                                              <th>Estadistica P/A/R/T</th>
                                              <th hidden="hidden">Estatus Filtro</th>
                                              <th>Tiempo en Espera / Tiempo Transcurrido</th>
                                              <th>Abrir</th>
                                          </tr>
                                      </thead>
                                      <tbody  id="dataTableCotizaciones">
                                          <tr ng-repeat="cotizacion in cotizaciones | filter: {'EstatusAprobacion' : filtroEstatus}">
                                              <td>{{cotizacion.Cliente}}</td>
                                              <td>{{cotizacion.Consecutivo}}</td>
                                              <td>{{cotizacion.NumeroOrden}}</td>
                                              <td>{{cotizacion.NumeroEconomico}}</td>
                                              <td>{{cotizacion.Zona}}</td>
                                              <td>{{cotizacion.Taller}}</td>
                                              <td>{{cotizacion.TipoOrden}}</td>
                                              <td>{{cotizacion.Fecha | date:'dd-MM-yyyy HH:mm'}}</td>
                                              <td>{{cotizacion.numeroCotizacion}}</td>
                                              <td>{{cotizacion.MarcaModelo}}</td>
                                              <td>{{cotizacion.Estatus }}</td>
                                              <td>{{cotizacion.Cotizo }}</td>
                                              <td>{{cotizacion.Porcentaje}} %</td>
                                              <td>{{cotizacion.Estadistica}}</td>
                                              <td hidden="hidden">{{cotizacion.EstatusAprobacion}}}</td>
                                              <td>{{cotizacion.TiempoEspera}}</td>
                                              <td>
                                                  <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.NumeroOrden)">
                                                      <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                                  </button>
                                                  <button class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                                      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                                  </button>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                </div>
                            </tab>
                            <tab heading="Sin Presupuesto" index="0">
                                <br>
                                <div class="table-responsive">
                                  <table class="table table-striped table-bordered table-hover" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}">
                                      <thead>
                                          <tr>
                                              <th>Cliente</th>
                                              <th>Consecutivo</th>
                                              <th>Número de la Orden</th>
                                              <th>Número Económico</th>
                                              <th>Zona</th>
                                              <th>Taller</th>
                                              <th>Tipo Orden</th>
                                              <th>Fecha</th>
                                              <th>No. de Aprobación</th>
                                              <th>Marca - Modelo</th>
                                              <th>Estatus</th>
                                              <th>Cotizó</th>
                                              <th>Porcentaje de Aprobación</th>
                                              <th>Estadistica P/A/R/T</th>
                                              <th hidden="hidden">Estatus Filtro</th>
                                              <th>Tiempo en Espera / Tiempo Transcurrido</th>
                                              <th>Abrir</th>
                                          </tr>
                                      </thead>
                                      <tbody ="dataTableCotizacionesSinPresupuesto">
                                          <tr ng-repeat="cotizacion in cotizacionesSinPresupuesto | filter: {'EstatusAprobacion' : filtroEstatus}">
                                              <td>{{cotizacion.Cliente}}</td>
                                              <td>{{cotizacion.Consecutivo}}</td>
                                              <td>{{cotizacion.NumeroOrden}}</td>
                                              <td>{{cotizacion.NumeroEconomico}}</td>
                                              <td>{{cotizacion.Zona}}</td>
                                              <td>{{cotizacion.Taller}}</td>
                                              <td>{{cotizacion.TipoOrden}}</td>
                                              <td>{{cotizacion.Fecha | date:'dd-MM-yyyy HH:mm'}}</td>
                                              <td>{{cotizacion.numeroCotizacion}}</td>
                                              <td>{{cotizacion.MarcaModelo}}</td>
                                              <td>{{cotizacion.Estatus }}</td>
                                              <td>{{cotizacion.Cotizo }}</td>
                                              <td>{{cotizacion.Porcentaje}} %</td>
                                              <td>{{cotizacion.Estadistica}}</td>
                                              <td hidden="hidden">{{cotizacion.EstatusAprobacion}}}</td>
                                              <td>{{cotizacion.TiempoEspera}}</td>
                                              <td>
                                                  <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.NumeroOrden)">
                                                      <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                                  </button>
                                                  <button ng-hide="userData.idTipoUsuario == 4 || userData.idTipoUsuario == 3" class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                                      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                                  </button>
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>ieruhfieur</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>ieruhfie</td>
                                            <td>24 %</td>
                                            <td>ieruhfie</td>
                                            <td hidden="hidden">1</td>
                                            <td>tyfu</td>
                                            <td>
                                                <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.NumeroOrden)">
                                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                                </button>
                                                <button class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(1)">
                                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                                </button>
                                            </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                </div>
                              </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
