<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link href="AngularJS/Cotizacion/Styles/cotizacionConsulta.css" rel="stylesheet">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Aprobaciones<span class="subtitle">Call Center / Taller</span></span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Filtros de Búsqueda
              </div>
              <div class="panel-body">
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                        <label class="font-noraml">{{zona.etiqueta}}</label>
                        <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                            <option value="0">Seleccione una Zona</option>
                            <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                              {{z.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <label class="font-noraml">Ejecutivo</label>
                        <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected"
                        ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                            <option value="">Seleccione un Ejecutivo</option>
                        </select>
                    </div>
                </div>
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="divfechaMes">
                      <label class="font-noraml">Mes</label>
                      <div class="input-group date">
                          <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                  </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                        <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                            <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                            <span class="input-group-addon"> a </span>
                            <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="calendar">
                        <label class="font-noraml">Fecha</label>
                        <div class="input-group date">
                            <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()" calendar>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                      <br>
                        <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                            class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior espacioSuperior">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <label class="font-noraml">Número de Orden</label>
                        <input type="text" placeholder="Buscar Orden" class="form-control" id="numeroTrabajo" ng-model="numeroTrabajo" ng-enter="">
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                      <br>
                        <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                            class="btn btn-primary" ng-click="consultaCotizacionesFiltros(1,1)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7 radio radio-warning">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><input type="radio" value="" id="rdTodas" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdTodas"> Todos </label></div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input type="radio" value="1" id="rdPendientes" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdPendientes"> Pendientes </label></div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input type="radio" value="2" id="rdEnProceso" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdEnProceso"> En Proceso </label></div>
                    </div>
                </div>
              </div>
          </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="cotizaciones.length > 0">
              <br/>
              <tabset>
                  <tab heading="Con Presupuesto" index="0">
                      <br>
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover ordenesPresupuesto" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Consecutivo</th>
                                    <th>Número de la Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>Taller</th>
                                    <th>Tipo Orden</th>
                                    <th>Fecha</th>
                                    <th>No. de Aprobación</th>
                                    <th>Marca - Modelo</th>
                                    <th>Estatus</th>
                                    <th>Cotizó</th>
                                    <th>Porcentaje de Aprobación</th>
                                    <th>Estadistica P/A/R/T</th>
                                    <th hidden="hidden">Estatus Filtro</th>
                                    <th>Tiempo en Espera / Tiempo Transcurrido</th>
                                    <th>Abrir</th>
                                </tr>
                            </thead>
                            <tbody  id="dataTableCotizaciones_">
                                <tr ng-repeat="cotizacion in cotizaciones"><!--| filter: {'idEstatusCotizacion' : filtroEstatus-->
                                    <td>{{cotizacion.nombreCliente}}</td>
                                    <td>{{cotizacion.consecutivoOrden}}</td>
                                    <td>{{cotizacion.numeroOrden}}</td>
                                    <td>{{cotizacion.numeroEconomico}}</td>
                                    <td>{{cotizacion.nombreZona}}</td>
                                    <td>{{cotizacion.nombreTaller}}</td>
                                    <td>{{cotizacion.nombreTipoORden}}</td>
                                    <td>{{cotizacion.fechaEstatusActual | date:'dd-MM-yyyy HH:mm'}}</td>
                                    <td>{{cotizacion.numeroAprobacion}}</td>
                                    <td>{{cotizacion.marcaUnidad}}</td>
                                    <td>{{cotizacion.nombreEstatusCotizacion}}</td>
                                    <td>{{cotizacion.nombreCompleto}}</td>
                                    <td>{{cotizacion.porcentaje}} %</td>
                                    <td>{{cotizacion.estadistica}}</td>
                                    <td hidden="hidden">{{cotizacion.idEstatusCotizacion}}}</td>
                                    <td>{{cotizacion.TiempoEspera}}</td>
                                    <td class='center'>
                                        <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.numeroOrden)">
                                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                        </button>
                                        <button class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                  </tab>
                  <tab heading="Sin Presupuesto" index="0">
                      <br>
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover ordenesSinPresupuesto" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Consecutivo</th>
                                    <th>Número de la Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>Taller</th>
                                    <th>Tipo Orden</th>
                                    <th>Fecha</th>
                                    <th>No. de Aprobación</th>
                                    <th>Marca - Modelo</th>
                                    <th>Estatus</th>
                                    <th>Cotizó</th>
                                    <th>Porcentaje de Aprobación</th>
                                    <th>Estadistica P/A/R/T</th>
                                    <th hidden="hidden">Estatus Filtro</th>
                                    <th>Tiempo en Espera / Tiempo Transcurrido</th>
                                    <th>Abrir</th>
                                </tr>
                            </thead>
                            <tbody ="dataTableCotizacionesSinPresupuesto">
                                <tr ng-repeat="cotizacion in cotizacionesSinPresupuesto | filter: {'EstatusAprobacion' : filtroEstatus}">
                                  <td>{{cotizacion.nombreCliente}}</td>
                                  <td>{{cotizacion.consecutivoOrden}}</td>
                                  <td>{{cotizacion.numeroOrden}}</td>
                                  <td>{{cotizacion.numeroEconomico}}</td>
                                  <td>{{cotizacion.nombreZona}}</td>
                                  <td>{{cotizacion.nombreTaller}}</td>
                                  <td>{{cotizacion.nombreTipoORden}}</td>
                                  <td>{{cotizacion.fechaCita | date:'dd-MM-yyyy HH:mm'}}</td>
                                  <td>{{cotizacion.numeroCotizacion}}</td>
                                  <td>{{cotizacion.marcaUnidad}}</td>
                                  <td>{{cotizacion.estatusCotizacion}}</td>
                                  <td>{{cotizacion.nombreCompleto}}</td>
                                  <td>{{cotizacion.porcentaje}} %</td>
                                  <td>{{cotizacion.estadistica}}</td>
                                  <td hidden="hidden">{{cotizacion.EstatusAprobacion}}}</td>
                                  <td>{{cotizacion.TiempoEspera}}</td>
                                  <td>
                                      <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.idOrden)">
                                          <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                      </button>
                                        <button ng-hide="userData.idTipoUsuario == 4 || userData.idTipoUsuario == 3" class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>

                  </tab>
              </tabset>
            </div>

        </div>
    </div>
</div>
