<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link href="AngularJS/Cotizacion/Styles/cotizacionConsulta.css" rel="stylesheet">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title"> Aprobaciones</span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="btn-group pull-right" style="padding:0 10px 10px 0 ;" ng-hide="hideSwitchBtn">
    <button type="button" ng-class="btnSwitch.classCosto" ng-click="btnSwitch.showCostoVenta=true;
        btnSwitch.classVenta='btn btn-default';
        btnSwitch.classCosto='btn btn-success'">Costo</button>
    <button type="button" ng-class="btnSwitch.classVenta" ng-click="btnSwitch.showCostoVenta=false;
        btnSwitch.classVenta='btn btn-success';
        btnSwitch.classCosto='btn btn-default'">Venta</button>
    </div>

         <div class="row">
            <div class="contenedorFiltros">
                <div class="col-xs-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ibox">
                        <!-- Filtros -->
                        <div class="panel panel-default">
                            <div class="ibox-title " role="tab" id="headingOne">
                                <h5>Filtros de búsqueda</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </a>
                                </div>
                            </div>
                          <div id="collapseOne" class="ibox-content bottomBorder collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                                    <label class="font-noraml">{{zona.etiqueta}}</label>
                                    <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                                        <option value="0">Seleccione</option>
                                        <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                                          {{z.nombre}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="userData.idRol == 2">
                                    <label class="font-noraml">Ejecutivo</label>
                                    <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected"
                                    ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                                        <option value="">Seleccione un Ejecutivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row espacioInferior">
                              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="divfechaMes">
                                  <label class="font-noraml">Mes</label>
                                  <div class="input-group date">
                                      <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  </div>
                              </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                                    <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                                        <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                                        <span class="input-group-addon"> a </span>
                                        <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="calendar">
                                    <label class="font-noraml">Fecha</label>
                                    <div class="input-group date">
                                        <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()" calendar>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                  <br>
                                    <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                        class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!--div class="row">
            <div class="contenedorFiltros">
                <div class="col-xs-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ibox">
                            <div class="ibox-title " role="tab" id="headingOne">
                                <h5>Filtros de búsqueda</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="ibox-content bottomBorder collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                                    <label class="font-noraml">{{zona.etiqueta}}</label>
                                    <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                                        <option value="0">Seleccione</option>
                                        <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                                          {{z.nombre}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="userData.idRol == 2">
                                    <label class="font-noraml">Ejecutivo</label>
                                    <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected"
                                    ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                                        <option value="">Seleccione un Ejecutivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior">
                              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="divfechaMes">
                                  <label class="font-noraml">Mes</label>
                                  <div class="input-group date">
                                      <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  </div>
                              </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                                    <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                                        <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                                        <span class="input-group-addon"> a </span>
                                        <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="calendar">
                                    <label class="font-noraml">Fecha</label>
                                    <div class="input-group date">
                                        <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()" calendar>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                  <br>
                                    <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                        class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior espacioSuperior" ng-show="false">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <label class="font-noraml">Número de Orden</label>
                                    <input type="text" placeholder="Buscar Orden" class="form-control" id="numeroTrabajo" ng-model="numeroTrabajo" ng-enter="">
                                </div>
                                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                  <br>
                                    <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                        class="btn btn-primary" ng-click="consultaCotizacionesFiltros(1,1)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>

                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
          </div-->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
            </div>
            <div class=" row col-xs-12 col-sm-6 col-md-6 col-lg-6 radio radio-info" >
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><input type="radio" value="" id="rdTodas" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdTodas"> Todos </label></div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input type="radio" value="1" id="rdPendientes" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdPendientes"> Pendientes </label></div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><input type="radio" value="2" id="rdEnProceso" name="opcionEstatus" ng-model="filtroEstatus"><label for="rdEnProceso"> En Proceso </label></div>
            </div>

            <div class=" row col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="userData.presupuesto == 0">
              <div class="table-responsive">
                <table class="table table-bordered table-hover ordenesPresupuesto1" cg-busy="{promise:promise,message:message}">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Consecutivo</th>
                            <th>Número de la Orden</th>
                            <th>Número Económico</th>
                            <th>Zona</th>
                            <th>Tipo Orden</th>
                            <th>Fecha Creación Orden</th>
                            <th>No. de Aprobación</th>
                            <!-- <th>Marca - Modelo</th> -->
                            <th>Estatus</th>
                            <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                            <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                            <th>Cotizó</th>
                            <th>Porcentaje de Aprobación</th>
                            <th>Estadistica P/A/R/T</th>
                            <th hidden="hidden">Estatus Filtro</th>
                            <th ng-if="userData.tiempoAsignado == 1" >Tiempo en Espera / Tiempo Transcurrido </th>
                            <!-- <th>Abrir</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cotizacion in cotizaciones  | filter: {'idEstatusCotizacion' : filtroEstatus}" >
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreCliente}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.consecutivoOrden}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroOrden}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroEconomico}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreZona}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreTipoOrdenServicio}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.fechaCreacionOden | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroCotizacion}}</td>
                            <!-- <td>{{cotizacion.marcaUnidad}}  {{cotizacion.modeloUnidad}}</td> -->
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreEstatusCotizacion}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-show="btnSwitch.showCostoVenta" class="text-right">{{cotizacion.costo | currency}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-hide="btnSwitch.showCostoVenta" class="text-right">{{cotizacion.venta | currency}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreUsuario}}</td>
                            <!-- <td><i class="fa fa-pie-chart" aria-hidden="true"></i></td> -->
                            <td ng-mouseover="getStatistics(cotizacion.numeroCotizacion)" title="{{estadistica}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></td>
                            <td hidden="hidden">{{cotizacion.idEstatusCotizacion}}</td>
                            <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-if="userData.tiempoAsignado == 1">{{cotizacion.tiempoEspera}} días</td>

                            <!--td class='center'>
                                <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.numeroOrden)">
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                </button>
                                <button class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                </button>
                            </td-->
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="userData.presupuesto == 1">
              <br/>
              <tabset>
                  <tab heading="Con Presupuesto" index="0">
                        <br/>
                        <div class="row sumatorias" >
                            <div class="col-xs-3 pull-right">
                                <div ng-hide="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_conPresupuesto |  currency: "$"}}</h2>
                                    <small>precio venta s/iva</small>
                                </div>
                                <div ng-show="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_costo_conPresupuesto |  currency: "$"}}</h2>
                                    <small>precio costo s/iva</small>
                                </div>
                            </div>
                        </div>

                      <br>
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover ordenesPresupuesto" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Consecutivo</th>
                                    <th>Número de la Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>Tipo Orden</th>
                                    <th>Fecha Creación Orden</th>
                                    <th>No. de Aprobación</th>
                                    <!-- <th>Marca - Modelo</th>-->
                                    <th>Estatus</th>
                                    <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                    <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                    <th>Cotizó</th>
                                    <!-- <th>Porcentaje de Aprobación</th> -->
                                    <th>Estadistica P/A/R/T</th>
                                    <th hidden="hidden">Estatus Filtro</th>
                                    <th ng-if="userData.tiempoAsignado == 1">Tiempo en Espera / Tiempo Transcurrido</th>
                                    <!--th>Abrir</th-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cotizacion in cotizaciones | filter: {'idEstatusCotizacion' : filtroEstatus, 'tienePresupuesto' : 1}" >
                                    <!-- | filter: {'idEstatusCotizacion' : filtroEstatus, 'tienePresupuesto' : 1} -->
                                    <!-- | dateRange : rInicioFilter : rFinFilter -->
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreCliente}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.consecutivoOrden}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroOrden}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroEconomico}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreZona}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreTipoOrdenServicio}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.fechaCreacionOden | date:'dd-MM-yyyy HH:mm' : 'UTC'}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroCotizacion}}</td>
                                    <!-- <td>{{cotizacion.marcaUnidad}} {{cotizacion.modeloUnidad}}</td>-->
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreEstatusCotizacion}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-show="btnSwitch.showCostoVenta" class="text-right">{{cotizacion.costo | currency}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-hide="btnSwitch.showCostoVenta" class="text-right">{{cotizacion.venta | currency}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreUsuario}}</td>
                                    <!-- <td><i class="fa fa-pie-chart" aria-hidden="true"></i>''</td> -->
                                    <td ng-mouseover="getStatistics(cotizacion.numeroCotizacion)" title="{{estadistica}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></td>
                                    <td hidden="hidden">{{cotizacion.idEstatusCotizacion}}}</td>
                                    <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-if="userData.tiempoAsignado == 1">{{cotizacion.tiempoEspera}} días</td>
                                    <!--td class='center'>
                                        <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.numeroOrden)">
                                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                        </button>
                                        <button class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                        </button>
                                    </td-->
                                </tr>
                            </tbody>
                        </table>
                      </div>
                  </tab>
                  <tab heading="Sin Presupuesto" index="0">
                      <br/>
                        <div class="row sumatorias" >
                            <div class="col-xs-3 pull-right">
                                <div ng-hide="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_sinPresupuesto |  currency: "$"}}</h2>
                                    <small>precio venta s/iva</small>
                                </div>
                                <div ng-show="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_costo_sinPresupuesto |  currency: "$"}}</h2>
                                    <small>precio costo s/iva</small>
                                </div>
                            </div>
                        </div>

                      <br>

                      <div class="table-responsive">
                        <table class="table table-bordered table-hover ordenesSinPresupuesto" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}" title="Ver detalles">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Consecutivo</th>
                                    <th>Número de la Orden</th>
                                    <th>Número Económico</th>
                                    <th>Zona</th>
                                    <th>Tipo Orden</th>
                                    <th>Fecha Creación Orden</th>
                                    <th>No. de Aprobación</th>
                                    <!-- <th>Marca - Modelo</th> -->
                                    <th>Estatus</th>
                                    <!-- <th>Motivo</th> -->
                                    <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                    <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                    <th>Cotizó</th>
                                    <!-- <th>Porcentaje de Aprobación</th> -->
                                    <th>Estadistica P/A/R/T</th>
                                    <th hidden="hidden">Estatus Filtro</th>
                                    <th ng-if="userData.tiempoAsignado == 1">Tiempo en Espera / Tiempo Transcurrido</th>
                                    <!--th>Abrir</th-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cotizacion in cotizaciones | filter: {'idEstatusCotizacion' : filtroEstatus, 'tienePresupuesto' : 2}" > <!-- -->
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreCliente}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.consecutivoOrden}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroOrden}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroEconomico}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreZona}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreTipoORden}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.fechaCreacionOden | date:'dd-MM-yyyy HH:mm'}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.numeroCotizacion}}</td>
                                  <!-- <td>{{cotizacion.marcaUnidad}} {{cotizacion.modeloUnidad}}</td> -->
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreEstatusCotizacion}}</td>
                                  <!-- <td>{{cotizacion.motivoPresupuesto}}</td> -->
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-show="btnSwitch.showCostoVenta" class="text-right">{{cotizacion.costo | currency}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-hide="btnSwitch.showCostoVenta" class="text-right">{{cotizacion.venta | currency}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles">{{cotizacion.nombreUsuario}}</td>
                                  <!-- <td><i class="fa fa-percent" aria-hidden="true"></i></td> -->
                                  <td ng-mouseover="getStatistics(cotizacion.numeroCotizacion)" title="{{estadistica}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></td>
                                  <td hidden="hidden">{{cotizacion.idEstatusCotizacion}}}</td>
                                  <td ng-click="AutorizacionDetalle(cotizacion.numeroOrden)" title="Ver detalles" ng-if="userData.tiempoAsignado == 1">{{cotizacion.tiempoEspera}} días</td>
                                  <!--td>
                                    <button class="btn btn-success" type="button" id="btnEnviar" tooltip="Ver Cotizacion" ng-click="AutorizacionDetalle(cotizacion.numeroOrden)">
                                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="modal"></span>
                                    </button>
                                    <button class="btn btn-danger btnTerminarTrabajo" type="button" tooltip="Cancelar Aprobación" ng-click="cancelarAprobacion(cotizacion.idCotizacion)">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" data-toggle="modal"></span>
                                    </button>
                                    </td-->
                                </tr>
                            </tbody>
                        </table>
                      </div>

                  </tab>
              </tabset>
            </div>

        </div>
</div>
