<link rel="stylesheet" href="AngularJS/Cita/Styles/nuevaCita.css">
<div ng-init="init()" class="animated fadeInRight">
    <div class="headTitleTallerCita">
        <span class="title title-xs"> Citas</span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div ng-class="{ 'col-xs-12 col-sm-12 col-md-12 col-lg-12': mostrarMapa == false, 'col-xs-12 col-sm-6 col-md-6 col-lg-6': mostrarMapa == true }">
                        <!-- class="col-xs-12 col-sm-6 col-md-6 col-lg-6" -->
                        <div class="widget-head-color-box navy-bgv2 p-lg text-center" ng-class="{ 'navy-bgv2-mod': mostrarMapa == false}">
                            <div class="row m-b-md">
                                <h2 class="font-bold no-margins">
                                    Ficha Técnica de Unidad
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="userData.verificacionVehicular == 0">
                                  <div >
                                      <address>
                                          <h3>
                                            <p><strong>No. Económico:</strong> {{detalleUnidad.numeroEconomico}}</p>
                                            <p><strong>Placas:</strong> {{detalleUnidad.placas}}</p>
                                            <p><strong>VIN:</strong> {{detalleUnidad.vin}}</p>
                                            <p><strong>Marca:</strong> {{detalleUnidad.marca}}</p>
                                            <p><strong>Sub Marca:</strong> {{detalleUnidad.subMarca}}</p>
                                            <p><strong>Versión:</strong> {{detalleUnidad.version}}</p>
                                            <p><strong>Modelo:</strong> {{detalleUnidad.modelo}}</p>
                                            <p><strong>Tipo de Unidad:</strong> {{detalleUnidad.nombreTipoUnidad}}</p>
                                            <!-- <strong>Zona:</strong> {{detalleUnidad.zona}}<br><br> -->
                                            <p ng-repeat="z in detalleUnidad.zonasUnidad | orderBy : 'orden'">
                                                <strong>{{z.etiqueta}}:</strong>{{z.nombre}}
                                            </p>
                                            <p ng-show="userData.geolocalizacion == 1"><strong>Ubicación:</strong> {{detalleUnidad.gps}}</p>
                                          </h3>
                                      </address>
                                  </div>
                                </div>

                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-show="userData.verificacionVehicular == 1">
                                  <div >
                                      <address>
                                          <h3>
                                            <p><strong>No. Económico:</strong> {{detalleUnidad.numeroEconomico}}</p>
                                            <p><strong>Placas:</strong> {{detalleUnidad.placas}}</p>
                                            <p><strong>VIN:</strong> {{detalleUnidad.vin}}</p>
                                            <p><strong>Marca:</strong> {{detalleUnidad.marca}}</p>
                                            <p><strong>Sub Marca:</strong> {{detalleUnidad.subMarca}}</p>
                                            <p><strong>Versión:</strong> {{detalleUnidad.version}}</p>
                                            <p><strong>Modelo:</strong> {{detalleUnidad.modelo}}</p>
                                            <p><strong>Tipo de Unidad:</strong> {{detalleUnidad.nombreTipoUnidad}}</p>
                                            <!-- <strong>Zona:</strong> {{detalleUnidad.zona}}<br><br> -->
                                            <p ng-repeat="z in detalleUnidad.zonasUnidad | orderBy : 'orden'">
                                                <strong>{{z.etiqueta}}:</strong>{{z.nombre}}
                                            </p>
                                            <p ng-show="userData.geolocalizacion == 1"><strong>Ubicación:</strong> {{detalleUnidad.gps}}</p>
                                          </h3>
                                      </address>
                                  </div>
                                </div>

                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" ng-show="userData.verificacionVehicular == 1">
                                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6" ng-show="detalleUnidad.verificada">
                                    <div class="widget style1 verde-bg">
                                        <div class="row vertical-align">
                                            <div class="col-xs-3">
                                                <i class="fa fa-check fa-1x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <h2 class="font-bold">Verificada</h2>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6" ng-hide="detalleUnidad.verificada">
                                    <div class="widget style1 rojo-bg">
                                        <div class="row vertical-align">
                                            <div class="col-xs-2">
                                                <i class="fa fa-times fa-1x"></i>
                                            </div>
                                            <div class="col-xs-10 text-right">
                                                <h2 class="font-bold">No Verificada</h2>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="mostrarMapa">
                        <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                                <div class="google-map" id="map1"></div>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="m-t-lg">
                        <h3 class="subTitleP"> Datos Generales</h3>
                    </div>
                    <div class="m-t-md">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label text-derecha">Tipo de Cita:</label>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    <select class="form-control" ng-model="tipoDeCita" ng-options="tipoCita.tipoCita for tipoCita in tipoCita track by tipoCita.tipoCita" ng-change="changeTipoCita(tipoDeCita)" ng-disabled="isEdit">
                                        <option value=''>{{ opcionTipoCita == false ? detalleOrden.nombreTipoCita : 'Seleccionar Tipo de Cita'}} </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Estado de la Unidad:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <select class="form-control" ng-model="estadoDeUnidad" ng-options="estadoUnidad.descripcion for estadoUnidad in estadoUnidad track by estadoUnidad.descripcion" ng-click="opcionEstadoUnidad = true">
                                    <option value=''>{{ opcionEstadoUnidad == false ? detalleOrden.nombreEstadoUnidad : 'Seleccionar Estado de la Unidad'}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!--form class="form-horizontal" ng-show="estadoDeUnidad.idEstadoUnidad == 2 || detalleOrden.idEstadoUnidad == 2">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Requiere Grúa:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio3" value="1" name="radioInline3" checked="" ng-model="grua">
                                    <label for="inlineRadio3"> Si </label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio4" value="0" name="radioInline4" ng-model="grua">
                                    <label for="inlineRadio4"> No </label>
                                </div>
                            </div>
                        </div>
                    </form-->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">{{etiquetaFecha}}:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="input-group date">
                                    <input type="text" class="form-control fondoBlanco" value="" ng-model="fechaCita" ng-change="NoFechaAntigua(fechaCita)" readonly="readonly" calendar>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">{{etiquetaHora}}:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="input-group clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control" value="" ng-model="horaCita" ng-change="NoHoraAntigua(horaCita)">
                                    <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" ng-show="mostrarComentarios">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Comentarios Adicionales:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <input type="text" class="form-control" ng-model="comentarios">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                    <!-- <div class="m-t-lg" ng-hide="userData.idRol == 1 || isEdit == true">
                        <h3 class="subTitleP"> Búsqueda Taller</h3>
                    </div> -->
                    <div class="m-t-lg">
                      <form class="form-horizontal">
                          <div class="form-group" ng-repeat="zona in Zonas | orderBy:'orden'">
                              <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">{{zona.etiqueta}}:</label>
                              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                  <select class="form-control" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden, zona, ZonasSeleccionadas)">
                                      <option value='0'>Seleccionar</option>
                                      <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden -1]" value="{{z.idZona}}">
                                          {{z.nombre}}
                                      </option>
                                  </select>
                              </div>
                          </div>
                      </form>
                      <form class="form-horizontal" ng-show="userData.presupuesto">
                          <div class="form-group">
                              <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label text-derecha">Centro de Trabajo:</label>
                              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                  <select class="form-control" ng-model="centroTrabajo" ng-options="item.idCentroTrabajo as item.nombreCentroTrabajo for item in centrosTrabajo track by item.idCentroTrabajo" ng-click="opcionCentroTrabajo = true">
                                      <option value=''>{{opcionCentroTrabajo == false ? nombreCentroTrabajo : 'Seleccionar'}} </option>
                                  </select>
                              </div>
                          </div>
                      </form>
                    </div>

                    <!-- <form class="form-horizontal" ng-hide="userData.idRol == 1  || isEdit == true">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Especialidad:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-hide="mensajeServicios">
                                <div class="checkbox checkbox-info" ng-repeat="servicio in servicios">
                                    <input id="{{servicio.idServicio}}" type="checkbox" ng-model="servicio.seleccionado" ng-checked="{{servicio.seleccionado}}">
                                    <label for="{{servicio.idServicio}}">{{servicio.nombreServicio}}</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-show="mensajeServicios">
                                <label class="text-danger">{{servicios[0].mensaje}}</label>
                            </div>
                        </div>
                    </form> -->

                    <!-- <form class="form-horizontal" ng-hide="userData.idRol == 1  || isEdit == true">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Buscar Taller:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <input type="text" class="form-control" ng-model="taller">
                            </div>
                        </div>
                    </form> -->
                    <!-- <form class="form-horizontal" ng-hide="userData.idRol == 1  || isEdit == true">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
                                <!--button type="button" class="btn btn-primary pull-right" ng-click="buscarTaller()"><i class="fa fa-search"><strong> Buscar </strong></i>
                                </button-->
                                <!-- <button type="button" class="btn btn-primary pull-right btn-movil m-t-xs space" ng-click="buscarTaller()"><span class="fa fa-search"></span><strong> Buscar</strong></button>
                            </div>
                        </div>
                    </form> -->
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="userData.idRol == 1  || isEdit == true"> -->
                    <!-- <div class="subTitleP" ng-hide="muestraAgendarCita">
                        {{detalleOrden.nombreZonas}}
                    </div>-->
                    <!-- <div class="table-responsive" ng-show="mostrarTabla">
                        <table class="table table-striped table-bordered table-hover talleres" cg-busy="{promise:promise,message:message}">
                            <thead>
                                <th>Taller</th>
                                <th>Nombre Comercial</th>
                                <th>Dirección</th>
                                <th>Especialidad</th>
                                <th ng-show="mostrarAccion">Seleccionar</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="taller in talleres">
                                    <td>{{taller.razonSocial}}</td>
                                    <td>{{taller.nombreComercial}}</td>
                                    <td>{{taller.direccion}}</td>
                                    <td>{{taller.especialidad}}</td>
                                    <td class="text-center" ng-show="mostrarAccion">
                                        <div class="radio radio-info">
                                            <input type="radio" value="" name="opcionEstatus" ng-model="taller.seleccionado" ng-click="sendIdTaller(taller)">
                                            <label></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>  -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- <button type="button" class="btn btn-primary pull-right btn-movil m-t-xs space" ng-click="getModalPartidas(1)" ><span class="glyphicon glyphicon-usd"></span><strong> Pre-orden de servicio {{labelItems}}</strong></button> -->
                    <!-- <button type="button" class="btn btn-primary pull-right btn-movil m-t-xs space" ng-click="getModalPartidas(1)" ng-show="muestraBtnPreOrden && idRol != 1 &&  isEdit == false"><span class="glyphicon glyphicon-usd"></span><strong> Pre-orden de servicio {{labelItems}}</strong></button> -->
                    <button type="button" class="btn btn-primary pull-right btn-movil m-t-xs space" ng-click="getModalPartidas(0)" ng-disabled="disableCita == false"><span class="glyphicon glyphicon-usd"></span><strong> Pre-orden de servicio {{labelItems}}</strong></button>
                    <!-- <button type="button" class="btn btn-danger pull-right btn-movil m-t-xs space">{{labelItems}} Items</button> -->
                    <button type="button" class="btn btn-success pull-right btn-movil m-t-xs space" ng-click="agendarCita()" ng-show="muestraAgendarCita && idRol != 1" ng-disabled="disableCita == false || tipoDeCita == '' || tipoDeCita == undefined || estadoDeUnidad == '' || estadoDeUnidad == undefined || fechaCita == '' || fechaCita == undefined || horaCita == '' || horaCita == undefined " ><span class="glyphicon glyphicon-calendar "></span><strong> Agendar cita</strong></button>
                    <button type="button" class="btn btn-success pull-right btn-movil m-t-xs space" ng-disabled="disableCita == false || tipoDeCita == '' || tipoDeCita == undefined || estadoDeUnidad == '' || estadoDeUnidad == undefined || fechaCita == '' || fechaCita == undefined || horaCita == '' || horaCita == undefined" ng-click="agendarCita()" ng-show="muestraAgendarCita && idRol == 1" ><span class="glyphicon glyphicon-calendar "></span><strong> Agendar cita</strong></button>
                    <button type="button " class="btn btn-success pull-right btn-movil m-t-xs space " ng-hide="muestraAgendarCita " ng-click="actualizarCita() " ng-disabled="disableCita == false"><span class="glyphicon glyphicon-calendar "></span><strong> Actualizar cita</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal cargando-->
<div id="loadModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog" >
        <div class="spiner-example" style="margin-top: 35%">
            <div class="sk-spinner sk-spinner-wandering-cubes">
                <div class="sk-cube1"></div>
                <div class="sk-cube2"></div>
            </div>
            <div style="color:white;margin-left: 46%; margin-top:20px">Cargando...</div>
        </div>
    </div>
</div>
