<link rel="stylesheet" href="AngularJS/Cita/Styles/nuevaCita.css">
<div ng-init="init()" class="animated fadeInRight">
    <div class="headTitleTallerCita">
        <span class="title title-xs"> Citas</span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="widget-head-color-box navy-bgv2 p-lg text-center">
                        <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                                Ficha Técnica de Unidad
                            </h2>
                        </div>
                        <div>
                            <strong>{{'nombre'}}</strong>
                            <address>
                                <h3>
                            <strong>Zona:</strong> {{detalleUnidad.pendiente}}<br><br>
                            <strong>TAR:</strong> {{detalleUnidad.pendiente}}<br><br>
                            <strong>No. TAR:</strong> {{detalleUnidad.pendiente}}<br><br>
                            <strong>Unidad:</strong> {{detalleUnidad.marca}} - {{detalleUnidad.modelo}}<br><br>
                            <strong>No. Económico:</strong> {{detalleUnidad.numeroEconomico}}<br><br>
                            <strong>No. Inventario:</strong> {{detalleUnidad.pendiente}}<br><br>
                            <strong>Ubicación:</strong> {{detalleUnidad.pendiente}}<br><br>
                            <strong>Autotanque:</strong> {{detalleUnidad.pendiente}}<br><br>
                            </h3></address>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="m-t-md">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label text-derecha">Tipo de Cita:</label>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    <select class="form-control" ng-model="tipoDeCita" ng-options="tipoCita.tipoCita for tipoCita in tipoCita track by tipoCita.tipoCita">
                                        <option value=''>Selecionar Tipo de Cita</option>
                                    </select> {{tipoDeCita}}
                                </div>
                            </div>
                        </form>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Estado de la Unidad:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <select class="form-control" ng-model="estadoDeUnidad" ng-options="estadoUnidad.descripcion for estadoUnidad in estadoUnidad track by estadoUnidad.descripcion">
                                    <option value=''>Selecionar el Estado de la Unidad</option>
                                </select>{{estadoDeUnidad}}
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Requiere Grúa:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio3" value="1" name="radioInline3" checked="" ng-model="grua">
                                    <label for="inlineRadio3"> Si </label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio4" value="0" name="radioInline4" ng-model="grua">
                                    <label for="inlineRadio4"> No </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Fecha:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="input-group date">
                                    <input type="text" class="form-control" value="" ng-model="fechaCita" ng-change="validaHoraCita()">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Hora:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="input-group clockpicker" data-autoclose="true">
                                    <input type="text" class="form-control" value="" ng-model="horaCita" ng-change="validaHoraCita()">
                                    <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Comentarios Adicionales:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <input type="text" class="form-control" ng-model="comentarios">
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Servicio:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="checkbox checkbox-warning">
                                    <input id="mecanica" type="checkbox" value="1" ng-model="mecanica">
                                    <label for="mecanica">Mecánica</label>
                                </div>
                                <div class="checkbox checkbox-warning">
                                    <input id="hojalateria" type="checkbox" value="2" ng-model="hojalateria">
                                    <label for="hojalateria">Hojalatería</label>
                                </div>
                                <div class="checkbox checkbox-warning">
                                    <input id="electrica" type="checkbox" value="3" ng-model="electrica">
                                    <label for="electrica">Eléctrica</label>
                                </div>
                                <div class="checkbox checkbox-warning">
                                    <input id="aireAcondicionado" type="checkbox" value="4" ng-model="aireacondicionado">
                                    <label for="aireAcondicionado">Aire Acondicionado</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Zona:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <select class="form-control">
                                    <option value=''>Selecionar Zona</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Buscar Taller:</label>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8H">
                                <div class="input-group">
                                    <input type="text" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>
                                        </button> </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive" ng-hide="userData.idTipoUsuario == 4">
                        <table class="table table-striped table-bordered table-hover dataTableTaller" cg-busy="{promise:promise,message:message}">
                            <thead>
                                <th>Taller</th>
                                <th>Dirección</th>
                                <th>Seleccionar</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="taller in talleres">
                                    <td>{{taller.razonSocial}}</td>
                                    <td>{{taller.direccion}}</td>
                                    <td>
                                        <input type="radio" name="optTaller" ng-click="getTaller(taller.idTaller)" />
                                    </td>
                                </tr>
                                <tr ng-show="edita == 1 && datosCita.direccion != null">
                                    <td>{{datosCita.razonSocial}}</td>
                                    <td>{{datosCita.direccion}}</td>
                                    <td>
                                        <input type="radio" name="optTaller" ng-click="getTaller(datosCita.idTaller)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary pull-right btn-movil m-t-xs" ng-click="getModalPartidas()"><span class="glyphicon glyphicon-usd"></span><strong> Pre-orden de servicio {{labelItems}}</strong></button>
                    <!-- <button type="button" class="btn btn-danger pull-right btn-movil m-t-xs">{{labelItems}} Items</button> -->
                    <button type="button" class="btn btn-success pull-right btn-movil m-t-xs" ng-click="agendarCita()"><span class="glyphicon glyphicon-calendar"></span><strong> Agendar cita</strong></button>
                    <button type="button" class="btn btn-success pull-right btn-movil m-t-xs"><span class="glyphicon glyphicon-calendar"></span><strong> Actualizar cita</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade " id="citaServicioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Pre-orden de servicio</h4>
            </div>
            <div class="modal-body" ng-init="initCitaServicio()">
                <div class="row">
                    <div class="col-xs-5">
                        <input type="text" placeholder="Búsqueda: Servicio/Paquete/Refacción" ng-model="pieza" class="form-control" ng-enter="getPieza(pieza)">
                    </div>
                    <div class="col-xs-0">
                        <button id="btnBuscarPieza" busy="Buscando.." type="button" class="btn btn-primary glyphicon glyphicon-search" ng-click="getPieza(pieza)"></button>
                    </div>
                </div>
                <br/>
                <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTablePiezaTaller">
                            <thead>
                                <th>No.Partida</th>
                                <th>No.Parte</th>
                                <th>Descripción</th>
                                <th>Agregar</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pieza in piezas">
                                    <td>{{ pieza.numeroPartida }}</td>
                                    <td>{{ pieza.numeroParte }}</td>
                                    <td>{{pieza.item}}</td>
                                    <td>
                                        <button class="btn btn-success glyphicon glyphicon-plus" type="button" id="btnCotizar" ng-click="addPieza(pieza)">
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <th>No.Partida</th>
                            <th>No.Parte</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            <tr dir-paginate="pieza in listaPiezas | itemsPerPage:3" pagination-id="listaPiezasSeleccionadas">
                                <td>{{pieza.numeroPartida }}</td>
                                <td>{{pieza.numeroParte}}</td>
                                <td>{{pieza.item}}</td>
                                <td>{{pieza.cantidad}}</td>
                                <td>
                                    <button class="btn btn-danger glyphicon glyphicon-remove" type="button" id="btnCotizar" ng-click="removePieza(pieza.idItem)">
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="paginationTaller">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="listaPiezasSeleccionadas">
                        </dir-pagination-controls>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary pull-right m-t-n-xs" ng-click="generarCitaServicio(pieza)"><span class="glyphicon glyphicon-saved"></span><strong> Generar Pre-orden</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
