<link rel="stylesheet" href="AngularJS/PreordenCotizacion/Styles/preordenCotizacion.css">
<div ng-init="init()" class="animated fadeInRight">
    <div class="headTitleTallerCita">
        <span class="title title-xs">Crear cotizaciones a partir de preorden</span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content">
    <div class="row ">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 ">
            <div class="m-t-lg ">
                <h3 class="subTitleP ">Lista de Partidas de la Preorden</h3>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped table-bordered table-hover partidas " cg-busy="{promise:promise,message:message} ">
                    <thead>
                        <th>Partida</th>
                        <th>No. Parte</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Venta</th>
                        <th>Agregar</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partida in cotizaciones " title='Descripción' data-toggle="popover " data-placement="top " data-trigger="hover " data-content='{{partidasTaller.descripcion}}'>
                            <td>{{partida.partida}}</td>
                            <td>{{partida.noParte}}</td>
                            <td>{{partida.descripcion}}</td>
                            <td>{{partida.cantidad}}</td>
                            <td>{{partida.venta | currency}}</td>
                            <td class="text-center" ng-show = "partida.idTallertmp!= 0 && partida.idTallertmp == 'Q'">
                                <button class="btn btn-danger btn-sm " type="button " id="btnCotizar " ng-click="partidaAgregar(partida) "data-toggle="tooltip " tooltip-placement="top " tooltip="Quitar ">
                                    <span class="glyphicon glyphicon-remove "></span>
                                </button>
                            </td>
                            <td class="text-center" ng-show= "partida.idTallertmp!=0 && partida.idTallertmp!='Q'">
                                <button class="btn btn-success btn-sm " type="button " id="btnCotizar " ng-click="partidaQuitar(partida) "data-toggle="tooltip " tooltip-placement="top " tooltip="Agregar ">
                                    <span class="glyphicon glyphicon-ok "></span>
                                </button>
                            </td>
                            <td class="text-center" ng-show = "partida.idTallertmp== 0">
                                &nbsp;
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ">
            <div class="m-t-lg ">
                <h3 class="subTitleP ">Talleres</h3>
            </div>
            <div class="table-responsive scroll_content partidasSel ">
                <label for="multipleSelect"> Selecciona el Taller: {{tallerSeleccionado.nombreComercial}}</label><br>
                <div class="table-responsive">
                  <table class="table table-bordered table-hover proveedoresTable" cg-busy="{promise:promise,message:message, minDuration: minDuration, delay:delay}">
                      <thead>
                          <tr>
                              <th>Talleres</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="taller in talleres">
                              <td ng-click="selectTaller(taller);">{{taller.nombreComercial}}</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <!-- <select name="multipleSelect" id="multipleSelect" ng-model="tallerSeleccionado" multiple size="15">
                  <option  ng-repeat="taller in talleres"  value="{{taller}}">{{taller.nombreComercial}}</option>

                </select><br> -->
                <!-- <tt>multipleSelect = {{tallerSeleccionado}}</tt><br/> -->
                <br>
                <button type="submit" class="btn btn-primary btn-subir" ng-click="seleccionaPartidas()">
                    <span class="{{class_buttonCargaFactura}}"></span> Selecciona Partidas del proveedor
                </button>
                 <button type="submit" class="btn btn-primary btn-subir" ng-click="agregaTalleres()">
                    <span class="{{class_buttonCargaFactura}}"></span> Enviar a Vista previa
                </button>
            </div>
        </div>
    </div>
    <div class="row ">
            <div class="m-t-lg ">
                <h3 class="subTitleP ">Vista previa de Cotización</h3>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped table-bordered table-hover partidas " cg-busy="{promise:promise,message:message} ">
                    <thead>
                        <th>Partida</th>
                        <th>No. Parte</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Venta</th>
                        <th>Proveedor</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partida in cotizacionesSeleccionadas " title='Descripción' data-toggle="popover " data-placement="top " data-trigger="hover " data-content='{{partidasTaller.descripcion}}'>
                            <td>{{partida.partida}}</td>
                            <td>{{partida.noParte}}</td>
                            <td>{{partida.descripcion}}</td>
                            <td>{{partida.cantidad}}</td>
                            <td>{{partida.venta | currency}}</td>
                            <td>{{partida.nombreComercial}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
         <button type="submit" class="btn btn-primary btn-subir" ng-click="guardaFactura();" ng-disabled="cotizacionesSeleccionadas.length == 0">
            <span class="{{class_buttonCargaFactura}}"></span> Crear cotización
        </button>
        <button type="submit" class="btn btn-danger btn-subir" ng-click="irpreordenCotizacion();">
            <span class="{{class_buttonCargaFactura}}"></span> Reiniciar cotización
        </button>
    </div>
    </div>
    </div>
</div>
<!-- Modal cargando-->
<div id="loadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="spiner-example" style="margin-top: 35%">
            <div class="sk-spinner sk-spinner-wandering-cubes">
                <div class="sk-cube1"></div>
                <div class="sk-cube2"></div>
            </div>
            <div style="color:white;margin-left: 46%; margin-top:20px">Cargando...</div>
        </div>
    </div>
</div>
