@media (min-width: 768px) {
    .modal-dialog {
        margin: 70px;
        width: auto;
    }
}

.modal-title {
    text-align: center;
}

@media (min-width: 1200px) {
    .partidasSel {
        margin-top: 82px;
    }
    .ancho {
        width: 70px;
    }
}

.pietabla {
    padding: 8px;
    text-align: left;
    border: inherit !important;
    /*border-bottom: 1px Inherited #ddd;*/
}

.table > tfoot > tr > th {
    border-top: 1px inherit #e7eaec !important;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.modal-icon {
    font-size: 83px;
    color: #ea8c25;
}

.modal-header {
    background-color: #55B4F0;
}

.modal-title {
    color: #ffffff;
    font-size: 20px;
}

.close {
    opacity: 1;
    color: #ffffff;
}

.modal-header .close {
    margin-top: -20px;
    margin-right: -10px;
    font-size: 30px;
}
