.modal-title {
    text-align: center;
}

.modal-icon {
    font-size: 83px;
    color: #e2e3e3;
}

.modal-header {
    background-color: #ea8c25;
}

.modal-title {
    color: #e2e3e3;
    font-size: 20px;
}

.close {
    opacity: 1;
    color: #e2e3e3;
}

.modal-body {
    padding: 20px 30px 10px 30px;
}
