<div class="row">
  <form class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label text-derecha">Operación</label>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <select class="form-control" ng-options="CO as CO.descripcion for CO in Operaciones track by CO.idContratoOperacion" ng-model="$parent.ContOpeSelected">
              <option value="" label="Seleccione una operación para configurar al usuario"></option>
          </select>
        </div>
    </div>
  </form>
</div>
