<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h4 class="modal-title">Cambiar Contraseña</h4>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" ng-click="close()"><i class="fa fa-times"></i></button>
          </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label text-derecha">Nueva Contraseña</label>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
              <div class="input-group">
                <input type="text" class="form-control" name="password" ng-model="pass"/>
              </div>
            </div>
        </div>
      </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="enviar()">Cambiar Contraseña</button>
</div>
