<div class="row" ini="initPermisos()">
  <div class="container">
    <div class="panel-group" id="accordion">

      <div class="panel panel-default" ng-show="usuario.rol.idRol == 1 || usuario.rol.idRol == 3">
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="activate(1);">
            <a>Zonas</a>
          </h4>
        </div>
        <div id="collapseZonas" class="panel-collapse" ng-class="{'collapse in' : activeZona, 'collapse' : !activeZona}">
          <div class="panel-body">
            <ng-include src="'AngularJS/NuevoUsuario/Templates/zonas.html'"></ng-include>
          </div>
          <div class="panel-footer panel-overflow">
              <button role="button" class="btn btn-xs btn-primary pull-right" ng-click="guardarZonas()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="usuario.rol.idRol == 4">
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="activate(2);">
            <a>Proveedores</a>
          </h4>
        </div>
        <div id="collapseProveedores" class="panel-collapse" ng-class="{'collapse in' : activeProveedores, 'collapse' : !activeProveedores}">
          <div class="panel-body">
            <ng-include src="'AngularJS/NuevoUsuario/Templates/proveedores.html'"></ng-include>
          </div>
          <div class="panel-footer panel-overflow">
              <button role="button" class="btn btn-xs btn-primary pull-right" ng-click="guardarProveedor()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="usuario.rol.idRol == 1 || usuario.rol.idRol == 2">
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="activate(3);">
            <a>Niveles</a>
          </h4>
        </div>
        <div id="collapseNiveles" class="panel-collapse" ng-class="{'collapse in' : activeNiveles, 'collapse' : !activeNiveles}">
          <div class="panel-body">
            <ng-include src="'AngularJS/NuevoUsuario/Templates/niveles.html'"></ng-include>
          </div>
          <div class="panel-footer panel-overflow">
              <button role="button" class="btn btn-xs btn-primary pull-right" ng-click="guardarNiveles()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" ng-click="activate(4);">
            <a>Versión</a>
          </h4>
        </div>
        <div id="collapseVersion" class="panel-collapse" ng-class="{'collapse in' : activeVersion, 'collapse' : !activeVersion}">
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                  <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label text-derecha">Versión</label>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <select class="form-control" ng-options="V as V.descripcion for V in Versiones track by V.idCatalogoVersion" ng-model="$parent.VersionSelected">
                      <option value="" label="Seleccione una versión para configurar al usuario"></option>
                    </select>
                  </div>
              </div>
            </form>
          </div>
          <div class="panel-footer panel-overflow">
              <button role="button" class="btn btn-xs btn-primary pull-right" ng-click="guardarVersion()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
