<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title"> Estado de Cuenta del Proveedor<span class="subtitle"></span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class=" col-lg-12 ">
                <div id="dtgEstadoGeneral" dx-data-grid="gridEstadoGeneral"></div>
                <div dx-popup="popupOptions">
                        <div id="scrollview" dx-scroll-view="">
                            <div id="dtgDetalle" dx-data-grid="gridDetalle"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="spiner-example" style="margin-top: 35%">
            <div class="sk-spinner sk-spinner-wandering-cubes">
                <div class="sk-cube1"></div>
                <div class="sk-cube2"></div>
            </div>
            <div style="color:white;margin-left: 46%; margin-top:20px">Cargando...</div>
        </div>
    </div>
</div>