body {
    font-family: "Source Sans Pro", sans-serif;
    background: white;
    font-size: 15px;
}

#header {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.35);
    box-shadow: 1px 1px 6px rgba(153, 153, 153, 0.54);
    position: relative;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 19px;
    width: 191px;
    margin-left: 11px;
}

.btnMenu {
    font-size: 26px;
    color: #5F8FB9;
    margin-left: 10px;
    margin-top: 10px;
}

.btnMenu:hover {
    color: #93C3EC;
}

#menuTitle {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 28px;
    margin-top: 5px;
    cursor: pointer;
    color: #5F8FB9;
    font-family: Source Sans Pro;
}

#user {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 2px solid #CFCACA;
    width: 300px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
}

#avatar {
    position: absolute;
    width: 20%;
    margin-left: 80%;
    height: 100%;
    background-color: #D8E6F2;
    padding-left: 13px;
    border-radius: 0px 0px 5px 0px;
}

#imgAvatar {
    width: 30px;
    border-radius: 35px;
    margin-top: 1px;
}

#name {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    height: 100%;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
    background-color: #8EB1CF;
    color: white;
    font-weight: 200;
}

#profile {
    position: absolute;
    width: 20%;
    background-color: #5F8FB9;
    color: white;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    font-weight: 200;
    border-radius: 0px 0px 0px 5px;
}

#divisor {
    width: 100%;
    background-color: rgba(40, 96, 144, 0.17);
    position: absolute;
    height: 1px;
    top: 0;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 0.5px 1px rgba(142, 177, 207, 0.37);
}

#CambiarOperacion{
    background: none;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px !important;
    color: #a7b1c2 !important;
    border-style: none;
    font-weight: 600;
}

#NombreOperacion{
    font-weight: 900;
}

#MenuButton{
  position: absolute;
  left: 0;
  top: 0;
}

#opcionesMenuSuperior{
  float: right !important;
}

#rol{
    padding-top: 11px !important;
}

.btnBusqueda{
   padding-top: 22px !important; 
}

.title {
    font-size: 25px;
    color: #55b2d8;
    font-weight: bold;
}

@media (max-width: 767px) {
    .title-xs {
        font-size: 20px;
        color: #55b2d8;
        font-weight: bold;
    }
}

.subtitle {
    font-size: 15px;
    padding-left: 10px;
    color: #55B4F0;
    font-weight: 100;
}

.headTitle {
    margin-bottom: 15px;
    padding-top: 10px;
}

.headTitleTallerCita {
    margin-bottom: 15px;
    padding-top: 30px;
    padding-left: 10px;
}

.white {
    background-color: white;
}


/*.rol {
    height: 60px;
    width: 99px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -35px;
    margin-right: 20px;
    transform: skew(-10deg);
    padding-top: 19px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: whitesmoke;
}*/

.rol {
    /* height: 60px; */
    /*width: 99px;*/
    /* position: absolute; */
    top: 0;
    right: 0;
    /* margin-top: -35px; */
    margin-right: 20px;
    margin-left: 20px;
    /*transform: skew(-10deg);*/
    /*padding-top: 19px;
    padding-bottom: 25px;*/
    rol
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
    /* margin: 20px; */
    padding-left: 10px;
    padding-right: 10px;
}

.rolcall {
    color: #41DAB4;
}

.rolcliente {
    color: #55B4F0;
}

.roladmin {
    color: #FFA100;
}

.rolproveedor {
    color: #43AD06;
}

.rolConfigurador{
    color: #C63131
}

.singOut{
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 22px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  float: right !important;
  position: relative !important;
}

.singLeft{
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 22px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  float: left !important;
  position: relative !important;
}

#Close{
  color: #a7b1c2;
  float:  right !important;
}

.DropOperaciones{
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 16px;
    color: #a7b1c2;
    float: right !important;
    position: relative !important;
}

.indicaRol{
  border-style:solid;
  border-radius: 50%;
  width: 10%;
  height: auto;
  padding-top: 10%;
  background: #ef8913;
}

.rowRojo {
    background-color: rgba(255, 80, 80, 0.5);
}

.rowOlivo {
    background-color: rgba(196, 215, 155, 0.5);
}

.rowVerde {
    background-color: rgba(102, 255, 102, 0.5);
}

.rowAmarillo {
    background-color: rgba(255, 255, 0, 0.5);
}

.rowAzul {
    background-color: rgba(0, 156, 255, 0.5);
}

.rowGris {
    background-color: rgba(177, 179, 171, 0.3);
}

.rowEtGlobal {
    background-color: rgba(112, 65, 208, 0.22);
}

.space {
    padding-top: 15px;
}

.center {
    text-align: center
}

.scrollmenu {
    overflow: auto !important;
    white-space: nowrap !important;
}

@media (min-width: 956px) {
    .navbar-right-mod {
        float: right !important;
        margin-right: -15px;
    }
}

.p-t-xs {
    padding-top: 1px !important;
}

.cursor {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#busquedas{
    padding-left: 10% !important;
}

.colorDetalle{
    color: #0E4579;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}