<link rel="stylesheet" href="AngularJS/BusquedaUnidad/Styles/BusquedaUnidad.css">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title title-xs"> Ficha Técnica de la Unidad</span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="payment-card">
                                <p>
                                    <label>No. Ecónomico:</label>
                                    <span>{{detalleUnidad.numeroEconomico}}</span>
                                </p>
                                <p>
                                    <label>Placas:</label>
                                    <span>{{detalleUnidad.placas}}</span>
                                </p>
                                <p>
                                    <label>VIN:</label>
                                    <span>{{detalleUnidad.vin}}</span>
                                </p>
                                <p>
                                    <label>Marca:</label>
                                    <span>{{detalleUnidad.marca}}</span>
                                </p>
                                <p>
                                    <label>Sub Marca:</label>
                                    <span>{{detalleUnidad.subMarca}}</span>
                                </p>
                                <p>
                                    <label>Versión:</label>
                                    <span>{{detalleUnidad.version}}</span>
                                </p>
                                <p>
                                    <label>Modelo:</label>
                                    <span>{{detalleUnidad.modelo}}</span>
                                </p>
                                <p>
                                    <label>Tipo de Unidad:</label>
                                    <span>{{detalleUnidad.nombreTipoUnidad}}</span>
                                </p>
                                <p>
                                    <label>Zona:</label>
                                    <span>{{detalleUnidad.zona}}</span>
                                </p>
                                <p ng-show="userData.geolocalizacion == 1">
                                    <label>Ubicación:</label>
                                    <span>{{detalleUnidad.gps}}</span>
                                </p>
                            </div>
                            <p ng-show="mostrarMapa">
                                <label>Localización:</label>
                                <br>
                                <div class="google-map" id="map1"></div>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-warning pull-right">{{detalleUnidad.numeroOrdenesSerevicio}}</span>
                                    <h5>Eventos de Servicio</h5>
                                </div>
                                <div class="ibox-content">
                                    <h3>Inversión</h3>
                                    <div class="widget style1">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 text-right" >
                                                <div ng-show="muestraCosto">
                                                    <span> Costo </span>
                                                    <h2 class="font-bold">{{detalleUnidad.costoTotal | currency}}</h2>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 text-right">
                                                <div ng-show="muestraPrecio">
                                                    <span> Venta </span>
                                                    <h2 class="font-bold">{{detalleUnidad.precioTotal | currency}}</h2>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-3">
                                                            <h6 class="text-verde m-b-modi"><strong>En Proceso</strong></h6>
                                                            <h4>{{detalleUnidad.enProceso | currency}}</h4>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-3">
                                                            <h6 class="text-warning"><strong>Entrega de Unidad</strong></h6>
                                                            <h4>{{detalleUnidad.pendienteCertificado | currency}}</h4>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-3">
                                                            <h6><strong class="text-danger">Pendiente por Cobrar</strong></h6>
                                                            <h4>{{detalleUnidad.porCobrar | currency}}</h4>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-3">
                                                            <h6 class="text-success espacio"><strong>Finalizado</strong></h6>
                                                            <h4>{{detalleUnidad.finalizado | currency}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-footer" ng-show="muestraOrdenActual">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <p>
                                                <label>Fecha de Último Servicio</label>
                                            </p>
                                            <p>
                                                {{detalleUnidad.ultimoServicio | date : "dd/MM/yyyy"}}
                                            </p>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <p>
                                                <label>Fecha de Última Modificación</label>
                                            </p>
                                            <p>
                                                {{detalleUnidad.ultimaModificacion | date : "dd/MM/yyyy"}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                            <p>
                                                <label>Usuario que Modificó</label>
                                            </p>
                                            <p class="text-camelCase">
                                                {{detalleUnidad.usuarioModifico.toLowerCase()}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12" ng-show="agendarCita" id="agendarCita">
                            <label ng-hide="muestraOrdenActual">{{ordendesActual[0].mensaje}}</label>
                            <button class="btn btn-primary pull-right" ng-click="btnAgendarCita()">
                                <i class="fa fa-calendar"></i> Agendar Cita
                            </button>
                        </div>
                        
                        <div class="col-sm-12 col-md-12 col-lg-12" ng-show="muestraSwitch">
                            <div class="btn-group pull-right" ng-show="muestraOrdenActual">
                                <button type="button" ng-class="btnSwitch.classCosto" ng-click="btnSwitch.showCostoVenta=true;
                                                    btnSwitch.classVenta='btn btn-default';
                                                    btnSwitch.classCosto='btn btn-success'">Costo</button>
                                <button type="button" ng-class="btnSwitch.classVenta" ng-click="btnSwitch.showCostoVenta=false;
                                                    btnSwitch.classVenta='btn btn-success';
                                                    btnSwitch.classCosto='btn btn-default' ">Venta</button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12" ng-show="muestraOrdenActual">
                            <h3>Orden de Servicio Actual</h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive" ng-show="muestraOrdenActual">
                                <table class="table table-bordered table-hover ordenActual">
                                    <thead>
                                        <tr>
                                            <th>Número de Orden</th>
                                            <th>Tipo de Orden</th>
                                            <th>Fecha</th>
                                            <th>Taller</th>
                                            <th ng-show="mostrarComentarios">Comentarios</th>
                                            <th>Agendó</th>
                                            <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                            <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                            <th>Fecha última modificación</th>
                                            <th>Estatus</th>
                                            <!-- <th>Ver Orden</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="orden in ordendesActual" ng-click="detalleOrden(orden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                            <td>{{ orden.numeroOrden}}</td>
                                            <td>{{orden.tipoOrden}}</td>
                                            <td>{{ orden.fechaCreacionOrden | date : "dd/MM/y"}}</td>
                                            <td>{{ orden.razonSocial}}</td>
                                            <td ng-show="mostrarComentarios">{{orden.descripcion}}</td>
                                            <td>{{orden.nombreCompleto}}</td>
                                            <td ng-show="btnSwitch.showCostoVenta">{{orden.costo | currency}}</td>
                                            <td ng-hide="btnSwitch.showCostoVenta">{{orden.precio | currency}}</td>
                                            <td>{{orden.ultimaModificacion | date : "dd/MM/y"}}</td>
                                            <td ng-class="{'rowGris': orden.idEstatusOrden == 1, 'rowAmarillo' : orden.idEstatusOrden >= 2 && orden.idEstatusOrden < 8 , 'rowVerde' : orden.idEstatusOrden == 8 }">{{orden.estatusOrden}}</td>
                                            <!-- <td class="text-center">
                                                <button class="btn btn-success" ng-click="detalleOrden(orden)"><i class="fa fa-eye"></i></button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 scol-lg-12" ng-show="muestraOrdenActual">
                            <h3>Histórico de Órdenes</h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive" ng-show="muestraHistorial">
                                <!--  class="table-responsive" -->
                                <table class="table table-bordered table-hover historialUnidad">
                                    <thead>
                                        <tr>
                                            <th>Número de Orden</th>
                                            <th>Tipo de Orden</th>
                                            <th>Fecha</th>
                                            <th>Taller</th>
                                            <th ng-show="mostrarComentarios">Comentarios</th>
                                            <th>Agendó</th>
                                            <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                            <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                            <th>Fecha última modificación</th>
                                            <th>Estatus</th>
                                            <!-- <th>Ver Orden</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="historialOrden in historialOrdenes" ng-click="detalleOrden(historialOrden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                            <td>{{ historialOrden.numeroOrden }}</td>
                                            <td>{{ historialOrden.tipoOrden}}</td>
                                            <td>{{ historialOrden.fechaCreacionOrden | date : "dd/MM/y" }}</td>
                                            <td>{{ historialOrden.razonSocial}}</td>
                                            <td ng-show="mostrarComentarios">{{historialOrden.descripcion}}</td>
                                            <td>{{historialOrden.nombreCompleto}}</td>
                                            <td ng-show="btnSwitch.showCostoVenta">{{historialOrden.costo | currency}}</td>
                                            <td ng-hide="btnSwitch.showCostoVenta">{{historialOrden.precio | currency}}</td>
                                            <td>{{historialOrden.ultimaModificacion | date : "dd/MM/y"}}</td>
                                            <td ng-class="{'rowRojo' : historialOrden.idEstatusOrden == 10, 'rowAzul' : historialOrden.idEstatusOrden == 9 }">{{historialOrden.estatusOrden}}</td>
                                            <!-- <td class="text-center">
                                                <button class="btn btn-success" ng-click="detalleOrden(historialOrden)"><i class="fa fa-eye"></i></button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-sm-12" ng-hide="muestraHistorial">
                                <label>{{historialOrdenes[0].mensaje}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
