/*#calendario {
  margin-left: 75%;
 }*/

.descTxt{
	width: 200px;
    height: 50px;
    resize: none;
}

#pipa-arriba{
    padding-top: 50px;
}

#comprobanteRecepcion input[type=checkbox]{
	width: 8%;
  height: 2em;
}

#btnBuscar{
    margin-top: 5px;
}

.espacioTopText{
	padding-top: 15px;
}

.espacioTopSelect{
	padding-top: 20px;
}

.fondoBlanco{
    background: white !important;
}

.espacioInferior{
    padding-bottom: 15px;
}

.espacioSuperior{
    padding-top: 40px;
}

.panel {
	border-color: #DCDCDC !important;
}
.panel-heading{
	background-color: #DCDCDC !important;
	border-color: #DCDCDC !important;
}
.panel-body{
	border-color: #DCDCDC !important
}
.tamanioImagen{
  height: 80px;
  width: 180px;
}


table thead tr {
  background-color: #F5F5F6;
}

table tbody tr:hover {

  cursor: pointer;
}
