/*#calendario {
  margin-left: 75%;
 }*/

.descTxt{
	width: 200px;
    height: 50px;
    resize: none;
}

#pipa-arriba{
    padding-top: 50px;
}

#comprobanteRecepcion input[type=checkbox]{
	width: 8%;
    height: 2em;
}

.panel {
	border-color: #DCDCDC !important;
}
.panel-heading{
	background-color: #DCDCDC !important;
	border-color: #DCDCDC !important;
}
.panel-body{
	border-color: #DCDCDC !important
}


table thead tr {
  background-color: #F5F5F6;
}

table tbody tr:hover {

  cursor: pointer;
}