<div ng-init="init()">
    <div class="row">
        <div class="headTitleTallerCita">
            <span class="title"> Seguimiento de Tickets</span>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Listado de Tickets</h5>
                </div>
                <div class="ibox-content">
                    <div class="demo-container dx-viewport">
                        <div id="dtgQuejas" dx-data-grid="gridQuejas"></div>
                    </div>
                    <button id="myElement" dx-click="getQueja()">asd</button>
                </div>
            </div>
        </div>
    </div>
</div>