<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<div ng-init="init()" >
<div class="headTitleTallerCita">
    <span class="title">Administración de Presupuestos<span class="subtitle"></span></span>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                   <div class="row col-lg-12">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-5">
                            <form method="get" class="form-horizontal">
                                <div >
                                    <label class="col-sm-4 control-label">Centro de Trabajo</label>
                                    <div class="col-sm-8">
                                        <select class="form-control m-b" name="ctrabajo" ng-model="selectedcTrabajo" ng-options="ctrabajo.nombreCentroTrabajo for ctrabajo in ctrabajos">
                                            <option value="">Seleccione un Centro de Trabajo</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1">
                                <button tooltip="Buscar Presupuestos" id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="obtienePresupuesto()"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                        <div class="col-md-2 control-label">
                            <div class="col-sm-2">
                                <button class="btn btn-primary" ng-click="nuevoPresupuesto()" ng-hide="selectedcTrabajo.idCentroTrabajo == null"><i class="fa fa-check" >
                                </i>&nbsp;Nuevo Presupuesto</button>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-lg-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-success pull-right">Inicial</span>
                                    <h5>Presupuesto</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins ng-binding">{{presupuestoTotal | currency: "$"}}</h1>
                                    <div class="stat-percent font-bold text-success">100% <i class="fa fa-bolt"></i></div>
                                    <small></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-danger pull-right">Cotizaciones</span>
                                    <h5>Utilizado</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins ng-binding">{{utilizadoTotal | currency: "$"}}</h1>
                                    <div class="stat-percent font-bold text-danger">{{ margenUtilizado | number : 3 }}% <i class="fa fa-level-up"></i></div>
                                    <small></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-info pull-right">Actual</span>
                                    <h5>Saldo</h5>
                                </div>
                                <div class="ibox-content">
                                    <h1 class="no-margins ng-binding">{{saldoTotal | currency: "$"}}</h1>
                                    <div class="stat-percent font-bold text-info">{{ margenTotal | number : 3}}% <i class="fa fa-level-down"></i></div>
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12 table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTableCentroTrabajo">
                            <thead>
                                <tr>
                                    <th>Centro de Trabajo</th>
                                    <th>No. Presupuesto</th>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha Final</th>
                                    <th>Presupuesto</th>
                                    <th>Utilizado</th>
                                    <th>Saldo</th>
                                    <th>Orden Pendientes</th>
                                    <th>Estatus</th>
                                    <th>Orden</th>
                                    <th>Activar</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="presupuestos in dataPresupuestos">
                                    <td>{{presupuestos.nombreCentroTrabajo}}</td>
                                    <td>{{presupuestos.folioPresupuesto}}</td>
                                    <td>{{presupuestos.fechaInicioPresupuesto | date:'dd-MM-yyyy HH:mm'}} </td>
                                    <td>{{presupuestos.fechaFinalPresupuesto | date:'dd-MM-yyyy HH:mm'}} </td>
                                    <td>{{presupuestos.presupuesto | currency: "$"}}</td>
                                    <td>
                                        <button tooltip="Ver Hojas de Trabajo Generadas" class="btn btn-primary" type="button" ng-click="verHistorial(presupuestos.idPresupuesto, presupuestos.saldo, presupuestos.folioPresupuesto, presupuestos.nombreCentroTrabajo)" ><span class="glyphicon glyphicon-duplicate"></span></button>
                                        {{presupuestos.utilizado | currency: "$"}}
                                    </td>
                                    <td>{{presupuestos.saldo | currency: "$"}}</td>
                                    <td>
                                        <button tooltip="Ver Ordenes Pendientes" class="btn btn-info" type="button" ng-click="verDetalle(presupuestos.idCentroTrabajo, presupuestos.saldo, presupuestos.folioPresupuesto, presupuestos.nombreCentroTrabajo)" ><span class="glyphicon glyphicon-sunglasses"></span></button>
                                        {{presupuestos.ordPendiente}}
                                    </td>
                                    <td>{{presupuestos.nombreEstatusPresupuesto}}</td>
                                    <td>{{presupuestos.orden}}</td>
                                    <td>
                                        <button ng-show="presupuestos.nombreEstatusPresupuesto == 'Utilizado' || presupuestos.nombreEstatusPresupuesto == 'Pendiente' " class="btn btn-informa" type="button" ng-click="activarPendiente(presupuestos)" ><span class="glyphicon glyphicon-refresh" ></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal lg" id="newPresupuestoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Presupuesto</h4>
            </div>
            <br>
                <div class="modal-body">
                   <div class="form-group row">
                        <label class="col-sm-2 control-label">Centro Trabajo:</label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" type="number" ng-model="selectedcTrabajo.nombreCentroTrabajo" disabled="disabled">
                       </div>
                    </div>
                   <div class="form-group row">
                        <label class="col-sm-2 control-label">No. Presupuesto</label>
                        <div class="col-sm-7">
                            <div class="m-b">
                                <input type="text" class="form-control" type="number" ng-model="folioPresupuesto">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Presupuesto</label>
                        <div class="col-sm-7">
                            <div class="input-group m-b"><span class="input-group-addon">$</span>
                                <input type="text" class="form-control" type="number" ng-model="presupuesto" ng-change="change_presupuesto()">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="fechaInicial">
                        <label class="col-sm-2 control-label">Fecha Inicial</label>
                        <div class="col-sm-7">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" ng-model="fechaInicioPresupuesto">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="fechaFinal">
                        <label class="col-sm-2 control-label">Fecha Final</label>
                        <div class="col-sm-7">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" ng-model="fechaFinalPresupuesto">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Solpe</label>
                        <div class="col-sm-7">
                            <div class="m-b">
                                <input type="text" class="form-control" type="number" ng-model="txtSolpe">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">

                        <table class="table table-bordered table-striped table-hover dataTableFondos">
    <thead>
        <tr>
            <!-- <th>SaldoID</th> -->            
            <th>Saldo</th>
            <th>Traspasar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in lstPresupuestos">
            <!-- <td>{{item.idPresupuesto}}</td> -->
            <td>{{item.saldo | currency: "$"}}</td>
            <td> <input type="checkbox" > </td>
        </tr>
    </tbody>
</table>

                       
                                
                    </div>

                    <!--<table class="table table-bordered table-striped table-hover dataTablePresupuestos" ng-show="sumaOsur.length>0">
                        <thead>
                            <tr>
                                <th>No. OSUR</th>
                                <th>Saldo</th>
                                <th>Estatus</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="suma in sumaOsur">
                                <td>{{suma.folio}}</td>
                                <td>{{suma.saldo | currency: "$"}}</td>
                                <td>{{suma.estatus}}</td>
                                <td>
                                    <button class="btn btn-info" type="button" ng-click="sumaPresupuesto(suma.indice)" ><span class="{{suma.class_suma}}"></span></button>
                                </td>
                            </tr>
                        </tbody>
                        <footer style="float: right;"  ng-show="sumaOsur.length>0">
                            <div>
                                <label>Presupuesto: {{presupuesto | currency: "$"}} </label>

                            </div>
                            <div>
                                <label>Presupuesto adicional: {{presupuestoSuma | currency: "$"}} </label>

                            </div>
                            <div>
                                <label>Presupuesto total: {{presupuestoSumaTotal | currency: "$"}} </label>

                            </div>
                        </footer>
                    </table> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="cancelaAltaPresupuesto()">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="savePresupuesto()">Guardar</button>
                </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="fondosOsurModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Fondos de OSUR</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table class="table table-bordered table-striped table-hover dataTableFondos" >
                        <thead>
                            <tr>
                                <th>Folio Origen</th>
                                <th>Folio Destino</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fondo in fondos">
                                <td>{{fondo.folio}}</td>
                                <td>{{fondo.folioAplica}}</td>
                                <td>{{fondo.presupuestoAplicacion | currency: "$"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="certificadosModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content animated">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="osurTitulo">Hojas de Trabajo Generadas para el Presupuesto {{folioPresupuesto}}</h4><BR>
                    <h4 class="osurSaldo subtitle">Saldo Presupuesto {{folioPresupuesto}} <span class="osurSaldoPrecio"> {{ saldoPresupuesto | currency: "$"}} </span></h4><BR>
                    <h4 class="osurTotal">Total Ordenes: <span class="osurTotalPrecio"> {{ precioOrdenHistorial | currency: "$"}}</span></h4><BR>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table class="table table-bordered table-striped table-hover dataTableHojas" >
                        <thead>
                            <tr>
                                <th>Consecutivo</th>
                                <th>Número de la Orden</th>
                                <th>Número Económico</th>
                                <th>Zona</th>
                                <th>Precio venta sin IVA</th>
                                <th>Fecha de Emisión</th>
                                <th>Presupuesto</th>
                                <th>Estatus de la Orden</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hoja in hojas">
                                <td>{{hoja.idOrden}}</td>
                                <td>{{hoja.numeroOrden}}</td>
                                <td>{{hoja.numeroEconomico}}</td>
                                <td>{{hoja.nombreZona}}</td>
                                <td>{{hoja.venta | currency: "$"}}</td>
                                <td>{{hoja.fechaCreacionOden | date:'dd-MM-yyyy HH:mm'}}</td>
                                <td>{{hoja.folioPresupuesto}}</td>
                                <td>{{hoja.nombreEstatusOrden}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="ordenesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content animated">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="osurTitulo">Ordenes Pendientes de Certificado TAR {{nombreCentroTrabajo}}</h4><BR>
                <h4 class="osurSaldo subtitle">Saldo OSUR {{folioPresupuesto}} <span class="osurSaldoPrecio"> {{ saldoPresupuesto | currency: "$"}}</span></h4><BR>
                <h4 class="osurTotal">Total Ordenes:  <span class="osurTotalPrecio"> {{ precioOrdenDetalle | currency: "$"}}<span></h4><BR>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <table class="table table-bordered table-striped table-hover dataTablePendientes" >
                        <thead>
                            <tr>
                                <th>Consecutivo</th>
                                <th>Número de la Orden</th>
                                <th>Número Económico</th>
                                <th>Zona</th>
                                <th>Precio venta sin IVA</th>
                                <th>Fecha</th>
                                <th>Estatus de la Orden</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pendiente in pendientes">
                                <td>{{pendiente.idOrden}}</td>
                                <td>{{pendiente.numeroOrden}}</td>
                                <td>{{pendiente.numeroEconomico}}</td>
                                <td>{{pendiente.nombreZona}}</td>
                                <td>{{pendiente.venta | currency: "$"}}</td>
                                <td>{{pendiente.fechaCreacionOden | date:'dd-MM-yyyy HH:mm'}}</td>
                                <td>{{pendiente.nombreEstatusOrden}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>