<!-- <link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="AngularJS/Administracion/Styles/administracionOrden.css">
<link rel="stylesheet" href="Libraries/css/nsPopover.css"> -->
<link rel="stylesheet" href="AngularJS/Trabajo/Styles/trabajo.css">
<div ng-init="Init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Órdenes de Servicio </span>
    </div>

    <div class="wrapper wrapper-content">
        <form id="myForm" name="myForm" enctype="multipart/form-data" method="post">
            <label>XML</label> <input type="file" name="myFile1" id="myFile1">
            <br>
            <!-- <label>PDF</label> <input type="file" name="myFile2" id="myFile2"> -->
            <br>
            <input class="btn btn-warning" type="submit" name="submit" id="myButton">
        </form>
        <script type="text/javascript">
            var form = document.forms.namedItem("myForm");
            form.addEventListener('submit', function( ev ){
                // var myFile = document.getElementById('myFile2').files[0];
                var oData = new FormData( form );
                var oReq = new XMLHttpRequest();
                oReq.open( 'post', "api/trabajo/subirArchivo", true );
                oReq.onload = function( oEvent ){
                    console.log( oReq.status );
                    console.log( JSON.parse(oReq.response) );
                }
                oReq.send( oData );
                ev.preventDefault();
                // console.log( 'hola mundo' );
            }, false);
        </script>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <!-- Filtros -->
            <div class="panel panel-default">
                <div class="panel-heading">
                  Filtros de Búsqueda
                </div>
              <div class="panel-body">
                <div class="row ">
                    <div class="col-xs-12 col-sm-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                        <label class="font-noraml">{{zona.etiqueta}}</label>
                        <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                            <option value="0">Seleccione una Zona</option>
                            <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                              {{z.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label class="font-noraml">Ejecutivo</label>
                        <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected"
                        ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                            <option value="">Seleccione un Ejecutivo</option>
                        </select>
                    </div>
                </div>
                <div class="row espacioInferior">
                  <div class="col-xs-12 col-sm-4" id="divfechaMes">
                      <label class="font-noraml">Mes</label>
                      <div class="input-group date">
                          <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                      </div>
                  </div>
                    <div class="col-xs-12 col-sm-4">
                        <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                        <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                            <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                            <span class="input-group-addon"> a </span>
                            <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3" id="calendar">
                        <label class="font-noraml">Fecha</label>
                        <div class="input-group date">
                            <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()" calendar>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 ">
                      <br>
                        <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                            class="btn btn-primary pull-right" ng-click="getOrdenesServicio(3)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="row espacioInferior espacioSuperior">
                    <div class="col-xs-12 col-sm-4 ">
                        <label class="font-noraml">Número de Orden</label>
                        <input type="text" placeholder="Buscar Orden" class="form-control" id="numeroTrabajo" ng-model="numeroTrabajo" ng-enter="">
                    </div>
                    <div class="col-xs-12 col-sm-1">
                      <br>
                        <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                            class="btn btn-primary" ng-click="getOrdenesByNumero(3)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                   
                </div>
              </div>
            </div>
            <!-- / Filtros -->
            <div class="row">
                <div class="col-lg-12" ng-show="muestraTabla">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <tabset>
                                <tab heading="En proceso" index="0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover ordenservicio" cg-busy="{promise:promise,message:message}">
                                            <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Consecutivo</th>
                                                    <th>Número de la Orden</th>
                                                    <th>Número Económico</th>
                                                    <th>Zona</th>
                                                    <th>Taller</th>
                                                    <th>Tipo Orden</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Descripción</th>
                                                    <th>Estatus</th>
                                                    <th>Estatus provisión</th>
                                                    <th>Precio venta sin IVA</th>
                                                    <th>Fecha</th>
                                                    <th>Fecha inicio real de trabajos</th>
                                                    <th>Tiempo en Espera/ Tiempo Transcurrido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key, orden) in ordenes | filter : { idEstatusOrden : '!7' }" ng-dblclick="detalleOrden(orden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                                    <td>{{orden.nombreCliente}}</td>
                                                    <td>{{orden.idOrden}}</td>
                                                    <td>{{orden.numeroOrden}}</td>
                                                    <td>{{orden.numeroEconomico}}</td>
                                                    <td>{{orden.idZona}}</td>
                                                    <td>{{orden.nombreTaller}}</td>
                                                    <td>{{orden.nombreTipoOrdenServicio}}</td>
                                                    <td>{{orden.marcaUnidad}}</td>
                                                    <td>{{orden.modeloUnidad}}</td>
                                                    <td>{{orden.comentarioOrden}}</td>
                                                    <td>{{orden.nombreEstatusOrden}}</td>
                                                    <td>{{'BPRO'}}</td>
                                                    <td>{{'10' | currency}}</td>
                                                    <td> {{orden.fechaEstatusActual | date:"dd-MM-yy HH:mm"}} </td>
                                                    <td>
                                                        <button class="btn btn-primary" ng-click="OpenModal( key, orden.idOrden );" ng-show="orden.fechaInicioTrabajo == null">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </button>
                                                        {{orden.fechaInicioTrabajo | date:"dd-MM-yy HH:mm"}}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                                <tab heading="Entrega" index="1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover ordenservicio" cg-busy="{promise:promise,message:message}">
                                            <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Consecutivo</th>
                                                    <th>Número de la Orden</th>
                                                    <th>Número Económico</th>
                                                    <th>Zona</th>
                                                    <th>Taller</th>
                                                    <th>Tipo Orden</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Descripción</th>
                                                    <th>Estatus</th>
                                                    <th>Estatus provisión</th>
                                                    <th>Precio venta sin IVA</th>
                                                    <th>Fecha</th>
                                                    <th>Fecha inicio real de trabajos</th>
                                                    <th>Tiempo en Espera/ Tiempo Transcurrido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="orden in ordenes | filter : { idEstatusOrden: 7 }" ng-dblclick="detalleOrden(orden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                                    <td>{{orden.nombreCliente}}</td>
                                                    <td>{{orden.idOrden}}</td>
                                                    <td>{{orden.numeroOrden}}</td>
                                                    <td>{{orden.numeroEconomico}}</td>
                                                    <td>{{orden.idZona}}</td>
                                                    <td>{{orden.nombreTaller}}</td>
                                                    <td>{{orden.nombreTipoOrdenServicio}}</td>
                                                    <td>{{orden.marcaUnidad}}</td>
                                                    <td>{{orden.modeloUnidad}}</td>
                                                    <td>{{orden.comentarioOrden}}</td>
                                                    <td>{{orden.nombreEstatusOrden}}</td>
                                                    <td>{{'BPRO'}}</td>
                                                    <td>{{'10' | currency}}</td>
                                                    <td>{{orden.fechaEstatusActual | date:"dd-MM-yy HH:mm"}}</td>
                                                    <td>{{orden.fechaInicioTrabajo}}
                                                        <!-- <button ng-if="trabajo.estatus == 'Iniciado' || trabajo.estatus == 'OrdenGarantia'" ng-hide="userData.idTipoUsuario == 4" class="btn btn-success" type="button" ng-click="cargaFecha(trabajo.idTrabajo)" data-toggle="tooltip" tooltip="Fecha Inicio real de trabajos" tooltip-placement="up"><span class="glyphicon glyphicon-calendar"></span></button> -->
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fecha de Trabajo</h4>
            </div>
            <div class="modal-body">
                <p>Introduce la fecha real de trabajo</p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Fecha</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="" ng-model="fecha_inicio" calendar>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Hora</label>
                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" class="form-control" value="" ng-model="hora_inicio" ng-change="validaHoraCita()">
                            <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <br>
                        <div class="alert alert-warning" ng-show="fecha_error">
                            <strong>Atención!</strong> {{ msg_error }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="Guardar_Fecha();">Guardar Fecha</button>
            </div>
        </div>
    </div>
</div>