<!-- <link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="AngularJS/Administracion/Styles/administracionOrden.css">
<link rel="stylesheet" href="Libraries/css/nsPopover.css"> -->
<link rel="stylesheet" href="AngularJS/Trabajo/Styles/trabajo.css">
<div ng-init="Init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Órdenes de Servicio </span>
    </div>

    <div class="wrapper wrapper-content">
       <div class="row">
            <div class="contenedorFiltros">
                <div class="col-xs-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ibox">
                        <!-- Filtros -->
                        <div class="panel panel-default">
                            <div class="ibox-title " role="tab" id="headingOne">
                                <h5>Filtros de búsqueda</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>
                          <div id="collapseOne" class="ibox-content bottomBorder collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="row ">
                                <div class="col-xs-12 col-sm-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                                    <label class="font-noraml">{{zona.etiqueta}}</label>
                                    <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                                        <option value="0">Seleccione</option>
                                        <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                                          {{z.nombre}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-3" ng-show="userData.idRol == 2">
                                    <label class="font-noraml">Ejecutivo</label>
                                    <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected"
                                    ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                                        <option value="">Seleccione un Ejecutivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row espacioInferior">
                              <div class="col-xs-12 col-sm-4" id="divfechaMes">
                                  <label class="font-noraml">Mes</label>
                                  <div class="input-group date">
                                      <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  </div>
                              </div>
                                <div class="col-xs-12 col-sm-4">
                                    <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                                    <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                                        <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                                        <span class="input-group-addon"> a </span>
                                        <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3" id="calendar">
                                    <label class="font-noraml">Fecha</label>
                                    <div class="input-group date">
                                        <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()" calendar>
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-1 ">
                                  <br>
                                    <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                        class="btn btn-primary pull-right" ng-click="getOrdenesServicio(3)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
            <!--                 <div class="row espacioInferior espacioSuperior">
                                <div class="col-xs-12 col-sm-4 ">
                                    <label class="font-noraml">Número de Orden</label>
                                    <input type="text" placeholder="Buscar Orden" class="form-control" id="numeroTrabajo" ng-model="numeroTrabajo" ng-enter="">
                                </div>
                                <div class="col-xs-12 col-sm-1">
                                  <br>
                                    <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                        class="btn btn-primary" ng-click="getOrdenesByNumero(3)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>

                            </div> -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
            <!-- / Filtros -->
            <div class="row">
                <div class="col-lg-12" ng-show="muestraTabla">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <tabset>
                                <tab heading="En proceso" index="0" active="procesoActive" ng-click="menu(0)">
                                </tab>
                                <tab heading="Entrega" index="1" active="entregaActive" ng-click="menu(1)">
                                </tab>
                            </tabset>  

                            <div ng-show="show_proceso">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio radio-info">
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <input type="radio" value="55" id="rdtproceso" name="opcionEstatus" ng-model="filtroEstatus" ng-change="cambioFiltro()">
                                                <label for="rdtproceso"> Todos </label>
                                            </div> 
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <input type="radio" value="5" id="rdproceso" name="opcionEstatus" ng-model="filtroEstatus" ng-change="cambioFiltro()">
                                                <label for="rdproceso"> En Proceso </label>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <input type="radio" value="0" id="rdgarantia" name="opcionEstatus" ng-model="filtroEstatus" ng-change="cambioFiltro()">
                                                <label for="rdgarantia"> En Garantia </label>
                                            </div>
                                        </div>
                                        <br><br><br><br>
                                        <div class="row sumatorias" ng-show="show_sumatorias">
                                            <div class="col-xs-3 pull-right">
                                                <div>
                                                    <h2 class="no-margins">{{sumatoria_proceso |  currency: "$"}} </h2>
                                                    <small>precio venta s/iva</small>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover ordenservicio" cg-busy="{promise:promise,message:message}">
                                            <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Consecutivo</th>
                                                    <th>Número de la Orden</th>
                                                    <th>Número Económico</th>
                                                    <th>Zona</th>
                                                    <th>Taller</th>
                                                    <th>Tipo Orden</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Descripción</th>
                                                    <th>Estatus</th>
                                                    <th>Estatus provisión</th>
                                                    <th ng-show="userData.idRol == 2 || userData.idRol == 3">Precio venta sin IVA</th>
                                                    <th>Fecha Creación Orden</th>
                                                    <th>Fecha inicio real de trabajos</th>
                                                    <th>Tiempo en Espera/ Tiempo Transcurrido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(key, orden) in ordenes | filter : { idEstatusOrden : estatusValidador, idGarantia: estadoGarantia }" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                                    <td ng-click="detalleOrden(orden)">{{orden.nombreCliente}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.idOrden}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.numeroOrden}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.numeroEconomico}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.idZona}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.nombreTaller}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.nombreTipoOrdenServicio}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.marcaUnidad}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.modeloUnidad}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.comentarioOrden}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{orden.nombreEstatusOrden}}</td>
                                                    <td ng-click="detalleOrden(orden)">{{'BPRO'}}</td>
                                                    <td ng-show="userData.idRol == 2 || userData.idRol == 3" ng-click="detalleOrden(orden)">{{orden.venta | currency : "$"}}</td>
                                                    <td ng-click="detalleOrden(orden)"> {{orden.fechaCreacionOden | date:"dd-MM-yy HH:mm"}} </td>
                                                    <td>
                                                        <button class="btn btn-primary"
                                                            ng-click="OpenModal( key, orden.idOrden );"
                                                            ng-show="orden.fechaInicioTrabajo == null && orden.idEstatusOrden == 5">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </button>

                                                        {{orden.fechaInicioTrabajo | date:"dd-MM-yy HH:mm"}}

                                                    </td>
                                                    <td>{{orden.tiempoEspera}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div ng-show="show_entrega">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio radio-info">
                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                <input type="radio" value="67" id="rdeTodas" name="opcionEstatus" ng-model="filtroEstatus" ng-change="cambioFiltro()">
                                                <label for="rdeTodas"> Todos </label>
                                            </div> 
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <input type="radio" value="6" id="rdtermino" name="opcionEstatus" ng-model="filtroEstatus" ng-change="cambioFiltro()">
                                                <label for="rdtermino"> Termino Trabajo </label>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <input type="radio" value="7" id="rdentrega" name="opcionEstatus" ng-model="filtroEstatus" ng-change="cambioFiltro()">
                                                <label for="rdentrega"> Entrega </label>
                                            </div>
                                        </div>
                                        <br><br><br><br>
                                        <div class="row sumatorias" ng-show="show_sumatorias">
                                            <div class="col-xs-3 pull-right">
                                                <div>
                                                    <h2 class="no-margins">{{sumatoria_entrega |  currency: "$"}} </h2>
                                                    <small>precio venta s/iva</small>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover ordenservicio" cg-busy="{promise:promise,message:message}">
                                            <thead>
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Consecutivo</th>
                                                    <th>Número de la Orden</th>
                                                    <th>Número Económico</th>
                                                    <th>Zona</th>
                                                    <th>Taller</th>
                                                    <th>Tipo Orden</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Descripción</th>
                                                    <th>Estatus</th>
                                                    <th>Estatus provisión</th>
                                                    <th ng-show="userData.idRol == 2 || userData.idRol == 3">Precio venta sin IVA</th>
                                                    <th>Fecha Creación Orden</th>
                                                    <th>Fecha inicio real de trabajos</th>
                                                    <th>Tiempo en Espera/ Tiempo Transcurrido</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <!-- <tr ng-repeat="orden in filtered = (ordenes | filter : userFilter ({ idEstatusOrden: estatusValidador, idEstatusOrden2: estatusValidador } ))" ng-click="detalleOrden(orden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top"> -->
                                                <tr ng-repeat="orden in ordenes | filter : { idEstatusOrden : estatusValidador, conjuntoEstatus: estadoEstatus }" ng-click="detalleOrden(orden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                                    <td>{{orden.nombreCliente}}</td>
                                                    <td>{{orden.idOrden}}</td>
                                                    <td>{{orden.numeroOrden}}</td>
                                                    <td>{{orden.numeroEconomico}}</td>
                                                    <td>{{orden.idZona}}</td>
                                                    <td>{{orden.nombreTaller}}</td>
                                                    <td>{{orden.nombreTipoOrdenServicio}}</td>
                                                    <td>{{orden.marcaUnidad}}</td>
                                                    <td>{{orden.modeloUnidad}}</td>
                                                    <td>{{orden.comentarioOrden}}</td>
                                                    <td>{{orden.nombreEstatusOrden}}</td>
                                                    <td>{{'BPRO'}}</td>
                                                    <td ng-show="userData.idRol == 2 || userData.idRol == 3">{{orden.venta | currency: "$"}}</td>
                                                    <td>{{orden.fechaCreacionOden | date:"dd-MM-yy HH:mm"}}</td>
                                                    <td>{{orden.fechaInicioTrabajo}}
                                                        <!-- <button ng-if="trabajo.estatus == 'Iniciado' || trabajo.estatus == 'OrdenGarantia'" ng-hide="userData.idTipoUsuario == 4" class="btn btn-success" type="button" ng-click="cargaFecha(trabajo.idTrabajo)" data-toggle="tooltip" tooltip="Fecha Inicio real de trabajos" tooltip-placement="up"><span class="glyphicon glyphicon-calendar"></span></button> -->
                                                    </td>
                                                    <td>{{orden.tiempoEspera}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fecha de Trabajo</h4>
            </div>
            <div class="modal-body">
                <p>Introduce la fecha real de trabajo</p>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Fecha</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" value="" ng-model="fecha_inicio" calendar>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Hora</label>
                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" class="form-control" value="" ng-model="hora_inicio" ng-change="validaHoraCita()">
                            <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <br>
                        <div class="alert alert-warning" ng-show="fecha_error">
                            <strong>Atención!</strong> {{ msg_error }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="Guardar_Fecha();">Guardar Fecha</button>
            </div>
        </div>
    </div>
</div>
