<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="AngularJS/Orden/Styles/trabajo.css">
<link rel="stylesheet" href="AngularJS/PorCobrar/Styles/cobrar.css">

<div ng-init="init()" class="animated bounceInRight" cg-busy="{promise:promise,message:message, minDuration: minDuration,delay:delay}">
    <div class="headTitleTallerCita">
        <span class="title">Cobranza</span>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="contenedorFiltros">
                <div class="col-xs-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ibox">
                            <div class="ibox-title " role="tab" id="headingOne">
                                <h5>Filtros de búsqueda</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" href="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="ibox-content bottomBorder collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                                        <label class="font-noraml">{{zona.etiqueta}}</label>
                                        <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                            <option value="0">Seleccione una Zona</option>
                            <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                              {{z.nombre}}
                            </option>
                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <label class="font-noraml">Ejecutivo</label>
                                        <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected" ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                            <option value="">Seleccione un Ejecutivo</option>
                        </select>
                                    </div>
                                </div>
                                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 espacioInferior">
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="divfechaMes">
                                        <label class="font-noraml">Tipo Fecha</label>
                                        <select class="form-control m-b" id="tipoFecha">
                                           <option value="0">Seleccione</option>
                                            <option value="1">Fecha Cita</option>
                                            <option value="2">Fecha Entrega</option>
                                            <option value="2">Fecha Orden de Pago</option>
                                            <option value="3">Fecha Último Pago</option>
                                            </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="divfechaMes">
                                        <label class="font-noraml">Mes</label>
                                        <div class="input-group date">
                                            <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()"
                                                ng-model="fechaMes" mes>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                                        <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                                            <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start"
                                                ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                                            <span class="input-group-addon"> a </span>
                                            <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin"
                                                ng-change="RangoChange()" calendar/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="calendar">
                                        <label class="font-noraml">Fecha</label>
                                        <div class="input-group date">
                                            <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()"
                                                calendar>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                        <div class="searchContent">
                                            <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar" class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1)">
                                            <span class="glyphicon glyphicon-search"></span> Buscar
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <tabset>
                            <tab heading="Ordenes Por Cobrar" index="0">
                                <div class="row sumatorias">
                                    <div class="col-xs-3 pull-right">
                                        <div>
                                            <h2 class="no-margins">$ 0.00</h2>
                                            <small>precio venta s/iva</small>
                                            <div class="stat-percent">48% </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group pull-right">
                                            <label class="btn btn-primary" btn-radio="'cot'" ng-change="changeGrouper(1)" ng-model="option">
                                               Cotizaciones <span class="fa fa-usd"></span>
                                            </label>
                                            <label class="btn btn-warning active" btn-radio="'ord'" ng-change="changeGrouper(2)" ng-model="option">
                                                Órdenes <span class="fa fa-file-text-o"></span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="table-responsive contenedorTabla">
                                    <table class="table table-striped table-bordered table-hover dataTablePorCobrar">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th ng-hide=" idGrouper == 3">Consecutivo</th>
                                                <th ng-hide=" idGrouper == 3">Número de Órden</th>
                                                <th ng-hide=" idGrouper != 1">Cotización</th>
                                                <th ng-hide=" idGrouper == 3">Número Económico</th>
                                                <th ng-hide=" idGrouper == 3">Placas</th>
                                                <th ng-hide=" idGrouper != 1">Tipo Orden</th>
                                                <th ng-hide=" idGrouper == 3">Provisión</th>
                                                <th ng-hide=" idGrouper != 1">Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Monto Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Saldo Factura Proveedor</th>
                                                <th>Centro de Trabajo</th>
                                                <th>Costo sin IVA</th>
                                                <th>Venta sin IVA</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in porCobrar | groupBy: grouper " ng-click="AbrirOrden(value[0])" class="trTableSelect">
                                                <td>{{value[0].cliente}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].consecutivo}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].numeroOrden}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].numeroCotizacion}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].economico}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].placas}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].tipoOrden}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].provision}}</td>
                                                <td ng-hide=" idGrouper != 1">{{ value[0].proveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].facturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].montoFacturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].saldoFacturaProveedor}}</td>
                                                <td>{{value[0].centroTrabajo}}</td>
                                                <td>{{value[0].costosiniva | currency}}</td>
                                                <td>{{value[0].ventasiniva | currency}}</td>
                                                <td>{{value[0].estatus }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Cargar Orden de Pago" index="1">
                                <div class="row altaOrdenPago">
                                    <div class="col-xs-8">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Alta de Orden de Pago</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <form role="form" class="form-inline" ng-submit="GuardarOrdenPago()">
                                                    <div class="form-group">
                                                        <label class="sr-only">Folio</label>
                                                        <input type="text" placeholder="Folio" ng-model="folio" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only">Monto</label>
                                                        <input type="number" placeholder="Monto" ng-model="monto" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only">Fecha Orden de Pago</label>
                                                        <div class="input-group date">
                                                            <input type="text" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" calendar>
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTableOrdenPago">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Orden Pago</th>
                                                <th>Monto</th>
                                                <th>Fecha Carga</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="orden in ordenPago" ng-click="AbrirCoincidencias(orden)" class="trTableSelect">
                                                <td>{{orden.fecha}}</td>
                                                <td>{{orden.folio}}</td>
                                                <td>{{orden.monto | currency}}</td>
                                                <td>{{orden.fecha}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>

                            <tab heading="PreFactura Generada" index="2">
                                <div class="row sumatorias">
                                    <div class="col-xs-3 pull-right">
                                        <div>
                                            <h2 class="no-margins">$ 0.00</h2>
                                            <small>precio venta s/iva</small>
                                            <div class="stat-percent">12% </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 12%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group pull-right">
                                            <label class="btn btn-primary" btn-radio="'cot'" ng-change="changeGrouper(1)" ng-model="option">
                                               Cotizaciones <span class="fa fa-usd"></span>
                                            </label>
                                            <label class="btn btn-warning active" btn-radio="'ord'" ng-change="changeGrouper(2)" ng-model="option">
                                                Órdenes <span class="fa fa-file-text-o"></span>
                                            </label>
                                            <label class="btn btn-success" btn-radio="'pay'" ng-change="changeGrouper(3)" ng-model="option">
                                                    Orden Pago <span class="fa fa-credit-card"></span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive contenedorTabla">
                                    <table class="table table-striped table-bordered table-hover dataTablePrefactura">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th ng-hide=" idGrouper == 3">Consecutivo</th>
                                                <th ng-hide=" idGrouper == 3">Número de Órden</th>
                                                <th ng-hide=" idGrouper != 1">Cotización</th>
                                                <th ng-hide=" idGrouper == 3">Número Económico</th>
                                                <th ng-hide=" idGrouper == 3">Placas</th>
                                                <th ng-hide=" idGrouper != 1">Tipo Orden</th>
                                                <th ng-hide=" idGrouper == 3">Provisión</th>
                                                <th ng-hide=" idGrouper != 1">Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Monto Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Saldo Factura Proveedor</th>
                                                <th>Centro de Trabajo</th>
                                                <th>Orden Pago</th>
                                                <th>Costo sin IVA</th>
                                                <th>Venta sin IVA</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in prefactura | groupBy: grouper " ng-click="AbrirOrden(value[0])" class="trTableSelect">
                                                <td>{{value[0].cliente}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].consecutivo}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].numeroOrden}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].numeroCotizacion}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].economico}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].placas}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].tipoOrden}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].provision}}</td>
                                                <td ng-hide=" idGrouper != 1">{{ value[0].proveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].facturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].montoFacturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].saldoFacturaProveedor}}</td>
                                                <td>{{value[0].centroTrabajo}}</td>
                                                <td>{{value[0].ordenPago}}</td>
                                                <td>{{value[0].costosiniva | currency}}</td>
                                                <td>{{value[0].ventasiniva | currency}}</td>
                                                <td>{{value[0].estatus }}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Factura Enviada al Cliente" index="3">
                                <div class="row sumatorias">
                                    <div class="col-xs-3 pull-right">
                                        <div>
                                            <h2 class="no-margins">$ 0.00</h2>
                                            <small>precio venta s/iva</small>
                                            <div class="stat-percent">27% </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 27%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group pull-right">
                                            <label class="btn btn-primary" btn-radio="'cot'" ng-change="changeGrouper(1)" ng-model="option">
                                               Cotizaciones <span class="fa fa-usd"></span>
                                            </label>
                                            <label class="btn btn-warning active" btn-radio="'ord'" ng-change="changeGrouper(2)" ng-model="option">
                                                Órdenes <span class="fa fa-file-text-o"></span>
                                            </label>
                                            <label class="btn btn-success" btn-radio="'pay'" ng-change="changeGrouper(3)" ng-model="option">
                                                    Orden Pago <span class="fa fa-credit-card"></span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 pull-left">
                                        <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar" class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1)">
                                            <span class="glyphicon glyphicon-search"></span> Seleccionar Todas
                                        </button>
                                        <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar" class="btn btn-primary" ng-click="consultaCotizacionesFiltros(0,1)">
                                            <span class="glyphicon glyphicon-search"></span> Transferir a Abonadas
                                        </button>
                                    </div>

                                </div>

                                <div class="table-responsive contenedorTabla">
                                    <table class="table table-striped table-bordered table-hover dataTableEnviada">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th ng-hide=" idGrouper == 3">Consecutivo</th>
                                                <th ng-hide=" idGrouper == 3">Número de Órden</th>
                                                <th ng-hide=" idGrouper != 1">Cotización</th>
                                                <th ng-hide=" idGrouper == 3">Número Económico</th>
                                                <th ng-hide=" idGrouper == 3">Placas</th>
                                                <th ng-hide=" idGrouper != 1">Tipo Orden</th>
                                                <th ng-hide=" idGrouper == 3">Provisión</th>
                                                <th ng-hide=" idGrouper != 1">Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Monto Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Saldo Factura Proveedor</th>
                                                <th>Centro de Trabajo</th>
                                                <th>Orden Pago</th>
                                                <th>Factura Cliente</th>
                                                <th>Monto Factura Cliente</th>
                                                <th>Costo sin IVA</th>
                                                <th>Venta sin IVA</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in enviada | groupBy: grouper " ng-click="AbrirOrden(value[0])" class="trTableSelect">
                                                <td>{{value[0].cliente}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].consecutivo}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].numeroOrden}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].numeroCotizacion}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].economico}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].placas}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].tipoOrden}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].provision}}</td>
                                                <td ng-hide=" idGrouper != 1">{{ value[0].proveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].facturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].montoFacturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].saldoFacturaProveedor}}</td>
                                                <td>{{value[0].centroTrabajo}}</td>
                                                <td>{{value[0].ordenPago}}</td>
                                                <td>{{value[0].facturaCliente}}</td>
                                                <td>{{value[0].montoFacturaCliente}}</td>
                                                <td>{{value[0].costosiniva | currency}}</td>
                                                <td>{{value[0].ventasiniva | currency}}</td>
                                                <td>{{value[0].estatus }}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Facturas Abonadas" index="4">
                                <div class="row sumatorias">
                                    <div class="col-xs-3 pull-right">
                                        <div>
                                            <h2 class="no-margins">$ 0.00</h2>
                                            <small>precio venta s/iva</small>
                                            <div class="stat-percent">5% </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 5%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group pull-right">
                                            <label class="btn btn-primary" btn-radio="'cot'" ng-change="changeGrouper(1)" ng-model="option">
                                               Cotizaciones <span class="fa fa-usd"></span>
                                            </label>
                                            <label class="btn btn-warning active" btn-radio="'ord'" ng-change="changeGrouper(2)" ng-model="option">
                                                Órdenes <span class="fa fa-file-text-o"></span>
                                            </label>
                                            <label class="btn btn-success" btn-radio="'pay'" ng-change="changeGrouper(3)" ng-model="option">
                                                    Orden Pago <span class="fa fa-credit-card"></span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive contenedorTabla">
                                    <table class="table table-striped table-bordered table-hover dataTableAbonadas">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th ng-hide=" idGrouper == 3">Consecutivo</th>
                                                <th ng-hide=" idGrouper == 3">Número de Órden</th>
                                                <th ng-hide=" idGrouper != 1">Cotización</th>
                                                <th ng-hide=" idGrouper == 3">Número Económico</th>
                                                <th ng-hide=" idGrouper == 3">Placas</th>
                                                <th ng-hide=" idGrouper != 1">Tipo Orden</th>
                                                <th ng-hide=" idGrouper == 3">Provisión</th>
                                                <th ng-hide=" idGrouper != 1">Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Monto Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Saldo Factura Proveedor</th>
                                                <th>Centro de Trabajo</th>
                                                <th>Orden Pago</th>
                                                <th>Factura Cliente</th>
                                                <th>Monto Factura Cliente</th>
                                                <th>Abono Factura Cliente</th>
                                                <th>Saldo Factura Cliente</th>
                                                <th>Fecha Ultimo Pago</th>
                                                <th>Costo sin IVA</th>
                                                <th>Venta sin IVA</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in abonadas | groupBy: grouper " ng-click="AbrirOrden(value[0])" class="trTableSelect">
                                                <td>{{value[0].cliente}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].consecutivo}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].numeroOrden}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].numeroCotizacion}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].economico}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].placas}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].tipoOrden}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].provision}}</td>
                                                <td ng-hide=" idGrouper != 1">{{ value[0].proveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].facturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].montoFacturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].saldoFacturaProveedor}}</td>
                                                <td>{{value[0].centroTrabajo}}</td>
                                                <td>{{value[0].ordenPago}}</td>
                                                <td>{{value[0].facturaCliente}}</td>
                                                <td>{{value[0].montoFacturaCliente}}</td>
                                                <td>{{value[0].abonoFacturaCliente}}</td>
                                                <td>{{value[0].saldoFacturaCliente}}</td>
                                                <td>{{value[0].fechaPagoFacturaCliente}}</td>
                                                <td>{{value[0].costosiniva | currency}}</td>
                                                <td>{{value[0].ventasiniva | currency}}</td>
                                                <td>{{value[0].estatus }}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </tab>

                            <tab heading="Facturas Pagadas" index="5">
                                <div class="row sumatorias">
                                    <div class="col-xs-3 pull-right">
                                        <div>
                                            <h2 class="no-margins">$ 0.00</h2>
                                            <small>precio venta s/iva</small>
                                            <div class="stat-percent">10% </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 10%;" class="progress-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group pull-right">
                                            <label class="btn btn-primary" btn-radio="'cot'" ng-change="changeGrouper(1)" ng-model="option">
                                               Cotizaciones <span class="fa fa-usd"></span>
                                            </label>
                                            <label class="btn btn-warning active" btn-radio="'ord'" ng-change="changeGrouper(2)" ng-model="option">
                                                Órdenes <span class="fa fa-file-text-o"></span>
                                            </label>
                                            <label class="btn btn-success" btn-radio="'pay'" ng-change="changeGrouper(3)" ng-model="option">
                                                    Orden Pago <span class="fa fa-credit-card"></span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive contenedorTabla">
                                    <table class="table table-striped table-bordered table-hover dataTablePagadas">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th ng-hide=" idGrouper == 3">Consecutivo</th>
                                                <th ng-hide=" idGrouper == 3">Número de Órden</th>
                                                <th ng-hide=" idGrouper != 1">Cotización</th>
                                                <th ng-hide=" idGrouper == 3">Número Económico</th>
                                                <th ng-hide=" idGrouper == 3">Placas</th>
                                                <th ng-hide=" idGrouper != 1">Tipo Orden</th>
                                                <th ng-hide=" idGrouper == 3">Provisión</th>
                                                <th ng-hide=" idGrouper != 1">Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Monto Factura Proveedor</th>
                                                <th ng-hide=" idGrouper != 1">Saldo Factura Proveedor</th>
                                                <th>Centro de Trabajo</th>
                                                <th>Orden Pago</th>
                                                <th>Factura Cliente</th>
                                                <th>Monto Factura Cliente</th>
                                                <th>Saldo Factura Cliente</th>
                                                <th>Fecha Ultimo Pago</th>
                                                <th>Costo sin IVA</th>
                                                <th>Venta sin IVA</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in porCobrar | groupBy: grouper " ng-click="AbrirOrden(value[0])" class="trTableSelect">
                                                <td>{{value[0].cliente}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].consecutivo}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].numeroOrden}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].numeroCotizacion}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].economico}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].placas}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].tipoOrden}}</td>
                                                <td ng-hide=" idGrouper == 3">{{value[0].provision}}</td>
                                                <td ng-hide=" idGrouper != 1">{{ value[0].proveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].facturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].montoFacturaProveedor}}</td>
                                                <td ng-hide=" idGrouper != 1">{{value[0].saldoFacturaProveedor}}</td>
                                                <td>{{value[0].centroTrabajo}}</td>
                                                <td>{{value[0].ordenPago}}</td>
                                                <td>{{value[0].facturaCliente}}</td>
                                                <td>{{value[0].montoFacturaCliente}}</td>
                                                <td>{{value[0].saldoFacturaCliente}}</td>
                                                <td>{{value[0].fechaPagoFacturaCliente}}</td>
                                                <td>{{value[0].costosiniva | currency}}</td>
                                                <td>{{value[0].ventasiniva | currency}}</td>
                                                <td>{{value[0].estatus}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>

                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mejorCoincidencia" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  flipInY">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <h3 class="modal-title">Mejor Coincidencia</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <h6 class="modal-title text-navy">
                            <br><br><br> Número COPADE: {{numeroCopade}}
                        </h6>
                    </div>
                    <div class="col-xs-6">
                        <br>
                        <br>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Órden de Surtimiento</th>
                                    <td>{{folio}}</td>
                                </tr>
                                <tr>
                                    <th>Número Estimación</th>
                                    <td>{{numeroestimacion}}</td>
                                </tr>
                                <tr>
                                    <th>Monto de la Orden</th>
                                    <td>{{monto | currency}}</td>
                                </tr>
                                <tr>
                                    <th>Fecha Carga de ASE</th>
                                    <td>{{fechacarga | date:'dd-MM-yyyy HH:mm'}}</td>
                                </tr>
                                <tr>
                                    <th>Fecha Llegada COPADE</th>
                                    <td>{{fecharecepcion}}</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                 <h6 class="modal-title text-navy">
                                        <br>
                                            Orden de Surtimiento: {{folio}} &nbsp
                                            Monto de la Orden: {{monto | currency}}
                                        </h6> -->
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTableCoincidencia">
                        <thead>
                            <tr>
                                <th>Número de la Orden</th>
                                <th>Número Económico</th>
                                <th>TAR</th>
                                <th>Orden de Surtimiento</th>
                                <th>Monto de la Orden</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="coincidencias in coincidencia">
                                <td>{{coincidencias.numeroTrabajo}}</td>
                                <td>{{coincidencias.numEconomico}}</td>
                                <td>{{coincidencias.TAR}}</td>
                                <td>{{coincidencias.folio}}</td>
                                <td>{{coincidencias.montoOrden | currency}}</td>
                                <td>
                                    <input type="checkbox" name="name" ng-click="seleccionMejorCoincidencia(coincidencias.idTrabajo, coincidencias.montoOrden, coincidencias.numeroTrabajo)"
                                        data-toggle="tooltip" tooltip="" tooltip-placement="left">&nbsp;Elegir

                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-header">
                        <h3 class="modal-title">Ordenes por Cobrar</h3>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTableOrdenesPorCobrar">
                        <thead>
                            <tr>
                                <th>Número de la Orden</th>
                                <th>Número Económico</th>
                                <th>TAR</th>
                                <th>Orden de Surtimiento</th>
                                <th>Monto de la Orden</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="orden in ordenes">
                                <td>{{orden.numeroTrabajo}}</td>
                                <td>{{orden.numEconomico}}</td>
                                <td>{{orden.TAR}}</td>
                                <td>{{orden.folio}}</td>
                                <td>{{orden.montoOrden | currency}}</td>
                                <td>
                                    <input type="checkbox" name="name" ng-click="seleccionMejorCoincidencia(orden.idTrabajo, orden.montoOrden, orden.numeroTrabajo)"
                                        data-toggle="tooltip" tooltip-placement="left">&nbsp;Elegir

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="cleanDatos()">Salir</button>
                <button type="button" class="btn btn-primary" ng-click="asociarCopade()">Crear prefactura</button>
            </div>
        </div>
    </div>
</div>