<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="AngularJS/Administracion/Styles/administracionOrden.css">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Aprobación Provisión</span>
    </div>
    <br>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover dataTableAprobacionProvision" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>
                                        <th>Costo</th>
                                        <th>Venta</th>
                                        <th>Estatus</th>
                                        <th>Horas en espera</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="provision in aprobacionProvision | filter:searchText " title="Ver detalles" ng-dblclick="seleccionarOrden(provision)">
                                        <td>{{provision.nombreCliente}}</td>
                                        <td>{{provision.idOrden}}</td>
                                        <td>{{provision.numeroOrden}}</td>
                                        <td>{{provision.numeroEconomico}}</td>
                                        <td>{{provision.nombre}}</td>
                                        <td>{{provision.costo |  currency: "$"}}</td>
                                        <td>{{provision.venta | currency: "$"}}</td>
                                        <td>{{provision.nombreEstatusOrden }}</td>
                                        <td>{{provision.tiempo }}</td>      
                                        
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
