<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title title-xs"> Mi Cuenta</span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="payment-card">
                            <div class="row">
                                <div class="col-xs-6 col-md-12 col-sm-6 col-lg-6">
                                    <p>
                                        <label>USUARIO:</label>
                                        <span>EDWIN.CRUZ</span>
                                        <!-- <i class="fa fa-check"></i> -->
                                    </p>
                                    <p>
                                        <label>NOMBRE</label>
                                        <span>EDWIN CRUZ GARCIA</span>
                                    </p>
                                    <p>
                                        <label>ROL</label>
                                        <span>ADMINISTRADOR</span>
                                    </p>
                                    <p>
                                        <label>SUCURSAL</label>
                                        <span>BAJÍO</span>
                                    </p>
                                    <p>
                                        <label>UNIDAD OPERATIVA</label>
                                        <span>QUERETARO/GUANAJUATO</span>
                                    </p>
                                </div>
                                <div class="widget">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12 text-right">
                                            <button type="button" class="btn btn-primary">CAMBIAR PASSWORD</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Memorandum</h5>
                        <div class="ibox-tools">
                            <span class="label label-warning-light pull-right">10 Messages</span>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div>
                            <div class="feed-activity-list">

                                <div class="feed-element">
                                    <div class="media-body ">
                                        <small class="pull-right">Hace 2 hrs</small>
                                        <strong>Administrador</strong> publicó nuevo Memorandum. <strong>Folio: #060</strong>                                        <br>
                                        <small class="text-muted">Hoy a las 10:06 a.m.</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"> Ir al Memorandum</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-element">
                                    <div class="media-body ">
                                        <small class="pull-right">Hace 3 hrs</small>
                                        <strong>Administrador</strong> publicó nuevo Memorandum. <strong>Folio: #059</strong>                                        <br>
                                        <small class="text-muted">Hoy a las 08:06 a.m.</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"> Ir al Memorandum</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-element">
                                    <div class="media-body ">
                                        <small class="pull-right">Hace 1 día</small>
                                        <strong>Administrador</strong> publicó nuevo Memorandum. <strong>Folio: #058</strong>                                        <br>
                                        <small class="text-muted">Ayer a las 10:06 a.m.</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"> Ir al Memorandum</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="feed-element">
                                    <div class="media-body ">
                                        <small class="pull-right">Hace 1 día</small>
                                        <strong>Administrador</strong> publicó nuevo Memorandum. <strong>Folio: #057</strong>                                        <br>
                                        <small class="text-muted">Ayer a las 10:06 a.m.</small>
                                        <div class="actions">
                                            <a class="btn btn-xs btn-white"> Ir al Memorandum</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Mostrar Todos</button>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>