<link rel="stylesheet" type="text/css" href="AngularJS/MiCuenta/Styles/nuevoMemorandum.css">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title"> NUEVO MEMORANDUM</span>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row superior">
            <div class="subtitle">
                <span> Datos Generales</span>
            </div>
            <hr>
            <div class="col-md-6">
                <input type="text" class="form-control text-center" placeholder="Introduce aqui el título" ng-model="titulo" />
                <br>
                <div id="editor"></div>
            </div>
            <div class="col-md-3">
                <div class="dx-viewport demo-container text-center" ng-app="DemoApp" ng-controller="nuevoMemorandumController">
                    <h3> Evidencias</h3>
                    <div id="fileuploader">
                        <div class="widget-container">
                            <div dx-file-uploader="options">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="subtitle">
                <span> Notificaciones</span>
            </div>
            <hr>
            <br>
            <div class="col-md-4">
                <div dx-check-box="checkBox.unchecked" ng-model="chkShowPerfiles"></div><span> Notificación por Perfil</span>
                <div class="row" ng-if="chkShowPerfiles">
                    
                </div>
            </div>
            <div class="col-md-4">
                <div dx-check-box="checkBox.unchecked"></div><span> Notificación por Zona</span>
            </div>
            <div class="col-md-4">
                <div dx-check-box="checkBox.unchecked"></div><span> Notificación por Usuario</span>
            </div>
        </div>
    </div>
</div>