<link rel="stylesheet" type="text/css" href="AngularJS/MiCuenta/Styles/nuevoMemorandum.css">
<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title"> Nuevo Memorandum</span>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row superior">
            <div class="subtitle text-center">
                <span><span class="fa fa-info"></span> Datos Generales</span>
                <button class="pull-right btn btn-sm btn-primary" type="button" ng-click="saveMemo()">GUARDAR</button>
            </div>
            <hr>
            <div class="col-md-6">
                <input type="text" class="form-control text-center" placeholder="Titulo" ng-model="titulo" />
                <br>
                <div id="editor" ng-model="descripcion"></div>
            </div>
            <div class="col-md-6">
                <div class="dx-viewport demo-container text-center" ng-app="DemoApp" ng-controller="nuevoMemorandumController">
                    <h3> Evidencias</h3>
                    <div id="fileuploader">
                        <div class="widget-container">
                            <div dx-file-uploader="fileUploadOptions" class="pull-left">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="subtitle text-center">
                <span><span class="fa fa-envelope-o"></span> Notificaciones</span>
            </div>
            <hr>
            <br>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <div class="row">
                            <span class="fa fa-key"></span>
                            <div dx-check-box="{text: 'Notificación por Perfil', value: false, icon: 'fa fa-plus'}"  ng-model="chkShowPerfiles" style="font-weight: bold;"></div>
                        </div>
                        <br>
                        <div class="row" ng-if="chkShowPerfiles">
                            <div class="dx-viewport demo-container">
                                <div class="dx-searchbar">
                                    <div dx-text-box="searchOptionsPerfiles"></div>
                                </div>
                                <div>
                                    <div dx-list="listOptionsPerfiles"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <div class="row">
                                <span class="fa fa-user"></span>
                            <div dx-check-box="{text: 'Notificación por Usuarios', value: false}" ng-model="chkShowUsuarios" style="font-weight: bold;"></div>
                        </div>
                        <br>
                        <div class="row" ng-if="chkShowUsuarios">
                            <div class="dx-viewport demo-container">
                                <div class="dx-searchbar">
                                    <div dx-text-box="searchOptionsUsuarios"></div>
                                </div>
                                <div>
                                    <div dx-list="listOptionsUsuarios"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="row">
                        <span class="fa fa-globe"></span>
                        <div dx-check-box="{text: 'Notificación por Zona', value: false}" ng-model="chkShowZonas" style="font-weight: bold;"></div>
                    </div>
                    <br>
                    <div class="row" ng-if="chkShowZonas">
                        <div dx-text-box="searchOptions"></div>
                        <div dx-tree-view="treeViewZonasOptions" dx-item-alias="data">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>