
.circle{
	border: 3px solid ;
    border-style: solid;
    border-color: white;
    cursor: none !important;
}

.menu{
	font-weight: bold;
    font-size: 15px;
}

.section_configurador {
    border: 2px #eee solid;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_btn{
	padding-left: 100px;
	padding-right: 100px;
}

#modulosFormulario{
	padding-left: 30px;
}

.titleBlue {
	color:#0E4579;
}

.activityMenu, .activityMenu button {
	/*background: rgba(83, 143, 181, 0.66) !important;*/
	background: #fff !important;
    color: #55B4F0 !important;
    border: 2px #55B4F0 solid !important;
}

.dataTableOperacion tr{
	cursor:pointer;
}

#licitaciones .dataTables_wrapper, #licitaciones .dataTables_length label, #unidades .dataTables_wrapper, #unidades .dataTables_length label{
	margin-left: 50px !important;
}

#licitaciones .html5buttons, #licitaciones .dataTables_filter, #unidades .html5buttons, #unidades .dataTables_filter{
	margin-right: 50px !important;
}

#licitaciones .pagination, #unidades .pagination{
	width: 250px!important;
}