<link rel="stylesheet" href="AngularJS/Detalle/Styles/detalle.css">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title title-xs"> Consulta Unidad</span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                            <h3>Orden: <span class="text-orden">{{numeroOrden}} </span></h3>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                            <h3><span class="label label-primary mayusculas">{{detalleOrden.nombreEstatusOrden}} </span></h3>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="progressPrincipal">
                                <div class="progressBarraPadre">
                                    <div ng-repeat='historico in HistoricoOrden' class="progressBarra" style="width: {{historico.PorcentajeTotal}}%">
                                        <a href="#" title='<img alt="image" class="img-circle" src="image/profile/man2.jpg"> {{historico.nombreCompleto}}' data-toggle="popover" data-placement="top" data-trigger="hover" data-content='Fecha: {{historico.fecha | date:"dd-MM-yyyy" }}'>{{historico.nombreEstatusOrden}}</a>
                                    </div>
                                </div>
                                <div ng-repeat="cotz in HistoricoCotizaciones | orderBy:'consecutivo'">
                                    <div class='subProgress'>
                                        <p>{{cotz.data[0].numeroCotizacion}}</p>
                                        <div ng-class="{subProgressBarra:cot.idEstatusCotizacion!= 4,subProgressBarraCancelada: cot.idEstatusCotizacion==4}" ng-repeat="cot in cotz.data" style="width: {{cot.Porcentaje}}%;">
                                            <a href="#" title='<img alt="image" class="img-circle" src="image/profile/man2.jpg"> {{cot.nombreCompleto}}' data-toggle="popover" data-placement="top" data-trigger="hover" data-content='Fecha: {{cot.fecha | date:"dd-MM-yyyy" }}'>
                                            {{cot.nombreEstatusCotizacion}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Detalle de la orden</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <p>
                                            <label>Descripción de la Orden:</label>
                                            <span>{{detalleOrden.comentarioOrden}}</span>
                                        </p>
                                        <p>
                                            <label>Número Economico: </label>
                                            <span>{{detalleOrden.numeroEconomico}}</span>
                                        </p>
                                        <p>
                                            <label>Marca-Modelo: </label>
                                            <span>{{detalleOrden.marca}}</span>
                                        </p>
                                        <p>
                                            <label>Zona:</label>
                                            <span>Centro</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Detalle del Cliente</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <p>
                                            <label>Cliente:</label>
                                            <span>{{detalleCliente.nombreComercial}}</span>
                                        </p>
                                        <p>
                                            <label>Dirección:</label>
                                            <span>{{detalleCliente.direccion}}</span>
                                        </p>
                                        <p>
                                            <label>Teléfono: </label>
                                            <span>{{detalleCliente.telefono}}</span>
                                        </p>
                                        <h3 ng-show="estatus==4">Presupuesto</h3>
                                        <p ng-show="estatus==4">
                                            <label>Saldo Disponible: </label>
                                            <span ng-class="{sinPresupuesto : TieneSaldo == false}">{{saldos.presupuesto-saldos.saldoDisponible| currency:"$": 2}}</span>
                                        </p>
                                        <p ng-show="estatus==4">
                                            <label>Saldo Real: </label>
                                            <span ng-class="{sinPresupuesto : TieneSaldo == false}">{{saldos.presupuesto-saldos.saldoReal| currency:"$": 2}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="hr-line-dashed"></div>
                        </div>
                        <!-- Eidencias por orden -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <h3>Catálogo de Evidencias</h3>
                            <div class="carousel slide" id="carousel1" style="height: 350px;width: 90%">
                                <div class="carousel-inner">
                                    <div class="item" ng-class="{active:!$index}" ng-repeat="evidencia in detalleEvidencias">
                                        <img alt="image" class="img-responsive" src="{{evidencia.rutaEvidencia}}">
                                    </div>
                                    <!--   <div class="item">
                                        <img alt="image" class="img-responsive" src="{{evidencia.rutaEvidencia}}">
                                    </div> -->
                                    <!--                                     <div class="item">
                                        <img alt="image" class="img-responsive" src="image/pemex_logo.png">
                                    </div>
                                    <div class="item ">
                                        <img alt="image" class="img-responsive" src="image/firma.png">
                                    </div> -->
                                </div>
                                <a data-slide="prev" href="#carousel1" class="left carousel-control">
                                    <span class="icon-prev"></span>
                                </a>
                                <a data-slide="next" href="#carousel1" class="right carousel-control">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                            <div class="wrapper wrapper-content">
                                <br/>
                                <form id="myForm" name="myForm" enctype="multipart/form-data" method="post">
                                    <label>Carga Evidencia</label>
                                    <input type="file" name="myFile1" id="myFile1">
                                    <br>
                                    <!-- <label>PDF</label> <input type="file" name="myFile2" id="myFile2"> -->
                                    <input class="btn btn-warning" type="submit" name="submit" id="myButton" ng-click="subirEvidencias()">
                                </form>
                            </div>
                        </div>
                        <!-- Documentos por orden -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <h3>Documentación de la Orden</h3>
                            <div class="m-t-xl">
                                <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                                    <label>Recepción</label>
                                    <br>
                                    <button ng-show="validaCertificado == 0" class="btn btn-archivo  btn-large-dim btn-outline m-t-md" type="button" ng-disabled="true"><i class="fa fa-file-pdf-o"></i></button>
                                    <div  ng-show="validaCertificado != 0" class="btn btn-archivo btn-outline m-t-md" ng-click="archivoEvidencia(1)">
                                        <span>
                                            <img alt="image" src="image/imgPDF.png" />
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                                    <label>Hoja de Trabajo</label>
                                    <br>
                                    <button class="btn btn-archivo  btn-large-dim btn-outline m-t-md" type="button" ng-click="OpenTrabajo();" ng-disabled="idEstatusOrden != 7" ><i class="fa fa-file-pdf-o"></i></button>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                                    <label>Factura</label>
                                    <br>
                                    <button class="btn btn-archivo  btn-large-dim btn-outline m-t-md" type="button" ng-disabled="true"><i class="fa fa-file-pdf-o"></i></button>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                                    <label>Orden de Pago</label>
                                    <br>
                                    <button class="btn btn-archivo  btn-large-dim btn-outline m-t-md" type="button" ng-disabled="true"><i class="fa fa-file-pdf-o"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="hr-line-dashed"></div>
                        </div>
                        <!--Costos totales de las  cotizaciones-->
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" ng-show="orden.IdTipoOrden = 2">
                            
                            <table class="table invoice-total">
                                <tbody>
                                  <tr>
                                      <td><strong>SUBTOTAL :</strong></td>
                                      <td>{{btnSwitch.showCostoVenta == true ? totalSumaCosto : totalSumaVenta | currency}}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>I.V.A :</strong></td>
                                      <td>{{btnSwitch.showCostoVenta == true ? totalSumaCosto * 0.16 : totalSumaVenta * 0.16 | currency}}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>TOTAL :</strong></td>
                                      <td>{{btnSwitch.showCostoVenta == true ? totalSumaCosto * 1.16 : totalSumaVenta * 1.16 | currency}}</td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Ordenes en Aprobación-->
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 smallerFont scroll_content panelCotizaciones">
                            <!--Cotizaciones Grua-->
                            <div class="row" ng-show="orden.idTipoOrden = 1" ng-show="cotizacion.success" ng-repeat="cotizacion in cotizaciones">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="pestania">
                                                <h3>{{ cotizacion.numeroCotizacion }}</h3>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                                <h4>Detalle de la Cotización</h4>
                                                <address>
                                                    <strong>Estatus: </strong>
                                                    <span class="label label-success mayusculas">{{cotizacion.nombreEstatusCotizacion}} </span>
                                                </address>
                                            </div>
                                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
                                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                                <h4>Detalle de Proveedor</h4>
                                                <address>
                                                    <strong>Taller: </strong><span>{{cotizacion.razonSocial}}</span>
                                                    <br><strong>Dirección: </strong> <span>{{cotizacion.direccion}}</span>
                                                    <br><strong>Zona: </strong> <span>{{cotizacion.nombreZona}}</span>
                                                </address>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="btn-group pull-right" ng-hide="hideSwitchBtn">
                                                    <button type="button" ng-class="btnSwitch.classCosto" ng-click="btnSwitch.showCostoVenta=true;
                                                    btnSwitch.classVenta='btn btn-default';
                                                    btnSwitch.classCosto='btn btn-success'">Costo</button>
                                                    <button type="button" ng-class="btnSwitch.classVenta" ng-click="btnSwitch.showCostoVenta=false;
                                                    btnSwitch.classVenta='btn btn-success';
                                                    btnSwitch.classCosto='btn btn-default' ">Venta</button>
                                                </div>
                                                <button
                                                    class="btn btn-primary pull-right cargar-factura"
                                                    ng-show="estatus == 5 && cotizacion.factura == 0"
                                                    ng-click="OpenModalFactura( cotizacion.idOrden,cotizacion.consecutivoCotizacion,cotizacion.sumaCosto );">
                                                    Cargar Factura {{  }}
                                                </button>

                                                <button
                                                    class="btn btn-success pull-right cargar-factura"
                                                    ng-show="estatus == 5 && cotizacion.factura != 0"
                                                    >
                                                    Factura Cargada
                                                </button>
                                            </div>
                                            <br>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="table-responsive m-t">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>ID Partida</th>
                                                                <th ng-hide="true">idEspecialidad</th>
                                                                <th>Especialidad</th>
                                                                <th ng-hide="true">idPartidaClasificacion</th>
                                                                <th>Clasificación</th>
                                                                <th ng-hide="true">idPartidaSubClasificacion</th>
                                                                <th>Subclasificación</th>
                                                                <th>Partida</th>
                                                                <th>No. Parte</th>
                                                                <th>Descripción</th>
                                                                <th>Foto</th>
                                                                <th>Instructivo</th>
                                                                <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                                                <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                                                <th ng-show="estatus == 5">&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="partida in cotizacion.detalle">
                                                                <td>{{partida.idPartida}}</td>
                                                                <td ng-hide="true">{{partida.idEspecialidad}}</td>
                                                                <td>{{partida.especialidad}}</td>
                                                                <td ng-hide="true">{{partida.idPartidaClasificacion}}</td>
                                                                <td>{{partida.clasificacion}}</td>
                                                                <td ng-hide="true">{{partida.idPartidaSubClasificacion}}</td>
                                                                <td>{{partida.subClasificacion}}</td>
                                                                <td>{{partida.partida}}</td>
                                                                <td>{{partida.noParte}}</td>
                                                                <td>{{partida.descripcion}}</td>
                                                                <td>{{partida.foto}}</td>
                                                                <td>{{partida.instructivo}}</td>
                                                                <td ng-show="btnSwitch.showCostoVenta" class="text-right">{{partida.costo | currency}}</td>
                                                                <td ng-hide="btnSwitch.showCostoVenta" class="text-right">{{partida.venta | currency}}</td>
                                                                <td ng-show="estatus == 4">
                                                                    <button ng-init="partida.btnClass='btn btn-warning';
                                                                        partida.btnDisabled=true;
                                                                        partida.btnStep=0;
                                                                        partida.idStatus=0;                                                      partida.btnText='*';
                                                                        partida.btnIcon='glyphicon glyphicon-question-sign';
                                                                        initApproveButtons(partida)"
                                                                        ng-class="partida.btnClass"
                                                                        ng-click="setApprove(partida)"
                                                                        ng-disabled="partida.btnEnable">
                                                                        <span ng-class="partida.btnIcon"></span>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                                    <table class="table invoice-total">
                                                        <tbody>
                                                            <tr>
                                                                <td><strong>SUBTOTAL :</strong></td>
                                                                <td>{{ btnSwitch.showCostoVenta == true ? cotizacion.sumaCosto : cotizacion.sumaVenta | currency}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>I.V.A :</strong></td>
                                                                <td>{{ btnSwitch.showCostoVenta == true ? cotizacion.sumaCosto * 0.16 : cotizacion.sumaVenta * 0.16 | currency}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>TOTAL :</strong></td>
                                                                <td>{{ btnSwitch.showCostoVenta == true ? cotizacion.sumaCosto * 1.16 : cotizacion.sumaVenta * 1.16 | currency}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div ng-show="btn_editarCotizacion">
                                                         <button  class="btn btn-primary pull-right btn-movil" type="submit"
                                                          ng-click= "editarCotizacion(cotizacion)">Editar Cotización</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Acciones -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="panel panel-default planAccionOrden">
                                <div class="panel-heading">
                                    Plan de Acción
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <form role="form">
                                            <br>
                                            <div class="headTitleAdmonTaller">
                                                <span class="title">Plan de Acción</span>
                                            </div><br>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <label>Plan</label>
                                            </div>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <textarea name="message" placeholder="Escriba su plan de acción" ng-model="comentaAccion" style="width: 352px; height: 82px;"></textarea>
                                                <!-- <input type="text" class="form-control"> -->
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3 m-t">
                                                <label>Fecha</label>
                                            </div>
                                            <div class="col-sm-5 col-md-5 col-lg-5 m-t">
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" value="" ng-model="fechaAccion" calendar>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 m-t" style="padding-bottom: 15px;"">
                                                <button class="btn btn-sm btn-primary pull-right" ng-click="acciones()">Agregar Acción</button>
                                            </div>
                                            <div class="headTitleAdmonTaller">
                                                <span class="title">Recordatorios</span>
                                            </div><br>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <label>Recordatorio</label>
                                            </div>
                                            <div class="col-sm-9 col-md-9 col-lg-9">
                                                <textarea name="message" placeholder="Escriba su recordatorio" style="width: 352px; height: 82px;" ng-model="comentaRecordatorio"></textarea>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3 m-t">
                                                <label>Fecha</label>
                                            </div>
                                            <div class="col-sm-5 col-md-5 col-lg-5 m-t">
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" value="" ng-model="fechaRecordatorio" calendar>
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 m-t">
                                                        <label>Hora</label>
                                                    </div>
                                                    <div class="col-sm-5 col-md-5 col-lg-5 m-t">
                                                        <div class="input-group horaAsignada" data-autoclose="true">
                                                            <input type="text" class="form-control" value="" ng-model="horaRecordatorio">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-clock-o"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 m-t">
                                                        <button class="btn btn-sm btn-primary pull-right" ng-click="recordatorio()">Agregar Recordatorio</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Notas -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Notas
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="my-scroll-nota">
                                            <div class="chat-activity-list">
                                                <div ng-repeat="notas in notaTrabajo">
                                                    <div class="chat-element">
                                                        <a href="#" ng-class="notas.idUsuario === idUsuario ? 'pull-left' : 'pull-right'">
                                                            <img alt="image" class="img-circle" src="image/profile/man2.jpg">
                                                        </a>
                                                        <div class="media-body">
                                                            <small ng-class="notas.idUsuario === idUsuario ? 'pull-right' : 'pull-left'">{{notas.tiempoTranscurrido}}</small>
                                                            <div ng-class="notas.idUsuario === idUsuario ? 'pull-left' : 'pull-right'">
                                                                <strong>{{notas.nombreCompleto}}</strong>
                                                                <p class="m-b-xs">
                                                                    {{notas.texto}}
                                                                </p>
                                                                <small class="text-muted">{{notas.fecha |  date:'medium'}}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-form">
                                            <form role="form">
                                                <div class="form-group">
                                                    <textarea class="form-control nota-input" placeholder="Escriba una nota" ng-model="textoNota"></textarea>
                                                </div>
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs" ng-click="enviaNota()">Enviar Nota</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Botones -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button ng-hide="btnEditarIsEnable" class="btn btn-success pull-right btn-movil" type="submit"> Editar</button>

                            <button ng-hide="btnGuardaCotizacionIsEnable" class="btn btn-primary pull-right btn-movil"
                            ng-click="btnSaveCotizacion()"> Guarda Cotizacion</button>

                            <button ng-hide="btnNuevaCotizacionIsEnable" class="btn btn-success pull-right btn-movil" type="submit" ng-click="nuevaCotizacion()">Nueva Cotización</button>
                            <button ng-hide="btnEditarCotizacionIsEnable" class="btn btn-primary pull-right btn-movil" type="submit">Editar Cotización</button>
                            <button  ng-hide="btnComprobanteRecepcionIsEnable" ng-disabled="validaCertificado != 0" class="btn btn-info pull-right btn-movil" type="submit" ng-click="comprobante()">Comprobante de Recepción</button>
                            <button ng-hide="btnEditarCitaIsEnable"  class="btn btn-warning pull-right  btn-movil" type="submit">Editar Cita</button>
                            <button ng-hide="btnCancelarCitaIsEnable" class="btn btn-rojo pull-right  btn-movil" type="submit">Cancelar Cita</button>
                            <button ng-hide="btnNegroIsEnable" class="btn btn-negro pull-right  btn-movil" type="submit">Negro</button>
                            <button ng-hide="btnMoradoIsEnable" class="btn btn-morado pull-right  btn-movil" type="submit">Morado</button>
                        </div>
                        <!-- Seccion es para los estatus de procesos, termino trabajo y entrega de la Orden -->
                        <div ng-show="idEstatusOrden == 5 && estatus == 5" ;>
                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-primary pull-right btn-movil" type="button" ng-click="ValidaTerminoTrabajo();">
                                    Terminar Trabajo
                                </button>
                            </div>
                        </div>

                        <div ng-show="idEstatusOrden == 6 && estatus == 5">
                            <div class="col-sm-12 col-md-6 pull-right">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Token de Autorización Administrador
                                    </div>
                                    <div class="panel-body">
                                        <p> La orden se encuentra en espera de autorización, para permitir la salida de la unidad.</p>
                                        <p>Introduzca el token proporcionado por el administrador.</p>
                                        <br>
                                        <br>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <label>Token</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" ng-model="token_termino" class="token_admin form-control">
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                            <button class="btn btn-primary pull-right btn-movil" type="button" ng-click="ValidaEntrega();">
                                                Aceptar
                                            </button>
                                            <!-- <button class="btn btn-default tbn-cancelar pull-right btn-movil" type="button" ng-click="HideAutorizacionAdmin();">
                                                Cancelar
                                            </button> -->
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="idEstatusOrden == 7">
                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-primary btn-entrega pull-right" type="button" ng-click="ShowAutorizacionAdmin();">
                                    Entrega Trabajo
                                </button>

                                <button class="btn btn-danger pull-right" type="button" ng-click="RechazarTrabajo();">
                                    Rechazar Trabajo
                                </button>
                            </div>
                            <div class="col-sm-12 col-md-6 pull-right" ng-show="pnl_token_admin">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Token de Autorización Cliente
                                    </div>
                                    <div class="panel-body">
                                        <p>La orden se encuentra en espera de autorización, para permitir la salida de la unidad.</p>
                                        <p>Introduzca el token proporcionado por el administrador.</p>
                                        <br>
                                        <br>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <label>Token</label>
                                        </div>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" ng-model="token_termino" class="token_admin form-control">
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                            <button class="btn btn-primary pull-right btn-movil" type="button" ng-click="ValidaPorCobrar();">
                                                Aceptar
                                            </button>
                                            <button class="btn btn-default tbn-cancelar pull-right btn-movil" type="button" ng-click="HideAutorizacionAdmin();">
                                                Cancelar
                                            </button>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Seccion es para los estatus de procesos, termino trabajo y entrega de la Orden -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="frm_subir_factura" name="frm_subir_factura" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Carga de Factura</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="uploading" style="width: 100%; display: none;">
                            <center>
                                <img src="image/loading2.gif" width="250">
                            </center>
                        </div>
                        <div class="col-sm-12 archivos">
                            <input type="hidden" value="{{idOrden}}" name="idOrden">
                            <input type="hidden" value="{{cotizacionFactura}}" name="cotizacionFactura">
                            <input type="hidden" value="{{cotizacionTotal}}" name="cotizacionTotal">
                            <input type="hidden" value="{{docServer}}" name="docServer">
                            <!-- $rootScope.docServer -->

                            <label>XML</label><br>
                            <input type="file" name="file_1" id="file_1" class="inputfile inputfile-1" accept="text/xml" />
                            <label for="file_1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="30" height="27" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                            <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>

                            <br><br>

                            <label>PDF</label><br>
                            <input type="file" name="file_2" id="file_2" class="inputfile inputfile-2" accept="application/pdf" />
                            <label for="file_2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="30" height="27" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                            <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>


                            <!-- <label>XML</label> <input type="file" accept="text/xml" name="myFile1" id="myFile1"> -->
                            <!-- <br> -->
                            <!-- <label>PDF</label> <input type="file" name="myFile2" id="myFile2"> -->
                        <br>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="alert alert-warning alert_respuesta">
                                <strong>¡Factura cargada correctamente!</strong>
                                <br><br>
                                <table class="table borderless errores_factura"> </table>
                            </div>

                            <div class="alert alert-danger" style="display: none;">
                                <strong>¡Hay algo mal!</strong> <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-cerrar" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary btn-subir" ng-click="Cargar_Factura_Tmp();">Subir Factura</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.scroll_content').slimscroll({
        height: '580px',
        width: '100%'
    })
    setTimeout(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    }, 500);




    var inputs = document.querySelectorAll( '.inputfile' );
    Array.prototype.forEach.call( inputs, function( input )
    {
        var label    = input.nextElementSibling,
            labelVal = label.innerHTML;

        input.addEventListener( 'change', function( e )
        {
            var fileName = '';
            if( this.files && this.files.length > 1 )
                fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
            else
                fileName = e.target.value.split( '\\' ).pop();

            if( fileName )
                label.querySelector( 'span' ).innerHTML = fileName;
            else
                label.innerHTML = labelVal;
        });
    });
});
</script>
