<ul dnd-list="list.people"
    dnd-allowed-types="list.allowedTypes"
    dnd-disable-if="list.people.length >= list.max">

    <li ng-repeat="person in list.people"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.type == 'unknown'"
        dnd-moved="list.people.splice($index, 1)"
        class="background-{{person.style}}"
        >
        <dnd-nodrag>
          <div dnd-handle class="handle">:::</div>
          <div class="name">
              <!-- <input type="text" ng-model="person.name" class="background-{{person.style}} form-control input-sm"> -->
              <strong>{{person.partida}}</strong> | Parte <strong>{{person.noParte}}</strong>
          </div>
        </dnd-nodrag>
    </li>

    <li class="dndPlaceholder">
        Arrastre cualquier partida de cotizaciones del taller: <strong>{{list.allowedTypes.join(' or ')}}</strong> aquí
    </li>

</ul>
