<link rel="stylesheet" type="text/css" href="AngularJS/Login/Styles/login.css">
<div id="container" ng-hide="sesion == 1" style="border-color: #0E4579; border-style: solid; border-width: 2px;">
    <div id="logo">
        <img id="logoImg" src="image/profile/logoTotalParts.png" class="logoTP"></img>
    </div>
    <div id="datos">
        <div ng-show="!UserIsValid">
          <div id="usuario">
               <label for="username">Usuario</label>
                  <input type="text" ng-model="user" name="username" id="username" class="form-control" ng-model="vm.username" required ng-enter="login(user, password)" capitalize/>
                   <span ng-show="username.$dirty && username.$error.required" class="help-block">Username is required</span>
          </div>
          <div id="contrasena" >
              <label for="password">Contraseña</label>
                  <input type="password" ng-model="password" name="password" id="password" class="form-control" ng-model="vm.password" required ng-enter="login(user, password)"/>
                  <span ng-show="password.$dirty && password.$error.required" class="help-block">Password is required</span>
          </div>
      </div>
      <div ng-show="UserIsValid">
        <div id="nombreUsuarioLogin">
          <label>Usuario: {{userData.nombreCompleto}}</label>
        </div>
        <div id="operaciones">
          <label for="operacion">Operación</label>
            <select name="operacion" id="operacion" class="form-control" ng-model="operacionSeleccionada" ng-options="option.idContratoOperacion as option.nombreOperacion for option in userData.Operaciones">
                <option value=''>Seleccione una operación</option>
            </select>
        </div>
      </div>
    </div>
    <div id="action">
        <button type="submit" ng-show="!UserIsValid" class="btn btn-primary" ng-click="login(user, password)">Iniciar sesión</button>
        <button type="submit" ng-show="UserIsValid" class="btn btn-default" ng-click="ingresar(operacionSeleccionada)">Ingresar</button>
    </div>
    <div id="link">
        <a href="https://www.google.com.mx/chrome/browser/desktop/index.html" target="_blank">Para una mejor experiencia, descarge Chrome</a>
    </div>
</div>
