<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Nueva Cita</h4>
        
    </div>
</div>
<div class="modal-body">
    <div id="content_popDrag">
       <div class="modal-body">

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <th>Característica</th>
                    <th>Seleccionar</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Estado de la Unidad</td>
                        <td>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox1" type="checkbox">
                                 <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo de Cita</td>
                        <td>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox1" type="checkbox">
                                 <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Comentarios</td>
                        <td>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox1" type="checkbox">
                                 <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Búsqueda Taller (GPS)</td>
                        <td>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox1" type="checkbox">
                                 <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Ubicación de Unidad (GPS)</td>
                        <td>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox1" type="checkbox">
                                 <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Notificación por Correo</td>
                        <td>
                            <div class="checkbox checkbox-warning">
                                <input id="checkbox1" type="checkbox">
                                 <label></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="saveToken()">Guardar</button>
</div>

      