<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Nueva Unidad</h4>

    </div>
</div>
<div class="modal-body">
    <div id="content_popDrag">
       <div class="modal-body">
       		<form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Número Económico</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="numEconomico" ng-model="numEconomico"  capitalize>
                    </div>
                </div>
            </form>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">VIN</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="vin" ng-model="vin"  capitalize>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Placa</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="placa" ng-model="placa"  capitalize>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" ng-show="show_gps">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Número GPS</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="numGPS" ng-model="numGPS"  capitalize>
                    </div>
                </div>
            </form>
             <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Tipo de Unidad</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" id="tipoUnidad"
                        ng-model="tipoUnidad" ng-options="tipo.idTipoUnidad as tipo.tipo + ' ' + tipo.marca + ' ' + tipo.subMarca  for tipo in tipoUnidades" >
                             <option value=''>Selecionar Tipo de Unidad</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
               <div class="form-group">
                   <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Modelo</label>
                   <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                       <select class="form-control" id="modeloUnidad" ng-model="modeloUnidad" >
                            <option value=''>Selecionar Modelo</option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                            <option value=''></option>
                       </select>
                   </div>
               </div>
           </form>
            <form class="form-horizontal" ng-show="show_centros">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Centro de Trabajo</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" id="centroTrabajo"
                        ng-model="centroTrabajo" ng-options="centro.idCentroTrabajo as centro.nombreCentroTrabajo  for centro in centrosDeTrabajo" >
                             <option value=''>Selecionar Centro de Trabajo</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="zona in Zonas | orderBy:'orden'">
                    <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">{{zona.etiqueta}}:</label>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <select class="form-control" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden, zona, ZonasSeleccionadas)">
                            <option value='0'>Selecionar Zona</option>
                            <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden -1]" value="{{z.idZona}}">
                                {{z.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Sustituto</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="sustituto1" value="1" name="sustituto1" checked="" ng-model="sustituto" ng-change="show_porcentajaUtilidad=true">
                            <label for="sustituto1"> Si </label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="sustituto2" value="0" name="sustituto2" ng-model="sustituto" ng-change="show_porcentajaUtilidad=false">
                            <label for="sustituto2"> No </label>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="guardarUnidad()">Guardar</button>
</div>
