<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Nueva Unidad</h4>

    </div>
</div>
<div class="modal-body">
    <div id="content_popDrag">
       <div class="modal-body">
       		<form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Número Económico</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="numEconomico" ng-model="numEconomico"  capitalize>
                    </div>
                </div>
            </form>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">VIN</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="vin" ng-model="vin"  capitalize>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Placa</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="placa" ng-model="placa"  capitalize>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" ng-show="show_gps">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Número GPS</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" value="" id="numGPS" ng-model="numGPS"  capitalize>
                    </div>
                </div>
            </form>
             <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Tipo de Unidad</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" id="tipoUnidad"
                        ng-model="tipoUnidad" ng-options="tipo.idTipoUnidad as tipo.tipo + ' ' + tipo.marca + ' ' + tipo.subMarca  for tipo in tipoUnidades" >
                             <option value=''>Selecionar Tipo de Unidad</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
               <div class="form-group">
                   <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Modelo</label>
                   <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                       <select class="form-control" id="modeloUnidad" ng-model="modeloUnidad" >
                            <option value=''>Selecionar Modelo</option>
                            <option value='1980'></option>
                            <option value='1981'></option>
                            <option value='1982'></option>
                            <option value='1983'></option>
                            <option value='1984'></option>
                            <option value='1985'></option>
                            <option value='1986'></option>
                            <option value='1987'></option>
                            <option value='1988'></option>
                            <option value='1989'></option>
                            <option value='1990'></option>
                            <option value='1991'></option>
                            <option value='1992'></option>
                            <option value='1993'></option>
                            <option value='1994'></option>
                            <option value='1995'></option>
                            <option value='1996'></option>
                            <option value='1997'></option>
                            <option value='1998'></option>
                            <option value='1999'></option>
                            <option value='2000'></option>
                            <option value='2001'></option>
                            <option value='2002'></option>
                            <option value='2003'></option>
                            <option value='2004'></option>
                            <option value='2005'></option>
                            <option value='2006'></option>
                            <option value='2007'></option>
                            <option value='2008'></option>
                            <option value='2009'></option>
                            <option value='2010'></option>
                            <option value='2011'></option>
                            <option value='2012'></option>
                            <option value='2013'></option>
                            <option value='2014'></option>
                            <option value='2015'></option>
                            <option value='2016'></option>
                            <option value='2017'></option>
                            <option value='2018'></option>
                            <option value='2019'></option>
                       </select>
                   </div>
               </div>
           </form>
            <form class="form-horizontal">
               <div class="form-group">
                   <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Versión</label>
                   <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                       <select class="form-control" id="versionUnidad" ng-model="versionUnidad" >
                            <option value=''>Selecionar Version</option>
                            <option value='GASOLINA'></option>
                            <option value='DIESEL'></option>
                            <option value='REMOLQUE'></option>
                       </select>
                   </div>
               </div>
           </form>
            <form class="form-horizontal" ng-show="show_centros">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Centro de Trabajo</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" id="centroTrabajo"
                        ng-model="centroTrabajo" ng-options="centro.idCentroTrabajo as centro.nombreCentroTrabajo  for centro in centrosDeTrabajo" >
                             <option value=''>Selecionar Centro de Trabajo</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="zona in Zonas | orderBy:'orden'">
                    <label class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">{{zona.etiqueta}}:</label>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <select class="form-control" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden, zona, ZonasSeleccionadas)">
                            <option value='0'>Selecionar Zona</option>
                            <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden -1]" value="{{z.idZona}}">
                                {{z.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Sustituto</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="sustituto1" value="1" name="sustituto1" checked="" ng-model="sustituto" ng-change="show_porcentajaUtilidad=true">
                            <label for="sustituto1"> Si </label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="sustituto2" value="0" name="sustituto2" ng-model="sustituto" ng-change="show_porcentajaUtilidad=false">
                            <label for="sustituto2"> No </label>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Verificado</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="verificado1" value="1" name="verificado1" checked="" ng-model="verificado">
                            <label for="sustituto1"> Si </label>
                        </div>
                        <div class="radio radio-inline">
                            <input type="radio" id="verificado2" value="0" name="verificado2" ng-model="verificado">
                            <label for="sustituto2"> No </label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="guardarUnidad()">Guardar</button>
</div>
