<link rel="stylesheet" href="AngularJS/Precancelaciones/Styles/precancelacion.css">
<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="Libraries/css/nsPopover.css">
<div ng-init="initPrecancelacion()">
    <div class="headTitlePreCancelaciones">
        <span class="title">Ordenes en Pre-Cancelacion</span>
    </div>
    <hr>
    <div class="wrapper wrapper-content fadeIn">
        <div class="row">
        </div>
        <div class=" row col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="row">
            <div class="panel-body">
                <br/>
                <div class="table-responsive">
                    <br/>
                    <table class="table table-bordered table-hover dataTablePrecancel">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Consecutivo</th>
                                <th>Número de la Orden</th>
                                <th>Número Económico</th>
                                <th>Zona</th>
                                <th>Tipo Servicio</th>
                                <th>Fecha Creación Orden</th>
                                <th>Fecha Cita</th>
                                <th>Comentarios Adicionales</th>
                                <th>Estatus</th>
                                <th>Agendó</th>
                                <th>Fecha Pre-cancelación</th>
                                <th>Usuario Pre-cancela</th>
                                <th>Comentarios Pre-cancelación</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ordenesCanceladas in TotalOrdenes">
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.nombreCliente}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.consecutivoOrden}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.numeroOrden}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.numeroEconomico}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.zonaNombre}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.nombreTipoDeServicio}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.fechaCreacionOrden| date:'dd/MM/yyyy hh:mm'}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.fechaCita | date:'dd/MM/yyyy hh:mm'}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.comentarioOrden}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.nombreEstatusOrden}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.idUsuarioAgendo}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.fechaCancelacion | date:'dd/MM/yyyy hh:mm'}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.usuarioCancelacion}}</td>
                                <td ng-click="OrdenURL(ordenesCanceladas)">{{ordenesCanceladas.comentarios}}</td>
                                <td><button ng-click="DissmisOrder(ordenesCanceladas.idOrden)" class="btn btn-success" data-toggle="tooltip" tooltip="Ignorar Cancelación" tooltip-placement="left"><span class="glyphicon glyphicon-repeat"></span></button><button ng-click="CancelOrder(ordenesCanceladas.idOrden)" class="btn btn-cancela" data-toggle="tooltip" tooltip="Cancelar Orden" tooltip-placement="left"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>