.headTitlePreCancelaciones {
    padding-top: 30px;
    padding-left: 10px;
}

.panel {
    border-color: #DCDCDC !important;
}

#btnBuscar {
    margin-top: 5px;
}

.fondoBlanco {
    background: white !important;
}

table thead tr {
    background-color: #F5F5F6;
}

table tbody tr:hover {
    cursor: pointer;
}