.text-verde {
    color: #3c763d;
}

.m-b-modi {
    margin-bottom: 21px;
}

.text-camelCase {
    text-transform: capitalize
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    padding-right: 5px;
    padding-left: 5px;
}

@media (max-width: 767px) {
    .ibox-content {
        padding: 15px 0px 20px 0px;
    }
}

@media (min-width: 1300px) {
    .espacio {
        margin-bottom: 21px;
    }
}

#agendarCita{
     padding-bottom: 30px;
}
