<link rel="stylesheet" href="AngularJS/ConsultaCitas/Styles/cita.css">
<div ng-init="init()" id="comprobanteRecepcion">
    <div class="row headTitleTallerCita col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="title"> Comprobante de Recepción</span>
            <div ng-show="urlReturn == 1">
                <br>
                <br>
                <a href="#" onclick="window.history.back(1)" class="btn btn-success"><i class="fa fa-chevron-left"></i> Regresar </a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="ibox-content p-xl col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <strong>Unidad:</strong>
                        <address>
                            <strong>{{detalleOrden.marca}} - {{detalleOrden.modelo}}</strong>
                            <br>
                            <strong>No. Económico: </strong>{{detalleOrden.numeroEconomico}}
                            <br>
                            <strong>No. Inventario: </strong> {{detalleOrden.vin}}
                        </address>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                        <strong>Taller: </strong>
                        <address>
                            {{detalleOrden.nombreComercial}}
                            <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
       </div>
        <!-- {{modulosComprobante}} -->
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 ">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <tabset>
                    <tab ng-repeat="titulos in modulosComprobante" heading="{{titulos.nombreComprobanteRecepcion}}" index="{{titulos.indexComprobante}}" ng-model="titulos.indexComprobante" ng-click="menu(titulos.indexComprobante)">
                        <div ng-show="show_{{titulos.nombreCorto}}">
                            <div class="row col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            </div>
                            <div class="row  col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-show="{{titulos.entradaDatos}}==0">
                                <br/>
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                        <tr ng-repeat="detalle in titulos.detalle">
                                            <td>{{detalle.nombreCatalogoDetalleModuloComprobante}}</td>
                                            <td>
                                                <div class="input-group m-b center">
                                                    <div class="radio radio-info radio-inline">
                                                        <input type="radio" id="{{detalle.idCatalogoDetalleModuloComprobante}}1" value="1" name="{{detalle.idCatalogoDetalleModuloComprobante}}" ng-model="detalle.select" ng-click="addComprobanteRecepcion()">
                                                        <label for="{{detalle.idCatalogoDetalleModuloComprobante}}1"> Si </label>
                                                    </div>
                                                    <div class="radio radio-inline">
                                                        <input type="radio" id="{{detalle.idCatalogoDetalleModuloComprobante}}2" value="0" name="{{detalle.idCatalogoDetalleModuloComprobante}}" ng-model="detalle.select" ng-click="addComprobanteRecepcion()">
                                                        <label for="{{detalle.idCatalogoDetalleModuloComprobante}}2"> No </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row  col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="{{titulos.entradaDatos}}==1">
                                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="detalle in titulos.detalle">
                                    <br/>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="{{titulos.indexComprobante}} == 6">
                                        <img src="{{detalle.rutaImagen}}" class="tamanioImagen"></img>

                                        <textarea class="descTxt" placeholder="{{detalle.nombreCatalogoDetalleModuloComprobante}}" ng-model="detalle.selectTxt" ng-disabled="ubi_ParteDerecha==false"></textarea>

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="{{titulos.indexComprobante}} == 5 && {{detalle.consecutivo}} == 2">
                                      <div class="col-xs-12 col-sm-5 col-md-7 col-lg-5">
                                        <img src="{{detalle.rutaImagen}}" class="tamanioImagen"></img>
                                      </div>
                                      <div class="col-xs-8 col-sm-7 col-md-5 col-lg-7 espacioTopText">
                                        <textarea class="descTxt" placeholder="{{detalle.nombreCatalogoDetalleModuloComprobante}}" ng-change="addComprobanteRecepcion()" ng-model="detalle.selectTxt" ng-disabled=""></textarea>
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="{{titulos.indexComprobante}} == 5 && {{detalle.consecutivo}} == 1">
                                      <div class="col-xs-12 col-sm-5 col-md-7 col-lg-5">
                                        <img src="{{detalle.rutaImagen}}" class="tamanioImagen"></img>
                                      </div>
                                      <div class="col-xs-10 col-sm-7 col-md-5 col-lg-7 espacioTopSelect">
                                        <select class="form-control" name="tab_Descripcion" ng-model="detalle.selectTxt" ng-change="addComprobanteRecepcion()">
                                            <option value="">Seleccione Combustible</option>
                                            <option value="Lleno">Lleno</option>
                                            <option value="Tres Cuartos">Tres Cuartos</option>
                                            <option value="Mitad">Medio Tanque</option>
                                            <option value="Un Cuarto">Un Cuarto</option>
                                            <option value="Reserva">Reserva</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                            </div>
                    </tab>
                </tabset>
            </div>
        </div>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <br/>
                <br/>
                <!-- <div class="radio radio-inline col-xs-12 col-sm-12 col-md-6 col-lg-6">
                     <h4 for="acepta">
                        <input type="checkbox" id="acepta" value="0" name="acepta" ng-model="acepta">
                           Acepto las condiciones en la que se entrega la unidad.
                    </h4>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="pull-right">
                        <button type="button" data-loading-text="Loading..." class="btn btn-success" id="aprobacion" ng-model="aprobacion" ng-click="nuevoComprobanteRecepcion(modulosComprobante)" ng-disabled="validateAprobacion"><span class="{{class_buttonRecepcion}}"></span><strong>&nbsp;Aceptar&nbsp;</strong></button>
                    </div>
                </div>
            </div>
    </div>
</div>
