<link rel="stylesheet" href="AngularJS/ConsultaCitas/Styles/cita.css">
<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="AngularJS/Administracion/Styles/administracionOrden.css">
<link rel="stylesheet" href="Libraries/css/nsPopover.css">
<div ng-init="initTallerCita()">
    <div class="headTitleTallerCita">
        <span class="title"> Consulta de Citas</span>
    </div>
    <hr>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right" ng-show="userData.idUsuario == 510">
        <button class="btn btn-morado btn-sm" ng-click="createFolders()" type="button">Genera Carpetas</button>
    </div>
    <div class="btn-group pull-right" style="padding:0 10px 10px 0 ;" ng-hide="hideSwitchBtn">
        <button type="button" ng-class="btnSwitch.classCosto" ng-click="btnSwitch.showCostoVenta=true;
        btnSwitch.classVenta='btn btn-default';
        btnSwitch.classCosto='btn btn-success'">Costo</button>
        <button type="button" ng-class="btnSwitch.classVenta" ng-click="btnSwitch.showCostoVenta=false;
        btnSwitch.classVenta='btn btn-success';
        btnSwitch.classCosto='btn btn-default'">Venta</button>
    </div>
    <div class="wrapper wrapper-content  fadeIn">

        <div class="row">
            <div class="contenedorFiltros">
                <div class="col-xs-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ibox">
                            <div class="panel panel-default">
                                <div class="ibox-title " role="tab" id="headingOne">
                                    <h5>Filtros de búsqueda</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseOne" class="ibox-content bottomBorder float-e-margins" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ng-repeat="zona in Zonas | orderBy:'orden'">
                                            <label class="font-noraml">{{zona.etiqueta}}</label>
                                            <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                                          <option value="0">Seleccione</option>
                                          <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                                              {{z.nombre}}
                                          </option>
                                      </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="userData.idRol == 2">
                                            <label class="font-noraml">Ejecutivo</label>
                                            <select class="form-control m-b" id="ejecutivo" ng-model="ejecutivoSelected" ng-change="changeFilters()"
                                            ng-options="ejecutivo.idUsuario as ejecutivo.nombreUsuario for ejecutivo in listaEjecutivos">
                                          <option value="">Seleccione un Ejecutivo</option>
                                      </select>
                                        </div>
                                    </div>
                                    <div class="row espacioInferior">
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divfechaMes">
                                            <label class="font-noraml">Mes</label>
                                            <div class="input-group date">
                                                <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                                            <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                                                <input type="text" id="txtFIni" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                                                <span class="input-group-addon"> a </span>
                                                <input type="text" id="txtFFin" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="calendar">
                                            <label class="font-noraml">Fecha</label>
                                            <div class="input-group date">
                                                <input type="text" id="txtfechaEspecifica" readonly="readonly" placeholder="Elija Fecha" class="form-control fondoBlanco" ng-model="fecha" ng-change="FechaChange()" calendar>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                            <label class="font-noraml">Buscar</label>
                                            <br>
                                            <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                                class="btn btn-primary" ng-click="consultaCotizacionesFiltros()">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                            <label class="font-noraml">Limpiar</label>
                                            <br>
                                            <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Limpiar criterios de búsqueda"
                                                class="btn btn-primary" ng-click="consultaCotizacionesSinFiltrosBusqueda()">
                                                <i class="mdi mdi-broom mdi-16px"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" row col-xs-12 col-sm-6 col-md-6 col-lg-6" >
        </div>
        <div class="row" ng-show="show_grids">
            <div class="panel-body">
                <tabset>
                    <tab heading="Citas" index="0" active="ConTallerActive">
                        <br/>
                        <div class="row sumatorias">
                            <div class="col-xs-3 pull-right">
                                <div ng-hide="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_conTaller | currency: "$"}}</h2>
                                    <small>precio venta s/iva</small>
                                </div>
                                <div ng-show="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_costo_conTaller | currency: "$"}}</h2>
                                    <small>precio costo s/iva</small>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <br/>
                            <table class="table table-bordered table-hover dataTableOrdenes" cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>

                                        <th>Tipo Servicio</th>
                                        <th>Fecha Creación Orden</th>
                                        <th>Comentarios Adicionales</th>
                                        <th>Estatus</th>
                                        <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                        <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                        <th>Agendó</th>
                                        <th ng-show="userData.tiempoAsignado == 1">Tiempo Transcurrido Tiempo Asignado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr title="Ver detalles" ng-repeat="ordenesTaller in totalOrdenesTaller" ng-click="seleccionarOrden(ordenesTaller.numeroOrden,2)">
                                        <td>{{ordenesTaller.nombreCliente}}</td>
                                        <td>{{ordenesTaller.consecutivoOrden}}</td>
                                        <td>{{ordenesTaller.numeroOrden}}</td>
                                        <td>{{ordenesTaller.numeroEconomico}}</td>
                                        <td>{{ordenesTaller.nombreZona}}</td>

                                        <td>{{ordenesTaller.nombreTipoOrdenServicio}}</td>
                                        <td>{{ordenesTaller.fechaCreacionOden | date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td>{{ordenesTaller.comentarioOrden}}</td>
                                        <td>{{ordenesTaller.nombreEstatusOrden}}</td>
                                        <td ng-show="btnSwitch.showCostoVenta" class="text-right">{{ordenesTaller.costo | currency}}</td>
                                        <td ng-hide="btnSwitch.showCostoVenta" class="text-right">{{ordenesTaller.venta | currency}}</td>
                                        <td>{{ordenesTaller.nombreUsuario}}</td>
                                        <!-- <td>{{ordenesTaller.nombreTipoORden}}</td> -->
                                        <td ng-show="userData.tiempoAsignado == 1">{{ordenesTaller.tiempoEspera}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Citas Sin Taller" index="1" active="SinTallerActive">
                        <br/>
                        <div class="row sumatorias">
                            <div class="col-xs-3 pull-right">
                                <div ng-hide="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_sinTaller | currency: "$"}}</h2>
                                    <small>precio venta s/iva</small>
                                </div>
                                <div ng-show="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_costo_sinTaller | currency: "$"}}</h2>
                                    <small>precio costo s/iva</small>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <br/>
                            <table class="table table-bordered table-hover dataTableOrdenesSinDatos">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>
                                        <th>Tipo Servicio</th>
                                        <th>Fecha Creación Orden</th>
                                        <th>Comentarios Adicionales</th>
                                        <th>Estatus</th>
                                        <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                        <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                        <th>Agendó</th>
                                        <th ng-show="userData.tiempoAsignado == 1">Tiempo Transcurrido Tiempo Asignado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr title="Ver detalles" ng-repeat="ordenesSinTaller in totalOrdenesSinTaller" ng-click="seleccionarOrden(ordenesSinTaller.numeroOrden,1)">
                                        <td>{{ordenesSinTaller.nombreCliente}}</td>
                                        <td>{{ordenesSinTaller.consecutivoOrden}}</td>
                                        <td>{{ordenesSinTaller.numeroOrden}}</td>
                                        <td>{{ordenesSinTaller.numeroEconomico}}</td>
                                        <td>{{ordenesSinTaller.nombreZona}}</td>

                                        <td>{{ordenesSinTaller.nombreTipoOrdenServicio}}</td>
                                        <td>{{ordenesSinTaller.fechaCreacionOden | date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td>{{ordenesSinTaller.comentarioOrden}}</td>
                                        <td>{{ordenesSinTaller.nombreEstatusOrden}}</td>
                                        <td ng-show="btnSwitch.showCostoVenta" class="text-right">{{ordenesSinTaller.costo | currency}}</td>
                                        <td ng-hide="btnSwitch.showCostoVenta" class="text-right">{{ordenesSinTaller.venta | currency}}</td>
                                        <td>{{ordenesSinTaller.nombreUsuario}}</td>
                                        <td ng-show="userData.tiempoAsignado == 1">{{ordenesSinTaller.tiempoEspera}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Citas En Taller" index="2" active="EnTallerActive">
                        <br/>
                        <div class="row sumatorias">
                            <div class="col-xs-3 pull-right">
                                <div ng-hide="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_enTaller | currency: "$"}}</h2>
                                    <small>precio venta s/iva</small>
                                </div>
                                <div ng-show="btnSwitch.showCostoVenta">
                                    <h2 class="no-margins">{{sumatoria_costo_enTaller | currency: "$"}}</h2>
                                    <small>precio costo s/iva</small>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <br/>
                            <table class="table table-bordered table-hover dataTableOrdenesEnTaller">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>
                                        <th>Tipo Servicio</th>
                                        <th>Fecha Creación Orden</th>
                                        <th>Comentarios Adicionales</th>
                                        <th>Estatus</th>
                                        <th ng-show="btnSwitch.showCostoVenta">Costo</th>
                                        <th ng-hide="btnSwitch.showCostoVenta">Venta</th>
                                        <th>Agendó</th>
                                        <th ng-show="userData.tiempoAsignado == 1">Tiempo Transcurrido Tiempo Asignado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr title="Ver detalles" ng-repeat="ordenesEnTaller in totalOrdenesEnTaller" ng-click="seleccionarOrden(ordenesEnTaller.numeroOrden,3)">
                                        <td>{{ordenesEnTaller.nombreCliente}}</td>
                                        <td>{{ordenesEnTaller.consecutivoOrden}}</td>
                                        <td>{{ordenesEnTaller.numeroOrden}}</td>
                                        <td>{{ordenesEnTaller.numeroEconomico}}</td>
                                        <td>{{ordenesEnTaller.nombre}}</td>

                                        <td>{{ordenesEnTaller.nombreTipoOrdenServicio}}</td>
                                        <td>{{ordenesEnTaller.fechaCreacionOden | date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td>{{ordenesEnTaller.comentarioOrden}}</td>
                                        <td>{{ordenesEnTaller.nombreEstatusOrden}}</td>
                                        <td ng-show="btnSwitch.showCostoVenta" class="text-right">{{ordenesEnTaller.costo | currency}}</td>
                                        <td ng-hide="btnSwitch.showCostoVenta" class="text-right">{{ordenesEnTaller.venta | currency}}</td>
                                        <td>{{ordenesEnTaller.nombreCompleto}}</td>
                                        <td ng-show="userData.tiempoAsignado == 1">{{ordenesEnTaller.tiempoEsperaTranscurrido}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>

<!-- Modal cargando-->
<div id="loadModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="spiner-example" style="margin-top: 35%">
            <div class="sk-spinner sk-spinner-wandering-cubes">
                <div class="sk-cube1"></div>
                <div class="sk-cube2"></div>
            </div>
            <div style="color:white;margin-left: 46%; margin-top:20px">Cargando...</div>
        </div>
    </div>
</div>
