<link rel="stylesheet" href="AngularJS/ConsultaCitas/Styles/cita.css">
<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="AngularJS/Administracion/Styles/administracionOrden.css">
<link rel="stylesheet" href="Libraries/css/nsPopover.css">
<div ng-init="initTallerCita()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Consulta de Citas</span>
    </div>
    <hr>
    <br/>
    <br/>
    <br/>
    <form>
        <div class="panel-body">
            <div class="row col-md-12">
                <div class="form-group col-md-3">
                    <label class="form-label text-main">Zona:</label>
                    <select class="form-control" ng-model="zona" ng-options="empresa.emp_nombre for empresa in empresaUsuario track by empresa.emp_nombre" name="txtTipoContrato" ng-change="" ng-disabled="">
                        <option value="">Seleccioné Zona</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label text-main">Ejecutivo:</label>
                    <select class="form-control" ng-model="zona" ng-options="empresa.emp_nombre for empresa in empresaUsuario track by empresa.emp_nombre" name="txtTipoContrato" ng-change="" ng-disabled="">
                        <option value="">Seleccioné Ejecutivo</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-2">
                    <label for="fInicio" class="text-main">Mes:</label>
                    <div class="form-input">
                        <input type="text" class="form-control" ng-model="citas.mes" ng-change="">
                    </div>
                </div>
                <div class="form-group col-md-3" id="calendario">
                    <label class="form-label text-main">Rango de:</label>
                    <div class="form-group" id="calendar">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" ng-model="citas.fechaInicio" ng-change="">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3" id="calendario">
                    <label class="form-label text-main">a:</label>
                    <div class="form-group" id="calendar">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" ng-model="citas.fechaFin" ng-change="">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3" id="calendario">
                    <label class="form-label text-main">Fecha:</label>
                    <div class="form-group" id="calendar">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" ng-model="citas.fecha" ng-change="">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-1" style="margin-top: 23px">
                    <button class="btn btn-primary pull-right" ng-click="seleccionarTodo(citas)" ng-disabled=""><i class="ti-search"></i> Buscar</button>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="" placeholder="Orden de Servicio" ng-model="citas.Busqueda">
                </div>
                <div class="form-group col-md-4" style="margin-top: 5px">
                    <input type="radio" name="group2" value="1" ng-model="citas.check"> Todos &nbsp; &nbsp;
                    <input type="radio" name="group2" value="2" ng-model="citas.check"> Agendada &nbsp; &nbsp;
                    <input type="radio" name="group2" value="3" ng-model="citas.check"> Comprobante Cargado
                </div>
            </div>
        </div>
    </form>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="panel-body">
                <tabset>
                    <tab heading="Citas" index="0">
                        <div class="table-responsive">
                            <br/>
                            <br/>
                            <table class="table table-bordered dataTableOrdenes"  cg-busy="{promise:promise,message:message}">
                                <thead>
                                    <tr >
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>
                                        <th>-TAR-</th>
                                        <th>Taller</th>
                                        <th>Tipo Servicio</th>
                                        <th>Fecha</th>
                                        <!-- <th>Dirección Taller</th> -->
                                        <th>Comentarios Adicionales</th>
                                        <!-- <th>Observaciones</th> -->
                                        <th>Estatus</th>
                                        <th>Agendó</th>
                                        <!-- <th>Tipo Orden</th> -->
                                        <th>Tiempo Transcurrido Tiempo Asignado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr ng-repeat="ordenesTaller in totalOrdenes | filter:{idEstatusOrden: '!1'} ">
                                        <td></td>
                                        <td>{{ordenesTaller.consecutivoOrden}}</td>
                                        <td>{{ordenesTaller.numeroOrden}}</td>
                                        <td>{{ordenesTaller.numeroEconomico}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td ng-if="ordenesTaller.idTipoOrden != 2">{{ordenesTaller.nombreTipoOrdenServicio}}</td>
                                        <td ng-if="ordenesTaller.idTipoOrden == 2">{{ordenesTaller.nombreTipoORden}}</td>
                                        <td>{{ordenesTaller.fechaCreacionOden  | date:'dd/MM/yyyy hh:mm'}}</td>
                                        <td>{{ordenesTaller.comentarioOrden}}</td>         
                                        <td>{{ordenesTaller.nombreEstatusOrden}}</td>
                                        <td>{{ordenesTaller.nombreUsuario}}</td>
                                        <!-- <td>{{ordenesTaller.nombreTipoORden}}</td> -->
                                        <td></td>
                                        <td class="center"><button class="btn btn-success btn-xs" ng-click="seleccionarOrden(ordenesTaller)" title="Detalles"><i class="glyphicon glyphicon-list-alt"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                    <tab heading="Citas Sin Taller" index="1">
                        <div class="table-responsive">
                            <br/>
                            <br/>
                            <table class="table table-bordered dataTableOrdenes">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>
                                        <th>-TAR-</th>
                                        <th>Sin Taller</th>
                                        <th>Tipo Orden</th>
                                        <th>Fecha</th>
                                        <!-- <th>Dirección Taller</th> -->
                                        <th>Comentarios Adicionales</th>
                                        <!-- <th>Observaciones</th> -->
                                        <th>Estatus</th>
                                        <th>Agendó</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr ng-repeat="ordenesSinTaller in totalOrdenes | filter:{idEstatusOrden: '1'} ">
                                    <td></td>
                                    <td>{{ordenesSinTaller.consecutivoOrden}}</td>
                                    <td>{{ordenesSinTaller.numeroOrden}}</td>
                                    <td>{{ordenesSinTaller.numeroEconomico}}</td>
                                    <td></td>
                                    <td>{{ordenesSinTaller.comentarioOrden}}</td>
                                    <td></td>
                                    <td>{{ordenesSinTaller.nombreTipoOrdenServicio}}</td>
                                    <td></td>
                                    <td></th>                             d 
                                    <td>{{ordenesSinTaller.nombreEstatusOrden}}</td>
                                    <td>{{ordenesSinTaller.nombreUsuario}}</td>
                                    <td><button class="btn btn-info btn-xs" title="Editar"><i class="glyphicon glyphicon-refresh"></i></button>
                                    <button class="btn btn-danger btn-xs" title="Cancelar"><i class="glyphicon glyphicon-remove"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab>
                   <!--  <tab heading="Citas con Grúa" index="2">
                        <div class="table-responsive">
                            <br/>
                            <br/>
                            <table class="table table-bordered dataTableCitaTaller">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Consecutivo</th>
                                        <th>Número de la Orden</th>
                                        <th>Número Económico</th>
                                        <th>Zona</th>
                                        <th>-TAR-</th>
                                        <th>Taller</th>
                                        <th>Tipo Orden</th>
                                        <th>Fecha</th>
                                        <!-- <th>Dirección Taller</th> 
                                        <th>Comentarios Adicionales</th>
                                        <!-- <th>Observaciones</th> 
                                        <th>Estatus</th>
                                        <th>Agendó</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr ng-repeat="ordenesGrua in totalOrdenes | filter:{idTipoOrden: '2'} ">
                                   <th></th>
                                    <th>{{ordenesGrua.idOrden}}</th>
                                    <th>{{ordenesGrua.numeroOrden}}</th>
                                    <th>{{ordenesGrua.numeroEconomico}}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{ordenesGrua.nombreTipoOrdenServicio}}</th>
                                    <th></th>
                                    <th></th>                               
                                    <th>{{ordenesGrua.nombreEstatusOrden}}</th>
                                    <th>{{ordenesGrua.nombreUsuario}}</th>
                                    <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </tab> -->
                </tabset>
            </div>
        </div>
    </div>
    <div id="evidencia" class="modal inmodal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cargar Comprobante de Recepción</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive m-t">
                        <div class="dropzone" options="dzOptionsRecepcion" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="updateEstatusTrabajo()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="finalizarTrabajoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Eliminar Cita</h4>
                    <br>
                    <button type="button" class="btn btn-white" data-dismiss="modal">Salir</button>
                    <button type="button" class="btn btn-danger btnTerminarTrabajo">Eliminar cita</button>
                </div>
            </div>
        </div>
    </div>
</div>
