<link rel="stylesheet" href="AngularJS/modals/Styles/comentarios.css">
<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Comentarios</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        HOLA
       
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" >Agregar</button>
</div>