<link rel="stylesheet" href="AngularJS/modals/Styles/comentarios.css">
<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Comentarios</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <textarea name="message" placeholder="Escriba su comentario" ng-model="comentario" style="width: 352px; height: 82px;"></textarea>
            <!-- <input type="text" class="form-control"> -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="agregar()">Agregar</button>
</div>
