<link rel="stylesheet" href="AngularJS/modals/Styles/partidas.css">
<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Pre-orden de servicio</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <!-- <div class="col-xs-12 col-sm-12 m-b-lg">
            <div class="col-sm-5">
                <input type="text" placeholder="Búsqueda: Servicio/Paquete/Refacción" ng-model="pieza" class="form-control" ng-enter="getPieza(pieza)">
            </div>
            <div class="col-sm-1">
                <button id="btnBuscarPieza" busy="Buscando.." type="button" class="btn btn-primary glyphicon glyphicon-search" ng-click="getPieza(pieza)"></button>
            </div>
        </div> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover partidas" cg-busy="{promise:promise,message:message}">
                    <thead>
                        <th>Partida</th>
                        <th>No. Parte</th>
                        <th>Descripción</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Agregar</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partidasTaller in partidasTaller">
                            <td>{{ partidasTaller.partida }}</td>
                            <td>{{ partidasTaller.noParte }}</td>
                            <td>{{ partidasTaller.descripcion }}</td>
                            <td class="text-right">{{ partidasTaller.costo | currency}}</td>
                            <td class="text-right">{{partidasTaller.venta | currency}}</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm" type="button" id="btnCotizar" ng-click="partidaSeleccionada(partidasTaller)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 partidasSel">
            <div class="table-responsive scroll_content">
                <table class="table dataTableItem">
                    <thead>
                        <tr>
                            <th>No. Partida</th>
                            <th>Cantidad</th>
                            <th>Costo Unitario</th>
                            <th>Precio Unitario</th>
                            <th class="ancho text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lstPartidaSeleccionada in lstPartidaSeleccionada">
                            <td><a title='<img alt="image" class="img-circle" src="image/profile/man2.jpg"> {{lstPartidaSeleccionada.idPartida}}' data-toggle="popover" data-placement="top" data-trigger="hover" data-content='Descripcion: {{lstPartidaSeleccionada.descripcion}}'>{{ lstPartidaSeleccionada.numPartida }} </a></td>
                            <td>{{ lstPartidaSeleccionada.cantidad }}</td>
                            <td class="text-right">{{ lstPartidaSeleccionada.costoUnitario | currency}}</td>
                            <td class="text-right">{{ lstPartidaSeleccionada.precioUnitario | currency}}</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn-success btn btn-xs" type="button" ng-click="agregarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button class="btn-danger btn btn-xs" ng-click="quitarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Quitar"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                                <!--  <button class="btn btn-success btn-xs" type="button" id="btnCotizar" ng-click="agregarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <button class="btn btn-danger btn-xs" type="button" id="btnCotizar" ng-click="quitarItem(lstPartidaSeleccionada)" data-toggle="tooltip" tooltip-placement="top" tooltip="Quitar">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="pietabla">
                        <tr class="text-right">
                            <td colspan="2">
                                <strong>SUBTOTAL :</strong>
                            </td>
                            <td>{{ subTotalCosto | currency}}</td>
                            <td>{{ subTotalPrecio | currency}}</td>
                            <td> </td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="2">
                                <strong>I.V.A :</strong>
                            </td>
                            <td>{{ ivaSubTotalCosto | currency}}</td>
                            <td>{{ ivaSubTotalPrecio | currency}}</td>
                            <td> </td>
                        </tr>
                        <tr class="text-right">
                            <td colspan="2">
                                <strong>TOTAL :</strong>
                            </td>
                            <td>{{ totalCosto | currency}}</td>
                            <td>{{ totalPrecio | currency}}</td>
                            <td> </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="close()">Cancelar</button>
</div>
