<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Búsqueda</h4>
        
    </div>
</div>
<div class="modal-body">
    <div id="content_popDrag">
       <div class="modal-body">
            <div class="row utlidad" ng-show="show_Aprobacion">
                <label class="control-label">Hola Modal.</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="close()">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="saveToken()">Aceptar</button>
</div>