<link rel="stylesheet" href="AngularJS/modals/Styles/saldos.css">
<div class="modal-header barra_popup" ng-init="init()">
    <div class="modal-title">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="close()">×</button>
        <h4 class="modal-title">Saldo insuficiente.</h4>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="text-center  m-b-lg m-t-sm">
            <i class="fa fa-warning modal-icon"></i>
        </div>
        <form role="form" ng-show="presupuesto != 0">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="text-label">Presupuesto: <span class="text-info">{{presupuesto | currency}}</span></label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label class="text-label">Saldo Utilizado: <span class="text-info">{{utilizado | currency}}</span></label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label class="text-label">Saldo Real: <span class="text-info">{{saldo | currency}}</span></label>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <label class="text-label">Monto de la Orden: <span class="text-info">{{venta | currency}}</span></label>
            </div>
        </form>
        <form role="form" ng-show="presupuesto == 0">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="text-label">No se encuentra ningun presupuesto dado de alta para el centro de trabajo {{ nombreCentroTrabajo }}<span class="text-info"></span></label>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="close()">Aceptar</button>
</div>
