.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning.active:focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.btn-info {
    background-color: #ffd101;
    border-color: #ffd101;
    color: #FFFFFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
    background-color: #ffe674;
    border-color: #ffe674;
    color: #FFFFFF;
}

.btn-danger {
    background-color: #ed0c43;
    border-color: #ed0c43;
    color: #FFFFFF;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
    background-color: #de6f8a;
    border-color: #de6f8a;
    color: #FFFFFF;
}

.btn-morado {
    background-color: #ae7fc7;
    border-color: #ae7fc7;
    color: #FFFFFF;
}

.btn-morado:hover,
.btn-morado:focus,
.btn-morado:active,
.btn-morado.active,
.open .dropdown-toggle.btn-morado,
.btn-morado:active:focus,
.btn-morado:active:hover,
.btn-morado.active:hover,
.btn-morado.active:focus {
    background-color: #d6b3e6;
    border-color: #d6b3e6;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
        position: absolute;
        right: 11px;
    }
    div.dataTables_wrapper div.dataTables_length label {
        position: absolute;
        left: 17px;
        float: none;
        margin-top: -35px;
    }
    .html5buttons {
        text-align: right;
        position: absolute;
        right: 17px;
        float: none;
        margin-top: -35px;
    }
    .table-responsive {
        margin-top: 50px;
        padding-bottom: 25px;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        text-align: right;
        position: absolute;
        right: 17px;
        float: none;
        margin-top: 12px;
    }
}

@media screen and (max-width: 767px) {}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    background-color: whitesmoke;
}

.filtro-tabla {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
