<div ng-init="init()">
    <div class="headTitleTallerCita">
        <span class="title"> Reporte Timeline Ordenes<span class="subtitle"></span></span>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <!--   <div class="col-lg-12"> -->
            <!--Filtros INI-->
            <div class="contenedorFiltros">
                <div class="col-xs-12">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ibox">
                            <!-- Filtros -->
                            <div class="panel panel-default">
                                <div class="ibox-title " role="tab" id="headingOne">
                                    <h5>Filtros de búsqueda</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </a>
                                    </div>
                                </div>
                                <div id="collapseOne" class="ibox-content bottomBorder collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <!--controles INI-->
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label class="font-normal">Rango fechas COPADE</label>
                                            <div class="input-daterange input-group" id="datepicker" ng-disabled="">
                                                <input type="date" placeholder="Fecha Inicio" class="input-sm form-control"  name="start" ng-model="fechaPagoInicial"  />
                                                <span class="input-group-addon">a</span>
                                                <input type="date" placeholder="Fecha Fin" class="input-sm form-control" name="end"  ng-model="fechaPagoFinal" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <label class="font-normal">Buscar</label>
                                            <br>
                                            <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="searchByPaymentDates()">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            <label class="font-normal">Rango fechas creación de órdenes</label>
                                            <div class="input-daterange input-group" id="datepicker" ng-disabled="">
                                                <input type="date" placeholder="Fecha Inicio" class="input-sm form-control" name="start" ng-model="fechaCreacionInicial" />
                                                <span class="input-group-addon">a</span>
                                                <input type="date" placeholder="Fecha Fin" class="input-sm form-control" name="end" ng-model="fechaCreacionFinal"  />
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <label class="font-normal">Buscar</label>
                                            <br>
                                            <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="searchByOrderCreationDates()">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <label class="font-">Rango de montos</label>
                                            <div class="input-daterange input-group" id="datepicker" ng-disabled="">
                                                <input type="number" placeholder="Monto inicial" class="input-sm form-control" name="start" ng-model="montoInicial"/>
                                                <span class="input-group-addon">a</span>
                                                <input type="number" placeholder="Monto final" class="input-sm form-control" name="end" ng-model="montoFinal" />
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <label class="font-normal">Buscar</label>
                                            <br>
                                            <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="searchByDueRange()">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-1"></div>
                                        <div class="col-xs-4">
                                            <label class="font-normal">Órdenes con monto mayores a</label>
                                            <div class="input-daterange input-group" id="datepicker" ng-disabled="">
                                                <input class="form-control" type="number" name="lname" placeholder="monto" ng-model="montoMayorQue">
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <label class="font-normal">Buscar</label>
                                            <br>
                                            <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="searchByDueGreaterThan()">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div dx-data-grid="gridEstatusOrden"></div>
            </div>
        </div>
    </div>
</div>

<div id="loadModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="spiner-example" style="margin-top: 35%">
            <div class="sk-spinner sk-spinner-wandering-cubes">
                <div class="sk-cube1"></div>
                <div class="sk-cube2"></div>
            </div>
            <div style="color:white;margin-left: 46%; margin-top:20px">Cargando...</div>
        </div>
    </div>
</div>