<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link href="AngularJS/Reporte/Styles/reporteMargenesUtilidad.css" rel="stylesheet">

<link rel="stylesheet" href="Libraries/css/nsPopover.css">
<div ng-init="initUtilidad()">
    <div class="headTitleTallerCita">
        <span class="title">Reporte Márgenes de Utilidad<span class="subtitle"></span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <br>
                        <div class="row">
                           <div class="contenedorFiltros">
                               <div class="col-xs-12">
                                   <div id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="ibox">
                                             <div class="panel panel-default">
                                                 <div class="ibox-title " role="tab" id="headingOne">
                                                     <h5>Filtros de búsqueda</h5>
                                                     <div class="ibox-tools">
                                                        <a class="collapse-link" role="button" data-toggle="collapse" data-parent="#accordion" ng-click="model.$save()" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                 <i class="fa fa-chevron-down"></i>
                                                        </a>
                                                     </div>
                                                 </div>
                                                 <div id="collapseOne" class="ibox-content bottomBorder collapse" role="tabpanel" aria-labelledby="headingOne">
                                                   <div class="row">
                                                       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-repeat="zona in Zonas | orderBy:'orden'">
                                                           <label class="font-noraml">{{zona.etiqueta}}</label>
                                                           <select class="form-control m-b" id="{{zona.orden}}" ng-model="ZonasSeleccionadas[zona.orden]" ng-change="cambioZona(ZonasSeleccionadas[zona.orden], zona.orden)">
                                                               <option value="0">Seleccione</option>
                                                               <option ng-repeat="z in zona.data" ng-if="z.idPadre == ZonasSeleccionadas[z.orden - 1]" value="{{z.idZona}}">
                                                                 {{z.nombre}}
                                                               </option>
                                                           </select>
                                                       </div>
                                                   </div>
                                                   <div class="row espacioInferior">
                                                         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="divfechaMes">
                                                             <label class="font-noraml">Mes</label>
                                                             <div class="input-group date">
                                                                 <input type="text" id="txtMes" readonly="readonly" placeholder="Elija Mes" class="form-control fondoBlanco" value="" ng-change="MesChange()" ng-model="fechaMes" mes>
                                                                 <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                             </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                             <label class="font-noraml">Fecha Inicio a Fecha Fin</label>
                                                             <div class="input-daterange input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="datepicker" ng-disabled="">
                                                                 <input type="text" readonly="readonly" placeholder="Fecha Inicio" class="input-sm form-control fondoBlanco" name="start" ng-model="fechaInicio" ng-change="RangoChange()" calendar/>
                                                                 <span class="input-group-addon"> a </span>
                                                                 <input type="text" readonly="readonly" placeholder="Fecha Fin" class="input-sm form-control fondoBlanco" name="end" ng-model="fechaFin" ng-change="RangoChange()" calendar/>
                                                             </div>
                                                         </div>
                                                         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                             <label class="font-noraml">Tipo Orden</label>
                                                             <select class="form-control" name="tipoCita" ng-model="idTipoCita" ng-options = "tipo.idCatalogoTipoOrdenServicio as tipo.nombreTipoOrdenServicio for tipo in tiposOrdenes">
                                                                 <option value="">Seleccione el Tipo de Orden</option>
                                                             </select>
                                                         </div>


                                                   </div>
                                                   <div class="row espacioInferior">

                                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                               <label class="font-noraml">Rango Inicial</label>
                                                               <input class="touchspin2" type="text" value="" name="demo1" id="rangoi" ng-model="rangoInicial">
                                                            </div>
                                                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                                <label class="font-noraml">Rango Final</label>
                                                                <input class="touchspin2" type="text" value="" name="demo2" id="rangof" ng-model="rangoFinal">
                                                            </div>

                                                       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                                           <label class="font-noraml">Estatus</label>
                                                           <select class="form-control" name="estatus" ng-model="estatus" ng-enter="facturadas()">
                                                               <option value="">Seleccione el Estatus</option>
                                                               <option value="0">Provisionadas</option>
                                                               <option value="7">No Provisionadas</option>
                                                               <option value="1">En Proceso</option>
                                                           </select>
                                                       </div>
                                                       <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                                         <br>
                                                           <button id="btnBuscar" busy="Buscando.." type="button" data-toggle="tooltip" title="Buscar"
                                                               class="btn btn-primary" ng-click="buscaFiltros(1)">
                                                               <span class="glyphicon glyphicon-search"></span>
                                                           </button>
                                                       </div>
                                                       <!-- <div class="col-xs-0">
                                                           <label class="font-noraml">Buscar</label>
                                                           <br>
                                                           <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="buscaFiltros()"><span class="glyphicon glyphicon-search"></span></button>
                                                       </div> -->
                                                   </div>

                                                   <div class="row">
                                                       <div class="col-xs-4">
                                                           <input type="text" placeholder="Buscar Orden" ng-model="numeroOrden" class="form-control">
                                                       </div>

                                                       <div class="col-xs-0">
                                                           <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="buscaOrden(2)"><span class="glyphicon glyphicon-search"></span></button>
                                                       </div>
                                                   </div>

                                                 </div>
                                             </div>
                                        </div>
                                   </div>
                               </div>
                           </div>
                         </div>
                           <br>

                        <br>

                        <br>
                        <br>

                        <br>
                        <br>


                            <div class="row  col-md-offset-4 col-md-offset-5 col-lg-offset-6">
                                  <div class="col-sm-4 col-md-4 col-lg-4">
                                      <h2 class="no-margins ng-binding">{{sumatoriaCosto| currency: "$"}}</h2>
                                      <small>precio costo s/iva</small>
                                  </div>
                                  <div class="col-sm-4 col-md-4 col-lg-4">
                                      <h2 class="no-margins ng-binding">{{sumatoriaPrecio| currency: "$"}}</h2>
                                      <small>precio venta s/iva</small>
                                  </div>
                                  <div class="col-sm-4 col-md-4 col-lg-4">
                                      <h2 class="no-margins ng-binding">{{sumatoriaUtilidad| currency: "$"}}</h2>
                                      <small>utilidad</small>
                                  </div>
                            </div>

                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTableUtilidad" cg-busy="{promise:promise,message:message}">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Consecutivo</th>
                                            <th>Orden</th>
                                            <th>Número Económico</th>
                                            <th>Zona</th>
                                            <th>Talleres</th>
                                            <th>Fecha de Creacion de Orden</th>
                                            <th>Estatus Orden Servicio</th>
                                            <th>Tipo Orden</th>
                                            <th>Estatus provisión</th>
                                            <th>Costo Orden</th>
                                            <th>Precio Orden</th>
                                            <th>Utilidad</th>
                                            <th>Margen Utilidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="margenes in margenUtilidad" title='Zonas' data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{margenes.zonasConcatenadas}}">
                                            <td>{{margenes.Cliente}}</td>
                                            <td>{{margenes.consecutivoOrden}}</td>
                                            <td>{{margenes.numeroOrden}}</td>
                                            <td>{{margenes.numeroEconomico}}</td>
                                            <td>{{margenes.nombreZona}}</td>
                                            <td>{{margenes.talleres}}</td>
                                            <td>{{margenes.fechaCreacionOrden | date:"dd-MM-yy HH:mm" : 'UTC'}}</td>
                                            <td>{{margenes.estatus}}</td>
                                            <td>{{margenes.nombreTipoOrdenServicio}}</td>
                                            <td ng-class="{'rowAzul': margenes.estatusProvision =='No provisionada'}">{{margenes.estatusProvision}}</td>
                                            <td>{{margenes.costo | currency }}</td>
                                            <td>{{margenes.venta | currency }}</td>
                                            <td>{{margenes.utilidad | currency }}</td>
                                            <td ng-class="{'semaforoVerde': margenes.margen >= margenes.margenConfigurado, 'semaforoAmarillo': margenes.margen > 0 && margenes.margen  < margenes.margenConfigurado, 'semaforoRojo': margenes.margen <= 0}">{{margenes.margen | number : 2}}%</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
