<link href="Libraries/css/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="Libraries/css/nsPopover.css">

<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Historial de la Unidad</span>
    </div>
    <div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                       <div class="row">
                            <div class="col-xs-4">
                                <input type="text" placeholder="Buscar Número económico" ng-model="numeroEconomico" class="form-control" ng-enter="getHistorialUnidad(numeroEconomico)">
                            </div>
                            <div class="col-xs-0">
                                <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="getHistorialUnidad(numeroEconomico)"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                        <br/>
                        <tabset>
                            <tab heading="Órdenes" index="0">
                                <br/>
                                <br/>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTableOrden" cg-busy="{promise:promise,message:message}">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Consecutivo</th>
                                                <th>Número de la Orden</th>
                                                <th>Número Económico</th>
                                                <th>Unidad</th>
                                                <th>Tipo Servicio</th>
                                                <th>Zona</th>
                                                <th>Taller</th>
                                                <th>Descripción</th>
                                                <th>Fecha de Aceptación del Trabajo</th>
                                                <th>Fecha Terminación Trabajo</th>
                                                <th>Fecha Salida Unidad</th>
                                                <th>Fecha Generación de Hoja de Trabajo</th>
                                                <th>Fecha Aceptación Cliente Hoja de Trabajo</th> 
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="orden in ordenesUnidad"  ng-click="detalleOrden(orden)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                                <td>{{orden.Cliente}}</td>
                                                <td>{{orden.consecutivoOrden}}</td>
                                                <td>{{orden.numeroOrden}}</td>
                                                <td>{{orden.numeroEconomico}}</td>
                                                <td>{{orden.unidad}}</td>
                                                <td>{{orden.nombreTipoOrdenServicio}}</td>
                                                <td>{{orden.nombre}}</td>
                                                <td>{{orden.talleres}}</td>
                                                <td>{{orden.comentarioOrden}}</td>
                                                <td>{{orden.fechaAprobacion | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{orden.fechaFin | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{orden.fechaInicioReal | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{orden.fechaCertificadoGenerado | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{orden.CertificadoDescargadoCliente | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{orden.nombreEstatusOrden}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Cotizaciones" index="1">
                                <br/>
                                <br/>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTableCotizacion" cg-busy="{promise:promise,message:message}">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Consecutivo</th>
                                                <th>Número de la Orden</th>
                                                <th>Número de Cotización</th>
                                                <th>Número Económico</th>
                                                <th>Unidad</th>
                                                <th>Tipo Servicio</th>
                                                <th>Zona</th>
                                                <th>Taller</th>
                                                <th>Descripción</th>
                                                <th>Fecha Validación o Modificación de Diagnóstico</th>
                                                <th>Fecha Autorización de Diagnóstico Modificado</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cotizacion in cotizacionesUnidad"  ng-click="detalleOrden(cotizacion)" class="cursor" data-toggle="tooltip" tooltip="Ver Detalle" tooltip-placement="top">
                                                <td>{{cotizacion.Cliente}}</td>
                                                <td>{{cotizacion.consecutivoOrden}}</td>
                                                <td>{{cotizacion.numeroOrden}}</td>
                                                <td>{{cotizacion.numeroCotizacion}}</td>
                                                <td>{{cotizacion.numeroEconomico}}</td>
                                                <td>{{cotizacion.unidad}}</td>
                                                <td>{{cotizacion.nombreTipoOrdenServicio}}</td>
                                                <td>{{cotizacion.nombre}}</td>
                                                <td>{{cotizacion.talleres}}</td>
                                                <td>{{cotizacion.comentarioOrden}}</td>
                                                <td>{{cotizacion.fechaCotizacion | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{cotizacion.fechaAutorizacionCot | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{cotizacion.nombreEstatusOrden}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>