.ibox-content{
    border-top: none !important;
}

.fondoBlanco{
    background-color: white !important;
}

.espacioSuperior{
    margin-top: 30px;
}

.modal-header {
    background-color: #55B4F0;
}
.modal-title {
    color: #ffffff;
    font-size: 20px;
}
.close {
    opacity: 1;
    color: #ffffff;
}
.modal-header .close {
    /*margin-top: -20px;*/
    /*margin-right: -10px;*/
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    .table-responsive {
        border: none;
    }
    .ibox-content {
        width: 113%;
        padding: 0px !important;
        margin-left: -10px;
    }
    .ibox-content {
        border: none;
    }
    .ng-isolate-scope .nav {
        padding-left: 10px;
    }
}